@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);

@font-face {
    font-family: "IntroRegular";
    src: url("../fonts/IntroRegular.eot");
    src: url("../fonts/IntroRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/IntroRegular.woff") format("woff"),
    url("../fonts/IntroRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 18px 'Open Sans', sans-serif;
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
h1, h2  {
    font-family: "IntroRegular";
}
h2{
    text-transform: uppercase;
    font-size: 42px;
    position: relative;
    line-height: 42px;
    display: inline-block;
}
h2:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ffc000;
    top: 0;
    left: -20px;
}
h2.lb:after {
    content: '';
    position: absolute;
    width: 190px;
    height: 2px;
    background-color: #ffc000;
    top: calc(50% + 21px);
    right: -90px;
}
h2.lt:after{
    content: '';
    position: absolute;
    width: 190px;
    height: 2px;
    background-color: #ffc000;
    top: calc(50% - 21px);
    right: -90px;
}
h3  {
    font: 800 24px "Open Sans";
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
/*///////////// HEADER /////////////////*/
header{
    background-color: #1a1d22;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 22px 0;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font: 600 24px "Open Sans";
    text-transform: uppercase;
}
.logo a:hover{
     text-decoration: none;
 }

.logo a>span{
    background-color: #ffc000;
    padding:3px 13px;
    margin-right: 15px;
}
.top-menu li{
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 72px;
}
.top-menu li:last-of-type{
    margin-right: 0;
}
.top-menu li:hover a{
    color: #ffc000;
    text-decoration: none;
}
.callback{
    width: 50px;
    height: 50px;
    background: #ffc000 url(../images/phone-ico.png)50% 50% no-repeat;
    cursor: pointer;
}
.catalog-button{
    width: 45px;
    height: 56px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    cursor: pointer;
}
.catalog-button span{
    width: 100%;
    height: 3px;
    background-color: #ffc000;
    box-shadow: 0 0 6px 2px rgba(255, 240, 0, 0.42);
    margin-bottom:10px;
}
.catalog-button span:last-of-type {
    margin-bottom: 6px;
}
.catalog-menu{
    display: none;
}
.buttons{
    justify-content: flex-end;
    margin-top: 13px;

}.catalog-button{
     margin-left: 43px;
 }
/*///////////// MAIN /////////////////*/
.main{
    width: 100%;
    background: url(../images/main-bg.jpg) 0 0 no-repeat;
    padding: 118px 0 73px 0;
}
.main .container{
    position: relative;
}
h1.main-header{
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}
h1.main-header>span{
    font-size: 60px;
    color:  #ffc000;
    display: block;
}
.subheader{
    font-size: 24px;
    color: #fff;
    margin-bottom: 74px;
}
.text{
    font-size: 16px;
    font-style: italic;
    color: #fff;
    line-height: 30px;
}
.text>span{
    text-decoration: underline;
}
.main-slider{
    position: absolute;
    top: -118px;
    right: 0;
    width: 523px;
    height: auto;
}
.owl-theme .owl-nav {
    margin-top: -70px;
    position: absolute;
}
.owl-theme .owl-nav [class*="owl-"] {
    color: #FFF;
    font-size: 14px;
    margin: 0;
    background: #091824;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    width: 70px;
    height: 70px;
}
.owl-next{
    background:#091824 url(../images/slider-arrow-right.png) 50% 50% no-repeat!important;
}
.owl-prev{
    background:#091824 url(../images/slider-arrow-left.png) 50% 50% no-repeat!important;
}
.owl-next:hover{
    background:#102638 url(../images/slider-arrow-right.png) 60% 50% no-repeat!important;
}
.owl-prev:hover{
    background:#102638 url(../images/slider-arrow-left.png) 40% 50% no-repeat!important;
}
.button-wrap{
    display: inline-block;
    width: 277px;
    height: 77px;
    background-image: linear-gradient(to right,#ffc000 0%, #ffc000 40%, transparent 40%, transparent 60%, #ffc000 60%, #ffc000 100%);
    background-size:100% 2px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 2px 0 0 0;
    margin-bottom: 110px;
}
button.zamer{
    width: 277px;
    height: 77px;
    color: #fff;
    background-color: transparent;
    font: 600 16px "Open Sans";
    text-transform: uppercase;
    border: 2px solid #ffc000;
    border-top: none;
    box-shadow: 0 0 10px 5px rgba(255, 240, 0, 0.42);
    position: relative;
    cursor: pointer;
}
button.zamer-black{
    width: 277px;
    height: 77px;
    color: #000;
    background-color: transparent;
    font: 600 16px "Open Sans";
    text-transform: uppercase;
    border: 2px solid #000;
    border-top: none;
    position: relative;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
button.zamer-black:hover{
    border:6px solid;
    border-top: none;
}
button.zamer:hover{
    box-shadow: 0 0 10px 10px rgba(255, 240, 0, 0.42);
}
button.zamer:before,
button.zamer-black:before{
    content: '';
    position: absolute;
    width: 44px;
    height: 30px;
    top: -15px;
    left: calc(50% - 22px);
    background: url(../images/zamer-button-ico.png) 50% 50% no-repeat;
}
button.zamer-black:before{
    background: url(../images/zamer-button-ico-black.png) 50% 50% no-repeat;
}
button.zamer:after{
    content: '';
    position: absolute;
    width: 2px;
    height: 90px;
    background-color:  #ffc000;
    bottom:-80px;
    left: calc(50% - 1px);
    box-shadow: 0 0 10px 5px rgba(255, 240, 0, 0.42);
}
button.zamer-black:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right,#000 0%, #000 40%, transparent 40%, transparent 60%, #000 60%, #000 100%);
    top: 0;
    left: 0;
}
button.zamer-black:hover:after{
    height: 6px;
}

/*///////////// SOLUTIONS /////////////////*/
.solutions{
    padding: 91px 0 88px 0;
    background-color: #f6f6f6;
}
.subh{
    font: 600 19px "Open Sans";
    text-transform: uppercase;
    margin-bottom: 52px;
}
.uslugi-wrap{
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 80px;v
}
.bs{
    box-shadow: 0 17px 16px 0 rgba(0, 0, 0, 0.22);
}
.usl-img{
    width: 100%;
}
.uslugi-wrap img{
    height: 100%;
    object-fit: cover;
}
.usl-desc{
    padding: 45px 46px 25px 30px;
}
.usl-desc h3{
    margin-bottom:7px;
}
.usl-desc p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 23px;
}
.kuhnya-spalnya{
    flex-direction: column;
    width: calc(100%/3*2 - 10px);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

}
.kuhnya{
    margin-bottom: 32px;
    position: relative;
}
.spalnya{
    position: relative;
}
.detskaya{
    width: calc(100%/3 - 21px);
    flex-direction: column;
    margin-bottom: 32px;
    position: relative;
}
.prihozh,
.gostin,
.shkaf{
    width: calc(100%/3 - 21px);
    flex-direction: column;
    position: relative;
}
.prihozh img,
.gostin img,
.shkaf img,
.detskaya img{
    width: 100%;
}
a.catalog{
    display: flex;
    width: 178px;
    height: 49px;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-top: none;
    font: 600 12px "Open Sans";
    text-transform: uppercase;
}
a.catalog:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right,#000 0%, #000 40%, transparent 40%, transparent 60%, #000 60%, #000 100%);
    top: 0;
    left: 0;
}
a.catalog:hover{
    text-decoration: none;
    border: 3px solid #000;
    border-top: none;
}
a.catalog:hover:before{
    height: 3px;
}
.bs:hover .hover-content{
    opacity:1;
}
.bs:hover .usl-desc{
    opacity:0;
}
.hover-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,192,0,0.77);
    text-align: center;
    opacity: 0;
    padding: 0 20%;
    box-shadow: 0 17px 16px 0 rgba(0, 0, 0, 0.22);
}
.hover-content h3 {
    font: 800 36px "Open Sans";
    text-transform: uppercase;
    margin-bottom: 10px;
}
.hover-content p{
    margin-bottom: 31px;
}
/*///////////// PROIZVODSTVO /////////////////*/
.proiz{
    padding-top: 94px;
}
.proiz-icon{
    width: 50%;
    justify-content: space-between;
}
.proiz-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100%/3 - 5px);
    background-color: #e5e5e5;
    box-shadow: 0 17px 16px 0 rgba(0, 0, 0, 0.49);
    font-size: 12px;
}
.proiz-item h4{
    font-weight: 600;
    text-transform: uppercase;
}
/*********************** MOBILE ***************************/

@media only screen and (max-width: 768px){

    .mobile-none {
        display: none!important;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 15px;
    }

}