@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);

@font-face {
    font-family: "IntroRegular";
    src: url("../fonts/IntroRegular.eot");
    src: url("../fonts/IntroRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/IntroRegular.woff") format("woff"),
    url("../fonts/IntroRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 18px 'Open Sans', sans-serif;
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
h1  {
    font-family: "IntroRegular";
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
header{
    background-color: #1a1d22;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 22px 0;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font: 600 24px "Open Sans";
    text-transform: uppercase;
}
.logo a:hover{
     text-decoration: none;
 }

.logo a>span{
    background-color: #ffc000;
    padding:3px 13px;
    margin-right: 15px;
}
.top-menu li{
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 72px;
}
.top-menu li:last-of-type{
    margin-right: 0;
}
.top-menu li:hover a{
    color: #ffc000;
    text-decoration: none;
}
.callback{
    width: 50px;
    height: 50px;
    background: #ffc000 url(../images/phone-ico.png)50% 50% no-repeat;
    cursor: pointer;
}
.catalog-button{
    width: 45px;
    height: 56px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    cursor: pointer;
    margin-top: 13px;
}
.catalog-button span{
    width: 100%;
    height: 3px;
    background-color: #ffc000;
    box-shadow: 0 0 6px 2px rgba(255, 240, 0, 0.42);
    margin-bottom:10px;
}
.catalog-button span:last-of-type {
    margin-bottom: 6px;
}
.catalog-menu{
    display: none;
}
.main{
    width: 100%;
    height: 799px;
    background: url(../images/main-bg.jpg) 0 0 no-repeat;
    padding: 118px 0 121px 0;
}
h1.main{
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}
h1.main>span{
    font-size: 60px;
    color:  #ffc000;
    display: block;
}
/*********************** MOBILE ***************************/

@media only screen and (max-width: 768px){

    .mobile-none {
        display: none!important;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 15px;
    }

}