@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);
@font-face {
    font-family: 'Akrobat Black';
    font-style: normal;
    font-weight: normal;
    src: local('Akrobat Black'),
    url('../fonts/Akrobat-Black.woff') format('woff'),
    url("../fonts/Akrobat-Black.otf") format("truetype");
}

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 14px 'Open Sans', sans-serif;
    background: #f3f3f3 url(../images/bg-min.png) 0 0 repeat;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1240px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
/*********************** HEADER ***************************/
header{
    padding-top: 20px;
}
header .container{
    align-items: center;
    justify-content: space-between;
}
.slog{
    line-height: 18px;
    position: relative;
    margin-left: 45px;
    padding-right: 90px;
}
.slog:before{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: 100%;
    background-color: #e51321;
}
.info a,
#user-city{
    color: #68132c;
}
#user-city{
 text-decoration: underline;

}
.info{
    white-space: nowrap;
    margin-top: 20px;
}
.info p:last-of-type{
    margin-bottom: 15px;
}
.top-contact{
    text-align: right;
}
.top-contact p{
    font-size: 12px;
}
.top-contact a{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}
.top-contact a>span{
    font-size: 20px;
    font-weight: 400;
    color: #595959;
}
.top-contact a:last-of-type{
    margin-bottom: 5px;
}
.cons{
    width: 214px;
    height: 47px;
    border: none;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    color: #fff;
    background-image: linear-gradient(to right, #7b0f22 0%, #7e254d 100%);
    font-family: "Akrobat Black";
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.cons:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.cons:hover:before{
    border:100px solid #fff;
    opacity: 0;
}
#search{
    position: relative;
}
[name="search"]{
    border: 2px solid #7b0f22;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    width: 214px;
    height: 47px;
    padding-left: 22px;
    font-family: "Akrobat Black";
    background-color: transparent;
}
.search{
    position: absolute;
    width: 47px;
    height: 47px;
    border:none;
    background: transparent url(../images/find-ico-min.png) 50% 50% no-repeat;
    top: 0;
    right: 75px;
    cursor: pointer;
}
nav {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.but{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px;
    cursor: pointer;
}
nav p{
    color: #fff;
    text-transform: uppercase;
    margin-right: 110px;
    position: relative;
}
.but span{
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 10px;
}
.but span:last-of-type{
    margin-bottom: 0;
}
nav p:before{
    content: '';
    position: absolute;
    height: 55px;
    width: 1000px;
    background-color: #0d002d;
    top: -17px;
    right: -35px;
    z-index: -1;

}
nav{
    font-family: "Akrobat Black";
    font-size: 18px;
}
.main-slider{
    background: url(../images/bg-main-min.png) 50% 50% no-repeat;
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 150px;
}
.good-slider{
    overflow: hidden;
    padding: 100px 0;
}
.main-slider img{
    width: auto!important;
}
.main-slider h3{
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
}
.owl-carousel .owl-stage-outer {
    overflow: visible
}
.main-slider h3>span {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}
.desc{
    padding-right: 170px;
}
.desc p{
    margin-bottom: 60px;
}
.img{
    position: relative;
}
.img:before{
    content: '';
    position: absolute;
    width: 469px;
    height: 469px;
    background-color: #d3d3d3;
    top: -95px;
    left:-35px;
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.more{
    display: flex;
    width: 208px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid #68132c;
    color: #68132c;
    text-transform: uppercase;
}
.more:hover{
    text-decoration: none;
    background: #68132c;
    color: #fff;
}
/*********************** MOBILE ***************************/

@media only screen and (max-width: 768px){

    .mobile-none {
        display: none!important;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 15px;
    }

}