
* {box-sizing: border-box}

body{
    background: #ececec;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font:100 14px 'Open Sans', sans-serif;

}
a{
    text-decoration: none;
    color: inherit;
    outline: none;
}
a[href^="mailto"]{
    text-decoration: underline;
}
a[href^="mailto"]:hover{
    text-decoration: none;
}
p, figure{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
button{
    cursor: pointer;
    outline:none;
}

header{

}
.content-wrap{
    overflow: hidden;
}
.container{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
.pf{font-family: 'Playfair Display', serif;}

.mobile-header{
    display: none;
}
.flex{
    display: flex;
}
.start{
    justify-content: flex-start;
}
.end{
    justify-content: flex-end;
}
.space-between{
   justify-content: space-between;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.center{
    align-items: center;
}
.hidden{
    opacity:0;
}

.w3{
    width:calc(100%/3 - 10px);
}
.w23{
    width:calc(100%*2/3 - 10px);
}
.w7{
    width:calc(100%/7 - 10px);
}
.w8{
    width:calc(100%/8 - 10px);
}
.logo{
    flex-grow: 1;
    margin-left: 20px;
    margin-bottom: 30px;
}

.top-contact li{
    text-transform: uppercase;
    font-weight: 600;
}
header{
    padding:13px 0 30px 0;
}
header.inner{
    padding:13px 0 0 0;
}
header ul{
    position: relative;
}
header nav{
    background-color: #3e3940;
    padding:30px 0 30px 0;
}
header nav ul li a{
    color: #fff;
    font-size: 19px;
    font-weight: 400;
}
.top-contact ul:before{
    content: '\f041';
    font-family:'FontAwesome';
    position: absolute;
    top: 3px;
    left: -38px;
    font-size: 32px;
}
.top-phone{
    margin-left: 110px;
}
.top-phone ul:before{
    content: '\f098';
    font-family:'FontAwesome';
    position: absolute;
    top: 9px;
    left: -42px;
    font-size: 32px;
}
.top-phone li{
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
}
.mobile-menu{
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -9999px;
    transition: all 1s ease;
    width: 100%;
    z-index: 100;
}
.title-section{
    background-color: #3e3940;
    padding:70px 0 100px;
    position: relative;
    margin-bottom: 148px;
   
}
.header{
    width:400px;
    z-index: 2;
}
.header h1 {
    font-size: 72px;
    color: #fff;
    font-weight: 400;
    line-height: 65px;
    margin-bottom:32px;
}
.header p{
    color: #fff;
    line-height: 24px;
}
.main-slider-wrap{
    position: absolute;
    width:1200px;
    left: 355px;
    top: -55px;
    z-index: 1;
}
.slide-nav{
    position: absolute;
    background-color: #3e3940;
    width: 9900px;
    height: 160px;
    bottom: -82px;
    padding-top: 80px;
    padding-left: 130px;
    left: 160px;
}
.owl-dot{
    cursor: pointer;
    color: #808080;
    font-size: 19px;
    border-bottom:1px solid #fff;
    margin-right: 25px;
}
.owl-dot.active {
    color: #fff;
}
.owl-nav{
    position: absolute;
    left: 190px;
    bottom: -55px;
}
.owl-next,
.owl-prev {
    width: 23px;
    height: 19px;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.catalog-slider-wrap .owl-nav .owl-next,
.catalog-slider-wrap .owl-nav .owl-prev {
    filter: brightness(0);
}
.catalog-slider-wrap .owl-nav{
    left: calc(50% - 146px);
    bottom: -82px;
}

.owl-next:hover,
.owl-prev:hover {
    opacity: 0.5;
}
.owl-next{
    background: url(../images/arrow-right.png) 0 0 no-repeat;
}
.owl-prev{
    background: url(../images/arrow-left.png) 0 0 no-repeat;
    margin-right: 25px;
}
.breadcrumbs{
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    padding-top: 30px;
}
.catalog-slider{
    margin-top: 85px;
}
.catalog-slider.owl-carousel .owl-item img {
    display: block;
    width: unset;
    margin-bottom: 20px;
}
.catalog-slider-wrap .slide-nav{
    background-color: #fff;
    bottom: -110px;
    left: calc(50% - 160px);
}
.catalog-slider-wrap .slide-nav .owl-dot.active{
    color: #000;
    border-bottom: 1px solid #000;
}
.catalog-slider-wrap .slide-nav .owl-dot{
    color: #808080;
    border-bottom: 1px solid #808080;
}
.B_firstCrumb{
    color: #b6b397;
}
.B_currentCrumb{
    color: #3e3940;
}
section h2{
    font-size: 72px;
    color: #303030;
    font-weight: 100;
}
section.inner h2 {
    font-weight: 100;
    text-align: center;
    margin-bottom: 30px;
}
.catalog{
    padding-bottom: 80px;
}
.catalog.inner{
    background-color: #fff;
    padding-bottom: 153px;
}
.catalog p{
    line-height: 24px;
}
.catalog-items{
    justify-content: space-between;
    margin-top: 15px;
}
[class^='cat-item-']{
    height: 299px;
    width: 384px;
    font-size: 36px;
    font-weight: 100;
    padding: 15px 10px;
    color: #fff;
    margin-bottom: 23px;
    position: relative;
    cursor: pointer;
    font-family: "Playfair Display";
    z-index: 1;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
[class^='cat-item-']:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    background-color: #2b1806;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    z-index: 1;
}
[class^='cat-item-']:hover:before{
    opacity:0.83;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    z-index: 0;
}
[class^='cat-item-']:hover span{
    opacity:0;
}
[class^='cat-item-'] .hover-text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.hover-text{
    opacity:0;
    text-align: center;
}
.hover-text p{
    margin-bottom: 35px;
    line-height: 30px;
}
.hover-text a{
    font-size: 18px;
    font-family:"Open Sans";
    padding:18px 30px;
    border:2px solid #fff;
}
[class^='cat-item-']:hover .hover-text{
    opacity: 1 !important;
    z-index: 1;
}
.cat-item-1{
    background: url(../images/pamyatniki.jpg) 0 0 no-repeat;
}
.cat-item-2{
    background: url(../images/blago.jpg) 0 0 no-repeat;
    width: 790px;
}
.cat-item-3{
    background: url(../images/kresty.jpg) 0 0 no-repeat;
}
.cat-item-4{
    background: url(../images/plitka.jpg) 0 0 no-repeat;
}
.cat-item-5{
    background: url(../images/ograda.jpg) 0 0 no-repeat;
}
.about{
    background-color: #fff;
    padding:55px 0 75px;
}
.about h2{
    text-align: center;
    margin-bottom:60px;
}
.about-wrap{
    justify-content: space-between;
}
[class^='about-text-']{
    width: calc(50% - 26px);
}
[class^='about-text-'] p{
    line-height: 24px;
    text-align: justify;
}
.preim{
    background: #3e3940 url(../images/preim-bg.jpg) 50% 50% no-repeat;
    padding:130px 0 260px;
    position: relative;
}
.preim h2{
    color: #fff;
    font-size: 62px;
    line-height: 48px;
    margin-bottom: 30px;
    font-weight: 100;
}
.preim p{
    color: #fff;
}
.preim-icon{
    position: absolute;
    background: url(../images/preim-ico-bg.jpg) 0 0 no-repeat;
    padding: 45px 110px 60px 100px;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    top: -30px;
    left: calc(50% - 90px);
    flex-direction: row;
}
.preim-icon img:first-child{
    margin-right:20px;
}
.preim-icon img:last-child{
    margin-right:20px;
}
.preim-icon img:nth-child(3){
    margin-left: 40px;
    margin-top: 50px;
}
.callback{
    background: url(../images/callback-bg.jpg) 50% 50% no-repeat;
    justify-content: center;
}
.callback .container{
    padding:73px;
}
.call-form-wrap{
    background: url(../images/call-form-bg.jpg) 50% 50% no-repeat;
    justify-content: normal;
}
.form-text{
    padding: 130px 0;
    width: 50%;
}
.form-text h3{
    font-size:40px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 100;
    margin-bottom: 32px;
}
.form-text p{
    font-size:18px;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: 100;
}
#call{
    padding: 75px 60px 0 60px;
    width: 50%;
}
#call input {
    width: 100%;
    background: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    margin-bottom: 65px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
#call input[name='email']{
    margin-bottom: 30px;
}
#call button{
    width: 219px;
    height: 56px;
    font-size: 18px;
    color: #3e3940;
    text-transform: uppercase;
    border:none;
    background-color: #b6b397;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#call button:hover{
    background-color: rgba(182,179,151,0.6);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#call ::placeholder{ opacity:1;}
#call ::-webkit-input-placeholder{ opacity:1;}
#call ::-moz-placeholder{ opacity:1;}
#call :-ms-input-placeholder{ opacity:1;}
footer{
    background: #000 url(../images/footer-bg.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    padding:55px 0 75px;
}
footer a:hover{
    text-decoration: underline;
}
footer h4{
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.f-menu li, .f-services li{
    margin-bottom: 13px;
}
.f-menu{
    margin-right: 125px;
    white-space: nowrap;
}
.f-services{
    margin-right: 145px;
    white-space: nowrap;
}
.f-adress{
    margin-right: 80px;
    white-space: nowrap;
}
.f-adress li:nth-child(2){
    font-size: 24px;
    font-weight: 600;
}
.f-adress ul{
    margin-bottom: 45px;
}
.f-copy{
    padding-top: 40px;
}
.f-copy img{
    margin-bottom: 25px;
}
.f-copy p{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
}
.f-copy a{
    font-size: 12px;
    font-weight: 800;
    text-decoration: underline;
}
.f-copy a:hover{
    text-decoration: none;
}
.blured {
    filter: blur(4px);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.fixed{
    position: fixed;
}
.mobile-menu span {
    font-family: "GothamProBold";
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding:40px 0;
    background: #fff url(../images/m-menu-back.png) 20% 50% no-repeat;
    cursor: pointer;
    border-bottom: 1px solid #d5d3d5;;
}
.mobile-menu ul{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
}
.mobile-menu ul li{
    width:calc(100%/3);
    border-right:1px solid #d5d3d5;
    border-bottom:1px solid #d5d3d5;
    flex-grow: 1;
    text-align: center;
    min-height: 110px;
    position: relative;
}
.mobile-menu ul li a{
    font-family: "GothamProBold";
    font-size: 11px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 30px;
}
.mobile-menu ul li:nth-child(1){
    background: #fff url(../images/m-menu-about.png) 50% 50% no-repeat;
}
.mobile-menu ul li:nth-child(2){
    background: #fff url(../images/m-menu-portfolio.png) 50% 50% no-repeat;
}
.mobile-menu ul li:nth-child(3){
    background: #fff url(../images/m-menu-uslugi.png) 50% 50% no-repeat;
}
.mobile-menu ul li:nth-child(4){
    background: #fff url(../images/m-menu-stoimost.png) 50% 50% no-repeat;
}
.mobile-menu ul li:nth-child(5){
    background: #fff url(../images/m-menu-contact.png) 50% 50% no-repeat;
}
.mobile-menu ul li:nth-child(6){
    background: #fff url(../images/m-menu-blog.png) 50% 50% no-repeat;
}
.modal-overlay{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index:100;

}
.order-form{
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: visible;
    max-width:930px;
    position: relative;
    padding:73px 525px 75px 75px;
}
.order-form:before{
    content: '';
    position: absolute;
    top: -46px;
    right: -485px;
    background: url(../images/modal-bg.png) 0 -39px no-repeat;
    width: 100%;
    height: 100%;

}
.order-form h3{
    font-family: "GothamProBlack";
    font-size: 30px;
    text-transform: uppercase;
    margin:0 0 10px 0;
}
.order-form p{
    font-size: 14px;
    text-transform: uppercase;
    margin:0 0 25px 0;
}
span.close{
    position: absolute;
    top: 13px;
    right: 18px;
    cursor: pointer;
    width: 27px;
    height: 27px;
    background: url(../images/modal-close.png) 0 0 no-repeat;
    transition: all ease 0.3s;
}
span.close:hover{
transform: scale(0.85);
    transition: all ease 0.3s;
    background: url(../images/modal-close.png) 0 0 no-repeat;
}
.order-form form{
    display: flex;
    flex-direction: column;
}
.order-form form::placeholder{
    opacity: 1;
}
.order-form form::-moz-placeholder{
    opacity: 1;
}
.order-form form::-webkit-input-placeholder{
    opacity: 1;
    margin-top: 40px;
}
.order-form form:-ms-input-placeholder{
    opacity: 1;
}
.order-form input{
    height: 55px;
    border:none;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    background: transparent;
    font-family: "GothamProLight";
    font-size: 11px;
    text-transform: uppercase;
}
.order-form input:last-of-type{
    margin-bottom: 55px;

}
/* ---------------- Mobile -----------------*/

@media only screen and (max-width : 768px) {

    .mobile-none {
        display: none!important;
    }
    .order-form{
        padding:20px;
    }
    .order-form h3 {
        font-size: 25px;
        margin: 35px 0 10px 0;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 10px;
    }

}
