@font-face {
    font-family: "BanderaProBold";
    src: url("../fonts/BanderaPro-Bold.otf");
}
@font-face {
    font-family: "BanderaPro";
    src: url("../fonts/BanderaPro.otf");
}
:-moz-placeholder{
    font-family:  'Open Sans';
    color: #868686;
    font-size: 14px;

}
:-ms-input-placeholder{
    font-family:  'Open Sans';
    color: #868686;
    font-size: 14px;

}
::-webkit-input-placeholder{
    font-family:  'Open Sans';
    color: #868686;
    font-size: 14px;

}
::placeholder{
    font-family:  'Open Sans';
    color: #868686;
    font-size: 14px;

}


header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 35px;
}
a{
    text-decoration: none;
    color: inherit;
    outline: none;
}
p, figure{
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none
}
button{
    cursor: pointer;
}

.top-red{
    color: #e60000;
    font: 800 12px/22px 'Open sans';
}
.top-addr{
    font-weight: 700;
}
.phone{
    font-size: 32px;
    font-weight: 600;
}
.phone span{
    font-size: 18px;
    font-weight: 600;
    color: #e60000;
}
.container{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
.text-uppercase {
    text-transform: uppercase;
}

body{
    background: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family:'Open Sans';

}

.top-search{
    display: flex;
}
input{
    height: 46px;
    width: 155px;
    background-color: #f2f2f2;
    border:none;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    color: #999;
    padding:0 10px;
    transition: 0.3s;
}
input:focus, input:hover{
    transition: 0.3s;
    -webkit-box-shadow: inset 0 0 4px 0px #ccc;
    -moz-box-shadow: inset 0  0 4px 0px #ccc ;
    box-shadow: inset 0 0 4px 0px #ccc;
}
button.search{
    width: 47px;
    height: 48px;
    background: #f2f2f2 url('../images/search-lupa.png') 50% 50% no-repeat;
    border:none;
    border: 1px solid #e0e0e0;
    border-right: 0;
    transition: 0.3s;
}
button.search:hover{
    background: #f0f0f0 url('../images/search-lupa.png') 50% 50% no-repeat;
    transition: 0.3s;
}
a.top-email{
    font-size: 14px;
    text-decoration: underline;
    color: #000;
    margin-bottom: 10px;
}
button.modal-form{
    border:none;
    font-size: 18px;
    color: #fff;
    width: 179px;
    height: 47px;
    background-color: #e60000;
    -webkit-box-shadow: 0 8px 13px #ff0000;
    -moz-box-shadow:  0 8px 13px #ff0000;
    box-shadow:  0 8px 13px #ff0000;
    transition: 0.3s;
}
button.modal-form:hover{
    /*     background-color: #e60000; */
    -webkit-box-shadow: 0 4px 13px rgba(24,88,152, 0.95);
    -moz-box-shadow:  0 4px 13px rgba(24,88,152, 0.95);
    box-shadow:  0 4px 13px rgba(24,88,152, 0.95);
    transition: 0.3s;
}
.fade {
    transition: background-color 1000ms;
}
.fade:hover {
    background-color: rgba(24,88,152,1);
}
button.modal-form.big{
    width: 217px;
    height: 57px;
}
.button{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    position: relative;
    top: 6px;
}
.mob-menu{
   visibility: hidden;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(143,27,15,0.9);
    transition: all 0.5s;
}
.visible{
    visibility: visible;
    transition: all 0.5s;
}
.blured{
    filter:blur(3px);
}
.mob-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.mob-menu ul li{
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.mob-menu ul li:hover{
    background: rgba(143,27,15,0.5);
 }
.mob-menu ul li a{
    text-transform: uppercase;
    color: #fff;
}
.mob-menu-button{
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background: #e60000;
    z-index: 100;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition:all 0.3s;
}
.mob-menu-button span{
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 8px;
    transition:all 0.3s;

}
.mob-menu-button span:last-child{
    margin-bottom: 0px;
}
.mob-menu-button.open span:first-child{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition:all 0.3s;
}
.mob-menu-button.open span:nth-child(2){
    display: none;
}
.mob-menu-button.open span{
    margin-bottom: 0;
    position: absolute;
    top: 50%;
}
.mob-menu-button.open span:last-child{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all0.3s;
}
.main-section{
    width: 100%;
    height:auto;
    background: transparent url(../images/BG-crane.jpg) center -90px no-repeat;
}
.main-section nav{
    background-color: rgba(24,88,152, 0.95);
    box-shadow: 0px 0 24px 1px rgba(0,0,0,0.24);
}
.main-section ul {
    display: flex;
    justify-content:space-between;
    font:600 12px/50px 'Open Sans';
    text-transform: uppercase;
    color: #fff;
}
.main-section ul li a:hover{
    text-decoration: underline;
}
.main-section h1{
    font-size: 30px;
    font-weight: 300;
    color: #000;
    text-transform: uppercase;
    margin-top: 145px;
}
.main-section h1 span{
    font-size: 48px;
    color: #000;
    font-family: "BanderaProBold";
}
.main-text{
    font:300 18px/30px 'Open Sans';
}
.main-content{
    width: 59%;
}
.main-content button{
    margin-bottom: 130px;
}
.main-icon{
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
    margin-bottom: 38px;
}
.main-icon img{
    float: left;
    margin-right: 15px;
}
figure p{
    font:700 14px/18px 'Open Sans';
    padding-top: 10px;
}

.main-icon figure:first-child p{
    width: 89%;
    padding-top: 0;
}
.preim {
    position: absolute;
    background-color: #fff;
    display: flex;
    width: 1200px;
    justify-content: space-around;
    padding: 34px 0;
    transform: skew(-25deg);
    left: 35px;
    bottom: -85px;
    -webkit-box-shadow: 29px 26px 46px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 29px 26px 46px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 29px 26px 46px 0px rgba(0, 0, 0, 0.22);
}
.preim img{
    transform: skew(25deg);
}
.middle-section{
    width: 100%;
    height: auto;
    background: #fff url(../images/middle-bg.png) center -508px no-repeat;
}
.catalog{
    padding-top: 120px;
}
.catalog h2 {
    font:800 48px/30px 'BanderaProBold';
}

.catalog-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.catalog-list-item{
    background: #fff;
    margin-right: 18px;
    max-width: 390px;
    box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}
.catalog-list-item:last-child{
    margin-right: 0px;
}
.catalog-list-item p{
    font:800 14px/24px 'Open Sans';
    margin-top: 15px;
    margin-bottom: 95px;
    text-transform: uppercase;
    padding:0 29px;
}
.catalog-list-item a{
    font:400 18px/24px 'Open Sans';
    color: #ff0000;
    position: absolute;
    bottom:35px;
    padding:0 29px;
    transition: 0.3s;
}
.catalog-list-item a:hover{
    text-decoration: underline;
    color: rgba(24,88,152, 0.95);
    transition: 0.3s;
}
.catalog-list-item img  {
    width: 100%;
}
.catalog-list-item:hover .hover-content  {
    opacity:0.95;
}
.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff0000;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity:0;
}
.hover-content h3 {
    font: 400 30px/48px 'BanderaPro';
    text-transform: uppercase;
    margin-top: 105px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}
.hover-content p {
    font: 400 18px/24px 'BanderaPro';
    margin-bottom: 55px;
    text-align: center;
    color: #fff;
    text-transform: unset;
    padding: 0 60px;
}
.hover-content a {
    color: #fff;
    padding: 20px 60px;
    left: 20%;
    bottom:85px;
    border:1px solid #fff;
}
.hover-content a:hover {
    color:#ff0000;
    background-color: #fff;
    padding: 20px 60px;
    left: 20%;
    bottom:85px;
    border:1px solid #fff;
    -webkit-transition: background-color ease 0.3s ;
    -moz-transition: background-color ease 0.3s;
    -ms-transition: background-color ease 0.3s;
    -o-transition: background-color ease 0.3s;
    transition: background-color ease 0.3s;
}
.about h2 {
    font:800 48px/30px 'BanderaProBold';
    margin-bottom: 55px;
}
.about-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.about-text p{
    font:300 18px/30px 'Open Sans';
    margin-bottom: 60px;
    padding-right: 145px;
}
.about-text p span {
    font-weight: 700;
}
.about-img{
    position: relative;
    top: -83px;
}
.about-img img{
    position: relative;
}
.about-img:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: -32px;
    top: 32px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.36);
}
.map{
    width: 100%;
    background: url(../images/map.jpg) 0 0 no-repeat;
    margin-top: -15px;
}
.map p{
    font:300 30px/30px 'BanderaProBold';
    text-transform: uppercase;
    text-align: center;
    padding:90px 0;
}
.carusel-wrap{
    width:100%;
    display: block;
    margin: 0 auto;
}
.letters{
    width: 100%;
    overflow: hidden;
    position: relative;

}
.letters h2 {
    font:800 48px/30px 'BanderaProBold';
    margin-bottom: 55px;
    margin-top: 60px;
}
.item-letter{
    display: flex;
    justify-content:center;
    width: 100%;
}
.img-letter{
    margin-bottom: 180px;
}


.img-letter img{
    border: 10px solid #000;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.48);
    max-width:320px;
}
.text-otzyw{
    background: #006699;
    padding:50px 30px;
    box-shadow: 11px 10px 32px 0px rgba(0, 51, 102, 0.75);
    max-width:270px;
    color: #fff;
    position: relative;
    top: 127px;
    margin-bottom: 180px;


}
.text-otzyw h3 {
    font: 800 24px/20px 'Open Sans';
}
.text-otzyw p {
    font: 400 14px/24px 'Open Sans';
}

.owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}
.owl-nav{
    position: absolute;
    right: 345px;
    top: 175px;
    display: flex;
}
.owl-prev, .owl-next{
    width: 17px;
    height: 32px;
    background: url(../images/arrow-nav.png) 0 0 no-repeat;
    cursor: pointer;
    display: inline-block;
}
.owl-next{
    transform:rotate(-180deg);
    position: relative;
    top: 20px;
    right: -22px;
}
.owl-prev{
    left: -22px;
    position: relative;
    top: 20px;
}
.slide-number {
    font: 300 45px/00px 'Open Sans';
    color: #666;
}
.slide-number span{
    font: 900 60px/30px 'Open Sans';
    color: #000;
    margin-right: -3px;
}
.news{
    background: #f8f8f8;
    margin-top: -60px;
    padding-bottom: 90px;
}
.news h2 {
    font:800 48px/30px 'BanderaProBold';
    margin-bottom: 55px;
    padding-top: 90px;
}
#news-list .owl-nav{
    display: none;
}
#news-list .owl-stage-outer{
    overflow: visible;
}
.news-item{
    display: block;
    background: #fff;
    padding: 40px 25px;
    box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.37);
    min-height:240px;
}
.news-date{
    font: 300 14px/30px 'Open Sans';
    color: #999;
}
.news-header{
    font: 800 14px/24px 'Open Sans';
    color: #000;
    text-transform: uppercase;
}
.news-annons{
    font: 300 14px/24px 'Open Sans';
    color: #666;
    margin-top: 15px;
}
.news-item a.more-button{
    width: 60px;
    height: 60px;
    background: #006699 url(../images/more-arrow.png) 50% 50% no-repeat;
    position: absolute;
    right: 0;
    bottom:0;
    transition: background 0.3s;
}
.news-item a.more-button:hover{
    background: #ff0000 url(../images/more-arrow.png) 50% 50% no-repeat;
    transition: background 0.3s;
}
#map {
    height: 475px;
    width: 100%;
}
.contact-map{
    position: relative;
}
.footer-card{
    display: flex;
    position: absolute;
    flex-direction:column;
    background-color: #fff;
    padding: 27px 69px 69px 63px;
    top: 25px;
    left: 0;
    box-shadow: 24px 21px 21px 0px rgba(0, 0, 0, 0.27);
    z-index:1;
}
.footer-card .button{
    align-self: flex-start;
}
.footer-card .button button{
    text-transform: uppercase;
    width: 205px;
    height: 55px;
}
.footer-card .top-addr {
    font-weight: 400;
}
.footer-card a.top-email {
    font-size: 14px;
    text-decoration: underline;
    color: #000;
    margin-bottom: 25px;
}
footer{
    background: #000;
    color: #fff;
    padding:40px 0;
}
footer .contact{
    margin-top: 25px;
}
footer a.phone{
    font: 600 24px/40px 'Open Sans';
    display: block;
}
footer a.top-email{
    font: 400 15px/18px 'Open Sans';
    color: #fff;
    display: block;
}
footer .container{
    display: flex;
}
footer .menu{
    margin-left: 255px;
}
footer .menu p{
    font: 800 18px/24px 'Open Sans';
    text-transform: uppercase;
    margin-bottom: 7px;
}
footer .menu ul li{
    font: 600 12px/30px 'Open Sans';
    text-transform: uppercase;
}
footer .copiright{
    margin-left: 360px;
}
footer .copiright a{
    font: 400 11px/18px 'Open Sans';
    color: #ffcc33;
}
footer .copiright p{
    font: 400 11px/18px 'Open Sans';
    margin-bottom: 30px;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.form-wrap{
    width: 320px;
    height: 400px;
    background-color: #000;
    box-shadow: 0 0 60px -10px #ff0001;
    position: relative;
}
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
}

.md-content {
    color: #fff;
    background: #e74c3c;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}
.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
}
.md-content > div p {
    margin: 0;
    padding: 10px 0;
}
.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}
.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(143,27,15,0.8);
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}
.md-show ~ .content-wrap {
    -ms-filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
}
.close {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 13px;
    font-weight: 100;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
    margin: 10px;
    border-bottom: 1px dashed;
}
.close:focus, .close:hover {
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
}
#vopros{
    display: flex;
    flex-direction:column;
    align-content: center;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100%;
}
#vopros input, #vopros textarea, #vopros button {
    width: 250px;
    margin:10px 0;
    border: none;
    height: 50px;
    padding: 0 10px;
}
#vopros textarea {
    height: 100px;}
#vopros button{
    text-transform: uppercase;
    color: #fff;
}
/* Mobile */

@media only screen and (max-width : 768px) {
    .mobile-none{
        display: none;
    }
    .container {
        width: 100%;
    }
    .container {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
    }
    header {
        margin-bottom: 10px;
    }
    .logo img{
        max-width: 165px;
    }
    .main-content {
         width: 100%;
     }
    .main-content button {
        margin-bottom: 45px;
    }
    .main-section {
        background: transparent url(../images/BG-crane.jpg) -355px -130px no-repeat;
    }
    .main-section h1 {
        font-size: 18px;
        font-weight: 300;
        padding-top: 40px;
        margin-top: 0;
    }
    .main-section h1 span {
        font-size: 36px;
    }
    .main-icon {
        margin-top: 20px;
        margin-bottom: 25px;
        flex-direction: column;
    }
    .main-icon figure:first-child p {
        width: 100%;
        padding-top: 0;
    }
    .main-icon img {
        margin-right: 10px;
    }
    figure  {
        margin-bottom: 30px;
    }
    figure p {
        padding-top: 0px;
    }

    .mob-menu-button{
        display: flex;
        position: fixed;
        top: 15px;
        right: 15px;
        width: 25px;
        height: 25px;
    }
    .preim {
        position: relative;
        background-color: #fff;
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 0;
        transform: unset;
        left: unset;
        bottom: unset;
        -webkit-box-shadow: 29px 26px 46px 0px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 29px 26px 46px 0px rgba(0, 0, 0, 0.22);
        box-shadow: 29px 26px 46px 0px rgba(0, 0, 0, 0.22);
        flex-direction: column;
        flex-wrap: wrap;
    }
    .preim img{
        display: block;
        margin: 30px auto;
        transform: unset;
    }
}