@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700,800&amp;subset=cyrillic);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after, :before, :hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 20px/24px 'EB Garamond', serif;
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1200px;
    padding:0;
    margin: 0 auto;
    position: relative;
}
.delay-1{
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.delay-2{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.delay-3{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.delay-4{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.delay-5{
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-6{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.delay-7{
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.delay-8{
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.delay-9{
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.delay-10{
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
}
/***********  main section    ***************/
header nav{
    margin-top: 42px;
    justify-content: space-between;
}
li i{
    color: #ffe9b3;
}
li i{
    color: #ffe9b3;
    position: relative;
}
li i:after{
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: -4px;
    top: -6px;

}
nav ul:first-of-type li a{
    margin-right: 61px;
    font-size: 20px;
    position: relative;
}
nav ul:first-of-type li a:hover{
    text-decoration: none;
}
nav ul:first-of-type li a:before{
    content: "";
    position: absolute;
    width:0;
    height: 1px;
    background-color: #fff;
    bottom: -13px;
    left: 0;
}
nav ul:first-of-type li a:hover:before{
    width: 100%;
}
.cont{
    flex-direction: column;
    align-items: center;
}
.soc li{
    margin-right: 34px;
}
.soc li:hover{
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}
.main{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: url(../images/main-bg.jpg) 50% 50% no-repeat;
}
.main-content{
    width: 100%;
    height: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-end;
    padding: 141px 170px 90px 0;
    text-align: center;
    position: relative;
}
.main-content:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/lubomirov-main.png)0 -25px no-repeat;
    top: 0;
    left: -150px;
}
.main-content h1{
    font-size: 83px;
    line-height: 81px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    text-shadow:  0 0 10px #fff;
    position: relative;
    z-index: 1;
    background-color:transparent;
}
.main-content h1:before{
    content: '';
    position: absolute;
    width: 600px;
    height: 1px;
    background-image: linear-gradient(to right,  #fff 0%, #fff 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 75%, #fff 75%, #fff 100%);
    background-image: -webkit-linear-gradient(to right,  #fff 0%, #fff 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 75%, #fff 75%, #fff 100%);
    background-image:-moz-linear-gradient(to right,  #fff 0%, #fff 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 75%, #fff 75%, #fff 100%);
    background-image: -o-linear-gradient(to right,  #fff 0%, #fff 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 75%, #fff 75%, #fff 100%);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 0;
    top: 70%;
    left: -50px;
}
.main-content h1 span{
    font-size: 60px!important;
}
.subheader{
    font-size: 20px;
    color: #ffe9b3;
    font-family: "Open Sans";
}
.main-content button{
    margin: 63px 0;
}
.zapis{
    background-color: transparent;
    border: 2px solid #ffe9b3;
    width: 232px;
    height: 65px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.zapis:before{
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: transparent;
    border: 2px solid #ffe9b3;
    top: 4px;
    left: -8px;
}
.zapis:hover:before {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}
.zapis:hover{
    border: 1px solid rgba(255,255,255,0.4);
    text-shadow: 0 0 5px #fff;
    text-decoration: none;
}
a.zapis{
    display: flex;
    justify-content: center;
    align-items: center;
}
.down{
    width: 178px;
    height: 55px;
    cursor: pointer;
    margin-top: 76px;
    background: url(../images/arrow-down.png) 0 0 no-repeat;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    z-index: 0;
}
.down:hover{
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
/********************* services *******************/
.services{
    width: 100%;
    height: auto;
    background: url(../images/serv-bg.jpg) 50% 0 no-repeat;
    padding:141px 0 68px 0;
}
.serv-slider{
    width: 564px;
}
.serv-item{
    overflow: hidden;
}
.serv-item h2{
    font-size: 60px;
    font-weight: 100;
    line-height: 38px;
    margin-bottom: 55px;
}
.serv-item p{
    font:100 18px/30px "Open Sans";
    margin-bottom:47px;
}
.serv-item button{
    margin: 130px 0 30px 30px;
}
.main-slider .owl-nav{
    display: flex;
    position: absolute;
    bottom: 145px;
    width: 275px;
    justify-content:space-between;
}
.main-slider .owl-prev, .main-slider .owl-next{
    width: 71px;
    height: 71px;
    cursor: pointer;
}
.main-slider .owl-prev:hover, .main-slider .owl-next:hover{
    filter: drop-shadow( 0 0 5px #ffe9b3);
}
.main-slider .owl-prev{
    background: url(../images/nav-left.png) 0 0 no-repeat;
}
.main-slider .owl-next{
    background: url(../images/nav-right.png) 0 0 no-repeat;
    order:1;
}
.main-slider .owl-dots{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 175px;
    left: 120px;
}
.main-slider .owl-dot{
    width: 7px;
    height: 7px;
    background-color: #999;
    margin-right: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
.main-slider .owl-dot.active{
    width: 10px;
    height: 10px;
    background-color: #fff;
}
/********************* foto video *******************/
.foto-video{
    width: 100%;
    height: auto;
    background: url(../images/foto-video-bg.jpg) 50% 0 no-repeat;
    padding:134px 0 143px 0;
}
.foto-video .container{
    flex-direction: column;
    align-items: center;
}
.slider-vievport{
    position: relative;
    width: 788px;
    height: 590px;
    margin-top: 65px;
}
button.foto,
button.video{
    width: 209px;
    height: 63px;
    font-size: 24px;
    text-transform: uppercase;
    border:1px solid #ffe9b3;
    margin: 0;
    color: #ffe9b3;
    background-color: transparent;
    margin-right: -5px;
}
button.foto:hover,
button.video:hover,
button.foto.active,
button.video.active{
    color: #000;
    background-color: #ffe9b3
}
.slider-foto{
    box-shadow: 13px 11px 35px 0px rgba(0, 0, 0, 0.52);
}
.slider-foto, .slider-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider-video iframe{
    width: 100%!important;
    height: 590px;
}
/************* news & blog ******************/
.news{
    width: 100%;
    height: auto;
    background: url(../images/news-bg.jpg) 50% 0 no-repeat;
    padding:149px 0 111px 0;
    overflow: hidden;
}
.news h2{
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 95px;
}
.controls ul{
    margin-bottom: 40px;
}
li.filter{
    font-size: 24px;
    font-weight: 100;
    border:1px solid #ffe9b3;
    border-right:none;
    flex-grow: 1;
    text-align: center;
    padding:20px 0;
    cursor: pointer;
}
li.filter:last-child{
    border-right:1px solid #ffe9b3;
}
li.filter:hover, li.filter.active{
    background-color: #ffe9b3;
    color: #000;
}
#news-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 69px;
}
.news-item{
    background-color: #000;
    padding:30px 10px 10px 10px;
    max-width: 50%;
    display: none;
}
.news-item p{
    font-size: 30px;
    font-weight: 100;
    line-height: 35px;
}
.news-item span{
    font-size: 14px;
    font-weight: 100;
    font-family:"Open Sans";
    color: #999;
    display: inline-block;
    margin:22px 0;
}
.news .zapis{
    margin:0 auto;
}
/******************** footer *********************/
footer{
    width: 100%;
    height: 352px;
    background: url(../images/footer-bg.jpg) 50% 0 no-repeat;
    padding:43px 0 60px 0;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
.footer-menu{
    margin-top: 25px;
}
.footer-menu li{
    margin-bottom: 20px;
}
.footer-copyright{
    margin-top: 35px;
}
.footer-copyright p{
    margin: 27px 0 30px 0 ;
    font:100 12px/18px "Open Sans";
}
.policy{
    font:700 12px/18px "Open Sans";
    text-decoration: underline;
}
.footer-center{
    text-align: center;
    margin-left: 120px;
}
.footer-center ul{
    justify-content: center;
    margin-bottom: 10px;
}
.footer-center ul li{
    margin-right: 30px;
}
.footer-center ul li:last-child{
    margin-right: 0;
}
.footer-center h3{
    font-size: 56px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    text-shadow:  0 0 10px #fff;
    position: relative;
    z-index: 1;
    background-color:transparent;
    margin-bottom: 25px;
}
.footer-center h3 span{
    font-size: 40px!important;
}
/*************** pop up ********************/
.popup-wrap{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items:center;
    justify-content:center;
    z-index: 100;
}
#popup {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 0 43px 0 rgba(255, 255, 255, 0.43);
    padding: 35px 55px;
}
#popup h3{
    font:100 36px/36px "Garamond";
    text-align: center;
    margin-bottom: 16px;
}
#popup input{
    position: relative;
    width: 100%;
    height: 62px;
    padding: 0 28px;
    font-size: 18px;
    color: #000;
    font-family:"Garamond";
    border:none;
    margin-bottom: 16px;
}
#popup div{
    position: relative;
}
#popup div:before{
    position: absolute;
    content: '';
    width:calc(100% + 6px);
    height:calc(100% - 10px);
    border:1px solid #ffe9b3;
    top: -3px;
    left: -3px;
}
#popup button{
    display: block;
    margin: 0 auto 30px;
}
#popup p, #popup a{
    font:400 12px/18px "Open Sans";
    color: #999;
    text-align: center;
}
#popup a{
    text-decoration: underline;
}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url(../images/popup-close.png) 0 0 no-repeat;
    cursor: pointer;
}
.blured{
    filter:blur(2px);
    -ms-filter: blur(2px);
    -webkit-filter:blur(2px) ;
}
.menu-button{
    display: none;
}
/* ---------------- Mobile -----------------*/

@media only screen and (max-width : 768px) {

    .mobile-none {
        display: none!important;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 15px;
    }
    header nav {
        margin-top: 30px;
    }
    .soc li {
        margin-right: 22px;
    }
    .menu-button{
        position: absolute;
        top: 29px;
        right: 19px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main {
        background: url(../images/main-bg-mob.jpg) 50% 100% no-repeat;
    }
    .menu-button span{
        width: 29px;
        height: 2px;
        background-color: #fff;
        margin-bottom: 8px;
    }
    .main-content {
        padding: 66px 0 90px 0;
    }
    .main-content:before{
        background:none;
    }
    .main-content h1 {
        font-size: 38px;
        line-height: 36px;
    }
    .main-content h1:before{
        background-image:none;
    }
    .main-content h1 span {
        font-size: 31px !important;
    }
    .subheader {
        font-size: 14px;
        line-height: 18px;
        margin-top: 20px;
    }
    .main-content button {
        margin: 22px 0 400px 0;
    }

    .services {
        background: url(../images/serv-bg.jpg) 100% 50% no-repeat;
        padding: 101px 0 68px 0;
    }
    .services {
        width: 100%;
        height: auto;
        background: url(../images/serv-bg.jpg) 0 50% no-repeat;
        padding: 101px 0 68px 0;
    }
    .serv-slider {
        width: 100%;
    }
    .serv-item h2 {
        font-size: 36px;
        font-weight: 100;
        line-height: 30px;
        margin-bottom: 45px;
        text-align: center;
    }
    .serv-item p {
        font: 100 14px/24px "Open Sans";
    }
    .main-slider .owl-nav {
        width: 100%;
    }
    .serv-item button {
        margin: 130px auto 30px auto;
        display: block;
    }
    .foto-video {
        padding: 102px 0 0 0;
    }
    .tabs{
        width: 100%;
    }
    button.foto, button.video {
        width: 50%;
        height: 47px;
        font-size: 18px;
    }
    .slider-vievport {
        position: relative;
        width: 100%;
        margin-top: 28px;
        height: auto;
    }

    .slider-foto, .slider-video {
        position: relative;
    }
    .slick-slide img {
        display: block;
        width: 100%;
        height: auto;
    }
    .slider-video iframe {
        height:unset;
    }
    .slick-prev, .slick-next{
        width: 71px;
        height: 71px;
        top: unset;
        bottom: 50px;
    }
    .slick-next {
        right: 0;
        background: url(../images/nav-right.png) 0 0 no-repeat;
    }
    .slick-prev {
        left: 0;
        background: url(../images/nav-left.png) 0 0 no-repeat;
    }
}