@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700,800&amp;subset=cyrillic);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);
* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after, :before, :hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 20px/24px 'EB Garamond', serif;
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.flex{
    display: -webkit-flex;
    display: flex;
}
.container {
    width: 1200px;
    padding:0;
    margin: 0 auto;
    position: relative;
}
.delay-1{
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.delay-2{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.delay-3{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.delay-4{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.delay-5{
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-6{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.delay-7{
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.delay-8{
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.delay-9{
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.delay-10{
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
}
/***********  main section    ***************/
header nav{
    margin-top: 42px;
    justify-content: space-between;
}
nav i{
    color: #ffe9b3;
}
nav i{
    color: #ffe9b3;
    position: relative;
}
nav i:after{
content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: -4px;
    top: -6px;
    
}
nav ul:first-of-type li a{
    margin-right: 61px;
    font-size: 20px;
    position: relative;
}
nav ul:first-of-type li a:hover{
    text-decoration: none;
}
nav ul:first-of-type li a:before{
content: "";
    position: absolute;
    width:0;
    height: 1px;
    background-color: #fff;
    bottom: -13px;
    left: 0;
}
nav ul:first-of-type li a:hover:before{
    width: 100%;
}
.soc li{
    margin-right: 34px;
}
.soc li:hover{
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
 }
.main{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 890px;
    background: url(../images/main-bg.jpg) 50% 50% no-repeat;
}
.main-content{
    width: 100%;
    height: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: url(../images/lubomirov-main.png) -120px 50% no-repeat;
    align-items: flex-end;
    padding: 141px 170px 0 0;
}
.main-content h1{
    font-size: 83px;
    line-height: 81px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
}
.main-content h1 span{
    font-size: 60px!important;
}
.subheader{
    font-size: 20px;
    color: #ffe9b3;
    font-family: "Open Sans";
}
.down{
    width: 178px;
    height: 55px;
    cursor: pointer;
    background: url(../images/arrow-down.png) 0 0 no-repeat;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}
