@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700,800&amp;subset=cyrillic);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after, :before, :hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 20px/24px 'EB Garamond', serif;
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.flex{
    display: -webkit-flex;
    display: flex;
}
.container {
    width: 1200px;
    padding:0;
    margin: 0 auto;
    position: relative;
}
.delay-1{
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.delay-2{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.delay-3{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.delay-4{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.delay-5{
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-6{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.delay-7{
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.delay-8{
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.delay-9{
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.delay-10{
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
}
/***********  main section    ***************/
header nav{
    margin-top: 42px;
    justify-content: space-between;
}
nav i{
    color: #ffe9b3;
}
nav i{
    color: #ffe9b3;
    position: relative;
}
nav i:after{
content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: -4px;
    top: -6px;
    
}
nav ul:first-of-type li a{
    margin-right: 61px;
    font-size: 20px;
    position: relative;
}
nav ul:first-of-type li a:hover{
    text-decoration: none;
}
nav ul:first-of-type li a:before{
content: "";
    position: absolute;
    width:0;
    height: 1px;
    background-color: #fff;
    bottom: -13px;
    left: 0;
}
nav ul:first-of-type li a:hover:before{
    width: 100%;
}
.cont{
    flex-direction: column;
    align-items: center;
}
.soc li{
    margin-right: 34px;
}
.soc li:hover{
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
 }
.main{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
height: auto;
    background: url(../images/main-bg.jpg) 50% 50% no-repeat;
}
.main-content{
    width: 100%;
    height: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-end;
    padding: 141px 170px 90px 0;
    text-align: center;
    position: relative;
}
.main-content:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/lubomirov-main.png)0 -25px no-repeat;
    top: 0;
    left: -150px;
}
.main-content h1{
    font-size: 83px;
    line-height: 81px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    text-shadow:  0 0 10px #fff;
    position: relative;
    z-index: 1;
    background-color:transparent;
}
.main-content h1:before{
    content: '';
    position: absolute;
    width: 600px;
    height: 1px;
    background-image: linear-gradient(to right,  #fff 0%, #fff 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 75%, #fff 75%, #fff 100%);
    background-image: -webkit-linear-gradient(to right,  #fff 0%, #fff 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 75%, #fff 75%, #fff 100%);
    background-image:-moz-linear-gradient(to right,  #fff 0%, #fff 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 75%, #fff 75%, #fff 100%);
    background-image: -o-linear-gradient(to right,  #fff 0%, #fff 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 75%, #fff 75%, #fff 100%);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 0;
    top: 70%;
    left: -50px;
}
.main-content h1 span{
    font-size: 60px!important;
}
.subheader{
    font-size: 20px;
    color: #ffe9b3;
    font-family: "Open Sans";
}
.zapis{
    background-color: transparent;
    border: 2px solid #ffe9b3;
    width: 232px;
    height: 65px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.main-content button{;
    margin: 63px 0;
}
.zapis:before{
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: transparent;
    border: 2px solid #ffe9b3;
    top: 4px;
    left: -8px;
}
.zapis:hover:before {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}
.zapis:hover{
    border: 1px solid rgba(255,255,255,0.4);
    text-shadow: 0 0 5px #fff;
}
.down{
    width: 178px;
    height: 55px;
    cursor: pointer;
    margin-top: 76px;
    background: url(../images/arrow-down.png) 0 0 no-repeat;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    z-index: 0;
}
.down:hover{
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
/********************* services *******************/
.services{
    width: 100%;
    height: 862px;
    background: url(../images/serv-bg.jpg) 0 0 no-repeat;
    padding:141px 0 115px 0;
}
.serv-slider{
    width: 564px;
}
.item{
    overflow: hidden;
}
.item h2{
    font-size: 60px;
    font-weight: 100;
    line-height: 38px;
    margin-bottom: 55px;
}
.item p{
    font:100 18px/30px "Open Sans";
    margin-bottom:47px;
}
.item button{
    margin: 130px 0 30px 30px;
}
.owl-nav{
    display: flex;
    position: absolute;
    bottom: 145px;
    width: 275px;
    justify-content:space-between;
}
.owl-prev, .owl-next{
     width: 71px;
     height: 71px;
     cursor: pointer;
 }
.owl-prev:hover, .owl-next:hover{
    filter: drop-shadow( 0 0 5px #ffe9b3);
}
.owl-prev{
       background: url(../images/nav-left.png) 0 0 no-repeat;
   }
.owl-next{
    background: url(../images/nav-right.png) 0 0 no-repeat;
    order:1;
}
.owl-dots{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 175px;
    left: 120px;
}
.owl-dot{
    width: 7px;
    height: 7px;
    background-color: #999;
    margin-right: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
.owl-dot.active{
    width: 10px;
    height: 10px;
    background-color: #fff;
}