@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input:focus,
textarea:focus,
select:focus,
input,
textarea,
select {
    outline-offset: 0;
    outline: none;
}
:focus {
    outline: none;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.73;
    color: #4F5260;
    overflow-y: scroll;
    overflow-x: hidden;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1300px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
/*********************scroll#1******************************/
.main-section{
    width: 100vw;
    height: 100vh;
    background: url(../images/scroll-1bg.jpg) 50% 100% no-repeat;
    background-size: cover;
}
nav{
    justify-content: center;
    padding-top: 30px;
}
nav li{
    margin: 0 20px;
    position: relative;
}
nav li.active:before{
    content: '';
    position: absolute;
    background-color: #FF4870;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav li a{
    font-size: 13px;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav li a:hover{
    color:#fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
nav .logo{
    margin: 0 10px;
    cursor: pointer;
}
.main-content{
    background: url(../images/splash.png) 50% 50% no-repeat;
    background-size:contain ;
    color: #fff;
    text-align: center;
    padding: 135px 0;
    margin-top: 150px;
}
.main-content h1{
    font-size: 80px;
    text-transform: uppercase;
    line-height: 1.24;
}
.preheader{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
}
.subheader{
    font-size: 26px;
    font-family: PT Serif;
    font-style: italic;
}
/*********************scroll#2******************************/
.second{
    background: url(../images/home-explore.jpg) 50% 100%;
}
/*********************** MOBILE ***************************/

@media only screen and (max-width: 768px){

    .mobile-none {
        display: none!important;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 15px;
    }

}