@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input:focus,
textarea:focus,
select:focus,
input,
textarea,
select {
    outline-offset: 0;
    outline: none;
}
:focus {
    outline: none;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.73;
    color: #4F5260;
    overflow-y: scroll;
    overflow-x: hidden;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    box-shadow: 2px 15px 50px rgba(41,44,61,0.1);
    z-index: 1000;
}
section{
    padding: 140px 0;
}
section h3{
    font-size: 12px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #292C3D;
    position: relative;
}
section h3:before{
    position: absolute;
    content: '';
    width: 100%;
    height:20px;
    background: url(../images/header-after.svg) 50% 0 no-repeat;
    top: 33px;
    left: 0;
}
section h2{
    font-size: 12px;
    line-height: 1.4;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    position: relative;
}
section h2:before{
    content: "";
    position: absolute;
    width: 45px;
    max-width: 100%;
    height: 2px;
    background-color:#FF4870;
    left: 0;
    bottom: -20px;
}
.fixed nav{
    padding: 20px;
}
.fixed nav  li a{
    color: #4F5260;
}
.fixed nav  li a:hover{
    color:  #FF4870;
}
.container {
    width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}

/*********************scroll#1******************************/
.main-section{
    width: 100vw;
    height: 100vh;
    background: url(../images/scroll-1bg.jpg) 50% 100% no-repeat;
    background-size: cover;
}
nav{
    justify-content: center;
    padding-top: 30px;
}
nav li{
    margin: 0 20px;
    position: relative;
}
nav li.active:before{
    content: '';
    position: absolute;
    background-color: #FF4870;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav li>ul{
    display: none;
}
nav li:hover>ul{
    position: absolute;
    display: block;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
}
nav li a{
    font-size: 13px;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav li a:hover{
    color:#fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
nav .logo{
    margin: 0 10px;
    cursor: pointer;
}
.main-content{
    background: url(../images/splash.png) 50% 50% no-repeat;
    background-size:contain ;
    color: #fff;
    text-align: center;
    padding: 135px 0;
    margin-top: 150px;
}
.main-content h1{
    font-size: 80px;
    text-transform: uppercase;
    line-height: 1.24;
}
.preheader{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
}
.subheader{
    font-size: 26px;
    font-family: PT Serif;
    font-style: italic;
}
/*********************scroll#2******************************/
.second{
    background: url(../images/home-explore.jpg) 50% 100% no-repeat;
}
.second-content{
    width: 50%!important;
    flex-grow: 1;
    padding-right: 25px;
}
.slider{
    max-width:50%!important;
    padding-left: 40px;
    overflow: hidden;
}
.second-content h5{
    font-size: 42px;
    line-height: 1.2;
    font-weight: 300;
    color: #292C3D;
}
.second-content p{
    margin: 40px 0;
}
.second .content-wrap {
    margin-top: 70px;
}
.section-subheader{
    margin: 10px 0;
    color: #FF4870;
    font-size: 20px;
    line-height: 1.5
}
.owl-theme .owl-nav {
    margin-top: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
}
.owl-theme .owl-nav [class*="owl-"] {
    color: #fff;
    font-size: unset;
    margin: 0;
    padding: 0;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    width: 14px;
    height: 24px;
}
.owl-theme .owl-nav .owl-prev{
    background: url(../images/prew.svg) 0 0 no-repeat;
    position: absolute;
    left: 40px;
}
.owl-theme .owl-nav .owl-next{
    background: url(../images/next.svg) 0 0 no-repeat;
    position: absolute;
    right: 40px;
}
.owl-theme .owl-nav  .owl-prev:hover {
    background: url(../images/prew.svg) 0 0 no-repeat;
}
.owl-theme .owl-nav  .owl-next:hover {
    background: url(../images/next.svg) 0 0 no-repeat;
}
.more-button{
    text-align: center;
    margin-top: 70px;
}
.more{
    padding: 0 40px;
    line-height: 53px;
    font-size: 13px;
    border-radius: 500px;
    background-color: transparent;
    color: #FF4870;
    border: 1px solid #FF4870;
    box-shadow: inset 2px 2px 7px rgba(255,72,112,.2),2px 2px 7px rgba(255,72,112,0.2);
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    background-origin: border-box;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.more:hover{
    text-decoration: none;
    background-color: transparent;
    color: #fa0037;
    border-color: #ff1548;
    box-shadow: inset 2px 4px 15px rgba(255,72,112,.2),2px 4px 15px rgba(255,72,112,.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*********************scroll#3******************************/
.places{
    background: url(../images/noize-bg.png) 50% 100% repeat;
}
.places img{
    border-radius: 2px;
    max-width: 115px;
    height: auto;
    cursor: pointer;
}
.places-wrap{
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
}
.places-column{
    width: 33%;
    flex-direction: column;
    padding-left: 40px;
}
.places-column:first-of-type{
    padding-left: 20px;
}
.place-descr{
    flex-grow: 1;
    white-space: nowrap;
    padding-left: 20px;
}
.places-item{
    align-items: center;
}
.place-descr h4{
    font-size: 12px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 10px;
}
.place-descr p {
    font-size: 14px;
    line-height: 1.4;
    color: #90929D;
    font-family: PT Serif;
    font-weight: 400;
    text-transform: none;
    font-style: italic;
}
.top-devider{
    position: relative;
}
.top-devider:before{
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    top: -10px;
    left: 0;
    background-color: #ebebeb;
}
/*********************scroll#4******************************/
.globe{
    background-color: #fff;
}
.globe-wrap{
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}
.globe-item{
    flex-direction: column;
    width: calc(100%/3 - 25px);
    background: #fff;
    color: #4F5260;
    box-shadow: 2px 15px 50px rgba(41,44,61,0.1);
    margin-bottom: 30px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    cursor: pointer;
}
.globe-item:hover{
    box-shadow: 2px 21px 50px rgba(41,44,61,0.15);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.globe-descr{
    padding: 40px;
}
.globe-descr h4 {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 10px;
}
.globe-descr span {
    font-size: 14px;
    line-height: 1.4;
    color: #90929D;
    font-family: PT Serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic;
    display: block;
}
.globe-item img{
    max-width: 100%;
    height: auto;
}
.globe-item:first-of-type {
    flex-direction: row;
    width: calc(100% / 3 * 2 - 15px);
}
.globe-item:first-of-type .globe-img img{
    height: 100%;
    object-fit: cover;
}
.globe-item:first-of-type .globe-img,
.globe-item:first-of-type .globe-descr  {
    width: 50%!important;
}
.globe-item:first-of-type .globe-descr  {
    padding: 50px;
}
.globe-item:first-of-type .globe-descr span {
     margin-bottom: 20px;
}
/*********************scroll#5******************************/
.store{
    background: url(../images/noize-bg.png) 50% 100% repeat;
}
.store h5 {
    font-size: 13px;
    line-height: 1.4;
    color: #FF4870;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-align: center;
}
.store-wrap{
    margin-top: 70px;
    justify-content: space-between;
}
[class^="store-column-"]{
    width:calc(100%/3 - 40px) ;
    flex-direction: column;
}
.store-column-center img{
    max-width: 100%;
    border-radius: 2px;
    height: auto;
    box-sizing: border-box;
    box-shadow: 2px 21px 50px rgba(41,44,61,.15);
}
.content-block{
    text-align: center;

}
.content-block h6 {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
}
.content-block p {
    font-weight: 300;
}
.center-img{
    width: 300px;
    padding-left: 70px;
}
.center-img{
    max-width: 100%;
    height: auto;
}
/*********************scroll#6******************************/
.partners .container{
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    padding: 70px 0;
}
.partners{
    padding-bottom: 0;
}
.partners-header{
    align-self: center;
}
.partners-wrap{
    padding-left: 70px;
}

.partners-wrap a{
    padding: 20px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.partners-wrap a:hover {
    background: #fff;
    box-shadow: 2px 21px 50px rgba(41, 44, 61, 0.15);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
/*********************scroll#6******************************/
.footer{
    background: url(../images/footer-bg.jpg) 50% 100% no-repeat;
    position: relative;
}
.footer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #fff 0%,  transparent 100%);
    opacity:0.99;
}
/*********************** MOBILE ***************************/

@media only screen and (max-width: 768px){

    .mobile-none {
        display: none!important;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 15px;
    }

}