
@font-face {
    font-family: 'Lato';
    src: url('Lato-Thin.eot');
    src: local('Lato-Thin'), local('Lato-Thin'),
    url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Thin.woff') format('woff'),
    url('../fonts/Lato-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('Lato-Bold.eot');
    src: local('Lato-Bold'), local('Lato-Regular'),
    url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('Circe-Light.eot');
    src: local('Circe Light'), local('Circe-Light'),
    url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Light.woff') format('woff'),
    url('../fonts/Circe-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('Calibri.eot');
    src: local('Calibri'), local('Calibri'),
    url('../fonts/calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 15px 'Circe', sans-serif;
    background: url(../images/main-bg.png) 0 0 repeat-y;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
section {
    position: relative;
    width: 100%;
}
.container {
    width: 1100px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    overflow: visible;
}
.fixed{
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
}
.top-logo{
    position: absolute;
    top: 25px;
    right: 165px;
}
.main{
    height: 100vh;
}
.main .container{
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.smoke-img{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
}
.main-img{

}
header{
    background-color: #fff;
    padding: 12px 0;
    z-index: 2;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
.fix-menu li,
.phone{
    text-transform: uppercase;
    margin-right: 45px;
    font-weight: bold;
}
.order a{
    display: inline-flex;
    height: 40px;
    width: 128px;
    background: #cab471 url(../images/key-button.png) 0 0 no-repeat;
    color: #fff;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-border-radius: 40px 0 0 40px;
    -moz-border-radius: 40px 0 0 40px;
    border-radius: 40px 0 0 40px;
    padding-left: 26px;
    padding-top: 2px;
}
.order a:hover{
    text-decoration: none;
}
.peria{
    position: absolute;
    left: -50%;
    top: -454px;
    z-index: -1;
}
.scroll-2 .container{
    justify-content: flex-end;
}
.scroll-2-content{
    margin-top: 280px;
}
.scroll-2-content p{
    color: #fff;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Calibri";
    text-align: right;
}
p.header{
    color: #cab471;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 100;
    font-style: normal;
    font-family: "Circe";
    white-space: pre-line;
    line-height: 85px;
    text-align: left;
    margin-bottom: 40px;
}
.bq, .bq-1{
    white-space: pre-line;
    font-size: 17px;
    font-family:"Lato";
    color: #fff;
    font-style: normal;
    padding:40px 0 50px 30px;
    border-left:1px dashed #cccc66;
    margin-left: 82px;
}
.bq span, .bq-1 span {
    font-family: "Lato-Bold";
    font-style: italic;
}
.real-magic{
    margin-top: 200px;
    position: absolute;
    background: #fff url(../images/scroll-3-peria.png) 56% 0% no-repeat;
    width: 1500px;
    height: 1386px;
    top: 0;
    left: 0;
}
.real-magic:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 40px;
    top:840px;
    background: url(../images/kepka.png) 0 0 no-repeat;
}
.scroll-3 p{
    margin-left: 35px;
    margin-top: 260px;
}
.bq-1 {
    color: #000;
    margin-left: 85px;
    padding:27px 0 115px 30px;
}
.place{
    position: absolute;
    font-size: 64px;
    font-family:"Lato-Bold";
    font-style: italic;
    line-height: 62px;
    color: #cab471;
    right: 500px;
    bottom: 100px;
    white-space:pre-line;
}
.scroll-4{
    margin-top:1836px;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.scroll-4:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left: 450px;
    background: url(../images/scroll-4-maska.png) 0% 0% no-repeat;
}
.scroll-4 .bq-1{
    color: #fff;
    margin-left: 10px;
    padding-bottom: 217px;
}
.main-slider{
    margin-top: 490px;
}
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: calc(50% - 45px);
    width: 100%;
}
.owl-theme .owl-nav [class*="owl-"] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-prev{
    width: 25px;
    height: 90px;
    background: url(../images/arrow-left.png) 0 0 no-repeat!important;
    position:absolute;
    left: 0;
}
.owl-next{
    width: 25px;
    height: 90px;
    background: url(../images/arrow-right.png) 0 0 no-repeat!important;
    position: absolute;
    right: 0;
}
.bellisimo{
    margin-top: 30px;
    margin-left: -140px;
    background: #fff url(../images/bellisimo-logo.png) 386px 56px no-repeat;
    font-size: 64px;
    font-family: "Lato-Bold";
    font-style: italic;
    padding:150px 100px 60px 190px;
    white-space: pre-line;
    display: inline-block;
    color: #cab471;
    width: 710px;
    height: 760px;
    line-height: 62px;
    margin-bottom: 290px;
}
.next-bel{
    display: inline-block;
    font-size: 61px;
    color: #cab471;
    white-space: pre-line;
    font-family: "Circe";
    font-weight: 300;
    margin-left: 45px;
    text-transform: uppercase;
    position: absolute;
    margin-top: 220px;
    line-height: 70px;
}
.map{
    border-top:13px solid  #cab471;
    border-bottom:13px solid  #cab471;
    margin-top: 20px;
    padding: 0;
}
.map img{
    display: block;
}
.order-section{
    padding: 130px 0;
    background: url(../images/order-bg.jpg) 0 0 no-repeat;
    background-size: cover;
}
.order-head{
    font-size: 100px;
    font-family: "Circe";
    font-weight: 400;
    text-transform: uppercase;
    color: #cab471;
    text-align: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 85px;
}
.order-head span{
    display: block;
    color: #fff;
}
.order-head:before {
    content: '';
    position: absolute;
    width: 29px;
    height: 87px;
    background: url(../images/order-key.png) 0 0 no-repeat;
    top: -90px;
    left: calc(50% - 15px);
}
footer{
    height: 382px;
    width: 100%;
    background: url(../images/footer-bg.jpg) 0 0 no-repeat;
    margin-bottom: 25px;
    border-top:13px solid  #cab471;
    padding-top: 72px;
    padding-left: 83px;
    padding-right: 165px;
    background-size: cover;
}
footer .header{
    font-size: 25px;
    margin-bottom: 38px;
    line-height: 25px;
}
footer .container{
    justify-content: space-between;
}
footer ul{
    margin-bottom: 18px;
}
footer li{
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Lato-Bold";
    color: #cab471;
}
footer li>a{
    color: #525252;
    font-family: "Lato";
    text-transform: none;
}
.footer-contact span{
    font-size: 12px;
    font-family: "Lato-Bold";
    color: #9b9b9b;
    font-style: italic;
}
.footer-text p:last-of-type{
    font-size: 12px;
    color: #000;
    line-height: 15px;
    white-space: pre-line;
    font-family: "Lato-Bold";
}
.ticket-count,
.sel-date{
    align-items: center;
    border-bottom: 1px solid #cab471;
    flex-wrap: wrap;
    position: relative;
    margin-right: 90px;
}
 p.legend{
    font-size: 12px;
    font-family: "Lato-Bold";
    color: #fff;
    font-style: italic;
    flex-grow: 1;
    position: absolute;
    top: 57px;
    width: 100%;
     text-align: center;
     white-space: nowrap;
}
.ticket-count span:first-of-type,
.ticket-count span:last-of-type{
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}
#count{
    font-size: 50px;
    color: #cab471;
    font-family: "Circe";
    font-weight: bold;
    padding: 0 26px;
    line-height: 10px;
}
#order{
    min-width: 515px;
    margin-right: 70px;
}
#datepicker{
    background: transparent;
    border: none;
    font-size: 35px;
    color: #fff;
    width: 241px;
    height: 100%;
    font-family: "Circe";
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
}
.wrap-1{
    margin-bottom: 111px;
}
.form-wrap .order{
    text-align: center;
}
.sel-date:after{
    content: '';
    position: absolute;
    width: 32px;
    height: 36px;
    background: url(../images/cal.png) 0 0 no-repeat;
    top: 10px;
    left: 0;
    
}
#place,
#name,
#phone{
    font-size: 50px;
    color: #cab471;
    font-family: "Circe";
    font-weight: bold;
    padding: 0 26px;
    line-height: 10px;
    background-color: transparent;
    border: none;
    text-align: left;
    width: 132px;
}
.ticket-count.place-val{
    display: inline-flex!important;
    margin-bottom: 130px;
}
.ticket-count.phone-val{
    margin: 93px 0;
}