@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothaProReg.otf");
}
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothaProMed.otf");
}
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothaProLig.otf");
}
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothaProBol.otf");
}
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothaProBla.otf");
}
@font-face {
    font-family: 'Austin Cyr';
    src: local('Austin Cyr Bold'), local('AustinCyr-Bold'),
    url('../fonts/AustinCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AustinCyr-Bold.woff') format('woff'),
    url('../fonts/AustinCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'VremenaBold';
    src: local('VremenaBold'), local('VremenaBold'),
    url('../fonts/VremenaBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VremenaBold.woff') format('woff'),
    url('../fonts/VremenaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'VremenaRegular';
    src: local('VremenaRegular'), local('VremenaRegular'),
    url('../fonts/VremenaRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VremenaRegular.woff') format('woff'),
    url('../fonts/VremenaRegular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
* {box-sizing: border-box}

body {
    background: #f3f3f3;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 100 14px 'GothamProLight;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h2.header{
    font-size: 65px;
    font-family: 'Austin Cyr';
    text-align: center;
    letter-spacing:12px;
    position: relative;
    color: transparent;
    background: linear-gradient(to top, #2d2d2d 0%, #131313 43%, #393939 52%, #4d4d4d 84%, #2d2d2d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0 0 0 62px;
    line-height: 62px;
}
h2.header:after{
    background: none;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 2px 2px 0px rgba(197, 197, 197, 1);
    top: 0;
    z-index: -1;
}

.flex{
    display: flex;
}
.container {
    width: 1280px;
    padding:0 70px;
    margin: 0 auto;
    position: relative;
}
span.top, span.down {
    width: 12px;
    height: 69px;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    right: 22px;
}
span.top{
    background: url(../images/top-nav.png) 0 0 no-repeat;
}
span.down{
    background: url(../images/down-nav.png) 0 0 no-repeat;
    top: 380px;

}
.main{
    background: url('../images/bg-main.png') 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.circle-1{
    position: absolute;
    top: 400px;
    right: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border:4px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: orbit2 54s linear infinite;
    -moz-animation: orbit2 54s linear infinite;
    -o-animation: orbit2 54s linear infinite;
    animation: orbit2 54s linear infinite;
}
.circle-2{
    position: absolute;
    top: 600px;
    right: calc(50% - 10px);
    width: 12px;
    height: 12px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: orbit1 74s linear infinite;
    -moz-animation: orbit1 74s linear infinite;
    -o-animation: orbit1 74s linear infinite;
    animation: orbit1 74s linear infinite;
}
.circle-3{
    position: absolute;
    bottom: 75px;
    right: calc(50% - 215px);
    width: 20px;
    height: 20px;
    border: 4px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    z-index: 2;
}
.circle-4{
    position: absolute;
    bottom: 98px;
    right: calc(50% - 229px);
    width: 12px;
    height: 12px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
}
.top-sq-wrap{
    position: absolute;
    top: -6px;
    left: -7px;
    width: 13px;
    height: 63px;
}
.top-sq-wrap-sect{
    position: absolute;
    top: -6px;
    left: 63px;
    width: 13px;
    height: 63px;
}
.bottom-sq-wrap{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 55px;
    height: 55px;
}
[class^="sqt-"]{
    width: 13px;
    height: 13px;
    border:4px solid #000;
    position: absolute;
}
[class^="sqb-"]{
    width: 20px;
    height: 20px;
    background-color: #000;
    position: absolute;
}
.sqb-2{
    margin-left: 35px;
}
.sqb-3{
    margin-left: 35px;
    margin-top: 35px
}
.sqt-2{
    margin-top: 28px;
}
.sqt-3{
    margin-top: 57px;
}
@-webkit-keyframes orbit2 {
    from {  -webkit-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -webkit-transform: rotate(360deg) translateX(280px) rotate(-360deg); }
}

@-moz-keyframes orbit2 {
    from {  -moz-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -moz-transform: rotate(360deg) translateX(280px) rotate(-360deg); }
}

@-o-keyframes orbit2 {
    from {  -o-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -o-transform: rotate(360deg) translateX(280px) rotate(-360deg); }
}

@keyframes orbit2 {
    from {  transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  transform: rotate(360deg) translateX(280px) rotate(-360deg); }
}
/**/
@-webkit-keyframes orbit1 {
    from {  -webkit-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -webkit-transform: rotate(-360deg) translateX(280px) rotate(360deg); }
}

@-moz-keyframes orbit1 {
    from {  -moz-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -moz-transform: rotate(-360deg) translateX(280px) rotate(360deg); }
}

@-o-keyframes orbit1 {
    from {  -o-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -o-transform: rotate(-360deg) translateX(280px) rotate(360deg); }
}

@keyframes orbit1 {
    from {  transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  transform: rotate(-360deg) translateX(280px) rotate(360deg); }
}
.main-menu{
    position: fixed;
    top: 0;
    width: calc(50% - 103px);
    height: 100vh;
    padding: 173px 0 173px 168px;
    background: url(../images/menu-bg.jpg) 0 0 no-repeat;
    z-index: 100;
    right: -999px;
    box-shadow: -55px 18px 20px rgba(0,0,0,0.5);
    background-size: cover;
}
.main-menu ul li a{
    font: 100 30px/90px "GothamProLight";
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.main-menu ul li{
    position: relative;
}
.main-menu ul li:nth-child(1){
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.main-menu ul li:nth-child(2){
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.main-menu ul li:nth-child(3){
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.main-menu ul li:nth-child(4){
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
}
.main-menu ul li:nth-child(5){
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.main-menu ul li:nth-child(6){
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.main-menu ul li:before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #fff;
    top: 42px;
    left: -31px;
}
.main-menu ul li:after{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 2px solid #fff;
    top: 37px;
    left: -36px;
    opacity: 0;
}
.main-menu ul li:hover:after{
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.close-menu{
    width: 29px;
    height: 29px;
    background:url(../images/close-menu.png) 0 0 no-repeat;
    position: absolute;
    top: 35px;
    left: calc(50% - 15px);
    cursor: pointer;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.close-menu:hover{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.left-sidebar{
    position: fixed;
    left: calc(50% - 720px);
    transform: rotate(-90deg);
    top: 205px;
    z-index: 3;
}
.left-sidebar ul li:first-child a{
    color: #000;
    margin-right: 50px;
    font-weight: 600;
    font-family: "GothamPro";
}
.left-sidebar ul li:nth-child(2) a{
    color: #fc0000;
    margin-right: 50px;
    font-weight: 600;
    font-family: "GothamPro";
}
.left-sidebar a{
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}
.top-content, .bottom-content{
    width: 100%;
    height: 50vh;
    position: relative;
}

.a-letter, .x-letter, .s-letter, .v-letter{
    font-size: 60px;
    opacity: 0.19;
    font-family: 'VremenaBold';
    text-transform: uppercase;
    position: absolute;
}
.a-letter{
    bottom: 235px;
    left: 95px;
}
.x-letter{
    bottom: 255px;
    right: 95px;
}
.s-letter{
    top: 258px;
    left: 95px;
}
.v-letter{
    top: 258px;
    right: 95px;
}
.top-content{
    border-left: 1px solid #bebebe;
}
.bottom-content{
    border-top: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
}
.scroll-wrap{
    justify-content: center;
    z-index: 2;
    position: relative;
    bottom: -145px;
    cursor: pointer;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
.scroll-wrap img{
    cursor: pointer;
}
.citata-wrap{
    justify-content:space-between;
    position: relative;
    z-index: 2;
}
.citata-wrap p{
    font:100 14px/30px 'GothamProLight';
    letter-spacing: 0.75px;
}
.citata-wrap p:first-child{
    margin:35px 0 0 91px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
}
.citata-wrap p:nth-child(2){
    margin:35px 78px 0 0;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.center-content{
    position: absolute;
    justify-content:center;
    align-items: center;
    width: 100%;
    transform: translate(-70px,-50%);
    z-index: 1;
}
.center-content img{
    box-shadow: 17px 19px 16.56px 1.44px rgba(0, 0, 0, 0.6);
    position: relative;
}
.blond-foto{
    position: relative;
    margin-bottom: 167px;
    z-index: 2;
}
.f-circ {
    position: absolute;
    top: -5px;
    left: -26px;
    width: 23px;
    height: 23px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:4px solid #000;
}
.f-sq{
    position: absolute;
    top: -20px;
    left: -2px;
    width: 15px;
    height: 15px;
    border:4px solid #000;
}
.circle{
    position: absolute;
    width: 470px;
    height: 470px;
    top: calc(50% - 235px);
    left: calc(50% - 235px);
    background-color: #e0e0e0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 0;
}
.circle-dotted{
    position: absolute;
    width: 574px;
    height: 575px;
    top: calc(50% - 287px);
    left: calc(50% - 287px);
    background-color:transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px dotted #ececec;
    z-index: 0;
}
.name,.name-1{
    position: absolute;
    z-index: 3;
    padding-bottom: 133px;
    padding-left: 48px;
}
.name p{
    position: relative;
    font-size: 65px;
    font-family: 'Austin Cyr';
    letter-spacing:20px;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(to top, #2d2d2d 0%, #131313 43%, #393939 52%, #4d4d4d 84%, #2d2d2d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
    line-height: 57px;
}
.name p:after{
    background: none;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 2px 2px 0px rgba(197, 197, 197, 1);
    top: 0;
    z-index: -1;
}
.name span{
    display: block;
    text-align: right;
    font-family: "GothamProMedium";
    font-size: 18px;
    margin-bottom: 13px;
    padding-right: 16px;
}
.menu-button{
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #000;
    top: 23px;
    right: calc(50% - 564px);
    cursor: pointer;
    z-index:100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-button span{
    width: 23px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-button span:last-child{
    margin-bottom: 0;
}
.menu-button:hover{
    background-color: #fff;
    border:2px solid #ededed;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-button:hover span{
    background-color: #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.services{
    background-color: #fff;
}
.services-content{
    background: url(../images/services-bg-1.jpg) 21px 0 no-repeat;
    height: 100vh;
    padding-top: 143px;
}
.service-list{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 110px;
    margin-top:20px;
}
[class^="serv-item-"]{
    width: 227px;
    height: 227px;
    padding: 0 20px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity:0;
}
.serv-item-1{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.serv-item-2{
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.serv-item-3{
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
}
.serv-item-4{
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
.serv-item-5{
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.serv-item-6{
    -webkit-animation-delay: 0.4s;
    animation-delay: 1.9s;
}
.serv-item-7{
    -webkit-animation-delay: 0.4s;
    animation-delay: 2.1s;
}
.serv-item-8{
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

[class^="serv-item-"] h3{
    font-size: 16px;
    font-family: "GothamPro";
    font-weight: 100;
    line-height: normal;
    text-transform: uppercase;
    padding: 0;
    margin: 90px 0 10px 0;
    z-index: 1;
}
[class^="serv-item-"] p{
    font-size: 14px;
    font-family: "GothamProLight";
    line-height: 18px;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 1;
}

[class^="serv-item-"]:hover{
    background-color: #fff!important;
    background-position-y: 0!important;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 3;

}
[class^="serv-item-"]:hover h3,
[class^="serv-item-"]:hover p{
    color: #000;
}
.serv-slog{
    font: 100 14px/30px 'GothamProLight';
    letter-spacing: 0.75px;
    display: flex;
    justify-content: center;
    margin-left: 468px;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    opacity:0;
}
