@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothaProReg.otf");
}
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothaProMed.otf");
}
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothaProLig.otf");
}
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothaProBol.otf");
}
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothaProBla.otf");
}
@font-face {
    font-family: 'Austin Cyr';
    src: url('AustinCyr-Bold.eot');
    src: local('Austin Cyr Bold'), local('AustinCyr-Bold'),
    url('../fonts/AustinCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AustinCyr-Bold.woff') format('woff'),
    url('../fonts/AustinCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
* {box-sizing: border-box}

body {
    background: #f3f3f3;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 100 14px 'GothamProLight;
}
.flex{
    display: flex;
}
.container {
    width: 1280px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
.main{
    background: url(../images/bg-main.jpg) 50% 50% no-repeat;
}
.circle-1{
    position: absolute;
    top: 400px;
    right: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border:4px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: orbit2 54s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit2 54s linear infinite; /* Firefox 5-15 */
    -o-animation: orbit2 54s linear infinite; /* Opera 12+ */
    animation: orbit2 54s linear infinite; /* Chrome, Firefox 16+,  IE 10+, Safari 5 */
}
.circle-2{
    position: absolute;
    top: 600px;
    right: calc(50% - 10px);
    width: 12px;
    height: 12px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: orbit1 74s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit1 74s linear infinite; /* Firefox 5-15 */
    -o-animation: orbit1 74s linear infinite; /* Opera 12+ */
    animation: orbit1 74s linear infinite; /* Chrome, Firefox 16+,  IE 10+, Safari 5 */
}
@-webkit-keyframes orbit2 {
    from {  -webkit-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -webkit-transform: rotate(360deg) translateX(280px) rotate(-360deg); }
}

@-moz-keyframes orbit2 {
    from {  -moz-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -moz-transform: rotate(360deg) translateX(280px) rotate(-360deg); }
}

@-o-keyframes orbit2 {
    from {  -o-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -o-transform: rotate(360deg) translateX(280px) rotate(-360deg); }
}

@keyframes orbit2 {
    from {  transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  transform: rotate(360deg) translateX(280px) rotate(-360deg); }
}
/**/
@-webkit-keyframes orbit1 {
    from {  -webkit-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -webkit-transform: rotate(-360deg) translateX(280px) rotate(360deg); }
}

@-moz-keyframes orbit1 {
    from {  -moz-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -moz-transform: rotate(-360deg) translateX(280px) rotate(360deg); }
}

@-o-keyframes orbit1 {
    from {  -o-transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  -o-transform: rotate(-360deg) translateX(280px) rotate(360deg); }
}

@keyframes orbit1 {
    from {  transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to {  transform: rotate(-360deg) translateX(280px) rotate(360deg); }
}
.center-content{
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 78px;
    padding-right: 27px;
}
.center-content img{
    box-shadow: 17px 19px 16.56px 1.44px rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.name{
    font-size: 65px;
    font-family: 'Austin Cyr';
    letter-spacing:17px;
    text-transform: uppercase;
    position: absolute;
    color: #2d2d2d;
    text-shadow: 2px 2px 0px rgba(197, 197, 197, 1);
    background: linear-gradient(to top, #2d2d2d 0%, #131313 43%, #393939 52%, #4d4d4d 84%, #2d2d2d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
}
.menu-button{
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #000;
    top: 23px;
    right: calc(50% - 564px);
    cursor: pointer;
    z-index:100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-button span{
    width: 23px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}
.menu-button span:last-child{
    margin-bottom: 0;
}