@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&amp;subset=cyrillic);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 14px 'Open Sans', sans-serif;
    background: #ааа;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
h1{
    font: 100 69px 'Playfair Display', serif;
    text-transform: uppercase;
    text-align: center;
    color: #336699;
    margin: 185px 0 134px 0;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-transform: uppercase;
    text-align: right;
    line-height: 13px;
    margin-top: 33px;
}
.logo span:nth-child(1){
    color: #ef0c27;
    display: block;
    margin-bottom: 6px;
}
.logo span:nth-child(2){
    font-size: 21px;
    font-weight: 600;
    color: #000;
    display: block;
}
.top-contact{
    flex-direction: column;
    margin-top: 23px;
    text-align: right;
    align-items: end;
}
.top-nav{
    margin-top: 33px;
}
.top-nav li{
    margin-right: 46px;
    position: relative;
    z-index: 1;
}
.top-nav li:before{
    content: "";
    position: absolute;
    width: 0;
    height: 8px;
    left: -5px;
    bottom: 2px;
    background-color: #ffcccc;
    z-index: -1;

}
.top-nav li:hover:before{
    width: calc(100% + 10px);
}
.top-nav li a{
    font-size: 18px;
}
.top-nav li a:hover{
    text-decoration: none;
}
.top-nav li:last-of-type{
    margin-right:0;
}
.soc{
    margin-bottom: 15px;
}
li i{
    font-size: 20px!important;
    color: #fff;
    margin-right: 34px;
    position: relative;
    z-index: 1;
}
.soc li:last-of-type i{
    margin-right: 0;
}
li i:after{
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: -4px;
    top: -6px;
    z-index: -1;
}
li i:hover{
    color: #000;
}
li i:hover:after{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    background-color: transparent;
}
.phone a{
    font: 600 24px "Open Sans";
    position: relative;
}
.phone a:before {
    content: '';
    position: absolute;
    width: 37px;
    height: 37px;
    background: url(../images/phone.png) 0 0 no-repeat;
    top: 0;
    left: -60px;
}
.callback{
    color: #ef0c27;
    font-size: 18px;
}