@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&amp;subset=cyrillic);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 18px 'Open Sans', sans-serif;
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
h1, h2{
    font: 100 72px/72px 'Playfair Display', serif;
    position: relative;
}
h2:before {
    content: attr(data-text);
    position: absolute;
    font: 400 110px/100px 'Playfair Display', serif;
    top: -55px;
    opacity: 0.05;
    left: -95px;
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-transform: uppercase;
    text-align: right;
    line-height: 13px;
    margin-top: 33px;
}
.logo span:nth-child(1){
    color: #ef0c27;
    display: block;
    margin-bottom: 6px;
}
.logo span:nth-child(2){
    font-size: 21px;
    font-weight: 600;
    color: #000;
    display: block;
}
.top-contact{
    flex-direction: column;
    margin-top: 23px;
    text-align: right;
    align-items: end;
}
.top-nav{
    margin-top: 33px;
}
.top-nav li{
    margin-right: 46px;
    position: relative;
    z-index: 1;
}
.top-nav li:before{
    content: "";
    position: absolute;
    width: 0;
    height: 8px;
    left: -5px;
    bottom: 2px;
    background-color: #ffcccc;
    z-index: -1;

}
.top-nav li:hover:before{
    width: calc(100% + 10px);
}
.top-nav li a{
    font-size: 18px;
}
.top-nav li a:hover{
    text-decoration: none;
}
.top-nav li:last-of-type{
    margin-right:0;
}
.soc{
    margin-bottom: 15px;
}
li i{
    font-size: 20px!important;
    color: #fff;
    margin-right: 34px;
    position: relative;
    z-index: 1;
    padding-top: 1px;
}
.soc li:last-of-type i{
    margin-right: 0;
}
li i:after{
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: -4px;
    top: -6px;
    z-index: -1;
}
li i:hover{
    color: #000;
}
li i:hover:after{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    background-color: transparent;
}
.phone a{
    font: 600 24px "Open Sans";
    position: relative;
}
.phone a:before {
    content: '';
    position: absolute;
    width: 37px;
    height: 37px;
    background: url(../images/phone.png) 0 0 no-repeat;
    top: 0;
    left: -60px;
}
.callback{
    color: #ef0c27;
    font-size: 18px;
}
.main{
    background: url(../images/main-img-1.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.main .container{
    justify-content: flex-end;
    padding-top: 145px;
    position: relative;
}
.main .container:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 112px;
    background-color: #000;
    left: calc(50% - 1px);
    bottom: -145px;
    padding-bottom: 140px;
}
.main-content{
    text-align: left;
}
.main-content p{
    font-size: 60px;
    color: #ccc;
    font-style: italic;
}
.main-content ul{
    margin-bottom: 48px;
}
.main-content span{
    font-size: 24px;
    line-height: 36px;
    color: #000;
    font-style: italic;
    display: block;
    margin-top: 47px;
    margin-bottom: 32px;
}
.red{
    border: none;
    background-color: #ff0033;
    height: 79px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    color: #fff;
    font: 600 16px "Open Sans";
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.6s ease-in-out;
    box-shadow: 17px 17px 18px 0px rgba(77, 0, 2, 0.31);
    display: inline-block;
    cursor: pointer;
}
.zapis{
    width: 472px;
}
.more{
    width: 253px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin:116px 0 0 0;
}
.red:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    right: calc(100% + 1px);
    background-image: linear-gradient(101deg, #fff 50%, #ff0033);
    transition: right 0.3s ease-in-out;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    z-index: -1;
}
.red:hover{
    color:#ff0033;
    background-color: #fff;
    border: 1px solid #ff0033;
    text-decoration: none;
}
.red:hover:before {
    transition: all 0.3s ease-in-out;
    right: -100%;
}
.pochemu{
    padding-top: 150px;
    border-bottom:1px solid #bdbdbd;
}
.pochemu .container{
    background: url(../images/Tanya.png) 100% 100% no-repeat;
    padding-bottom: 116px;
}
.pochemu-list{
    margin-top: 93px;
}
.pochemu-list li{
    position: relative;
    margin-bottom: 78px;
    padding-left: 100px;
}
.pochemu-list li:last-of-type{
    margin-bottom: 0;
}
.pochemu-list li:nth-child(1):before{
    content: '';
    position: absolute;
    width:56px;
    height: 56px;
    background: url(../images/what-ico-1.png) 0 0 no-repeat;
    left:0;
    top: -15px;
}
.pochemu-list li:nth-child(1):before{
    content: '';
    position: absolute;
    width:56px;
    height: 56px;
    background: url(../images/what-ico-1.png) 0 0 no-repeat;
    left:0;
    top: -15px;
}
.pochemu-list li:nth-child(2):before{
    content: '';
    position: absolute;
    width:56px;
    height: 56px;
    background: url(../images/what-ico-2.png) 0 0 no-repeat;
    left:0;
    top: -20px;
}
.pochemu-list li:nth-child(3):before{
    content: '';
    position: absolute;
    width:56px;
    height: 56px;
    background: url(../images/what-ico-3.png) 0 0 no-repeat;
    left:0;
    top: 10px;
}
.pochemu-list li:nth-child(4):before{
    content: '';
    position: absolute;
    width:56px;
    height: 56px;
    background: url(../images/what-ico-4.png) 0 0 no-repeat;
    left:0;
    top: 0;
}
.miting{
    padding-top: 155px;
}
.mit-wrap{
    padding-right: 35px;
}
.mit-wrap h2,
.mit-wrap p:first-of-type{
    margin-bottom: 30px;
}
.mit-video a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.mit-video a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/play.png) 50% 50% no-repeat;
    cursor: pointer;
    top: 0;
    left: 0;
}
.mit-video a:hover:after{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.made{
    padding-top: 145px;
}
.made h2{
    margin-bottom: 30px;
}
.made .subheader{
    margin-bottom: 100px;
}
.made-list{
    flex-wrap: wrap;
    position: relative;
}
.made-list:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 116px;
    background-color: #ffc6df;
    top: -45px;
    left:calc(50% - 1px);

}
[class^="made-item-"]{
    width:calc(100%/3);
    height: 345px;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    font-weight: 700;
    padding:0 50px;
}
[class^="made-item-"] p{
    margin-top: 30%;
}
[class^="made-item-"]:hover{
    color: #fff;
}
[class^="made-item-"]>p>span{
    font-weight: 400!important;
    display: block;
}
.made-item-1{
    background: url(../images/made-1-bl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-1:hover{
    background: #ef0c27 url(../images/made-1-whl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-2{
    background: url(../images/made-2-bl.png) 50% calc(50% - 37px) no-repeat;
}
.made-item-2:hover{
    background: #ef0c27 url(../images/made-2-whl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-3{
    background: url(../images/made-3-bl.png) 50% calc(50% - 45px) no-repeat;
}
.made-item-3:hover{
    background: #ef0c27 url(../images/made-3-whl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-4{
     background: url(../images/made-4-bl.png) 50% calc(50% - 44px) no-repeat;
 }
.made-item-4:hover{
    background: #ef0c27 url(../images/made-4-whl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-5{
    background: url(../images/made-5-bl.png) 50% calc(50% - 40px) no-repeat;
}
.made-item-5:hover{
    background: #ef0c27 url(../images/made-5-whl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-6{
    background: url(../images/made-6-bl.png) 50% calc(50% - 45px) no-repeat;
}
.made-item-6:hover{
    background: #ef0c27 url(../images/made-6-whl.png) 50% calc(50% - 34px) no-repeat;
}
.shema{
    padding-top: 135px;
}