@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&amp;subset=cyrillic);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 18px 'Open Sans', sans-serif;
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
h1, h2{
    font: 100 72px/72px 'Playfair Display', serif;
    position: relative;
}
h3{
    font: 100 60px/60px 'Playfair Display', serif;
    position: relative;
}
h2:before,
h3:before{
    content: attr(data-text);
    position: absolute;
    font: 400 110px/100px 'Playfair Display', serif;
    top: -55px;
    opacity: 0.05;
    left: -95px;
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
header{
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 35px;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-transform: uppercase;
    text-align: right;
    line-height: 13px;
    margin-top: 33px;
}
.logo span:nth-child(1){
    color: #ef0c27;
    display: block;
    margin-bottom: 6px;
}
.logo span:nth-child(2){
    font-size: 21px;
    font-weight: 600;
    color: #000;
    display: block;
}
.top-contact{
    flex-direction: column;
    margin-top: 23px;
    text-align: right;
    align-items: end;
}
.top-nav{
    margin-top: 33px;
}
.top-nav li{
    margin-right: 46px;
    position: relative;
    z-index: 1;
}
.mob-menu li a{
    position: relative;
    z-index: 1;
}
.top-nav li:before,
.mob-menu li a:before{
    content: "";
    position: absolute;
    width: 0;
    height: 8px;
    left: -5px;
    bottom: 2px;
    background-color: #ffcccc;
    z-index: -1;

}
.top-nav li:hover:before,
.mob-menu li a:hover:before{
    width: calc(100% + 10px);
}
.top-nav li a{
    font-size: 18px;
}
.top-nav li a:hover,
.mob-menu li a:hover{
    text-decoration: none;
}
.top-nav li:last-of-type{
    margin-right:0;
}
.soc{
    margin-bottom: 15px;
}
li i{
    font-size: 20px!important;
    color: #fff;
    margin-right: 34px;
    position: relative;
    z-index: 1;
    padding-top: 1px;
}
.soc li:last-of-type i{
    margin-right: 0;
}
li i:after{
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: -4px;
    top: -6px;
    z-index: -1;
}
li i:hover{
    color: #000;
}
li i:hover:after{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    background-color: transparent;
}
.phone a{
    font: 600 24px "Open Sans";
    position: relative;
}
.phone a:before {
    content: '';
    position: absolute;
    width: 37px;
    height: 37px;
    background: url(../images/phone.png) 0 0 no-repeat;
    top: 0;
    left: -60px;
}
.callback{
    color: #ef0c27;
    font-size: 18px;
}
.main{
    background: url(../images/main-img-1.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.main .container{
    justify-content: flex-end;
    padding-top: 145px;
    position: relative;
}
.main .container:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 112px;
    background-color: #000;
    left: calc(50% - 1px);
    bottom: -145px;
    padding-bottom: 140px;
}
.main-content{
    text-align: left;
}
.main-content p{
    font-size: 60px;
    color: #ccc;
    font-style: italic;
}
.main-content ul{
    margin-bottom: 48px;
}
.main-content span{
    font-size: 24px;
    line-height: 36px;
    color: #000;
    font-style: italic;
    display: block;
    margin-top: 47px;
    margin-bottom: 32px;
}
.red{
    border: none;
    background-color: #ff0033;
    height: 79px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    color: #fff;
    font: 600 16px "Open Sans";
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.6s ease-in-out;
    box-shadow: 17px 17px 18px 0px rgba(77, 0, 2, 0.31);
    display: inline-block;
    cursor: pointer;
}
.zapis{
    width: 472px;
}
.zapis.mobile{
    display: block;
    margin: 0 auto;
}
.zapis-2{
    width: 532px;
    margin:0 auto;
    display: block;
}
.more{
    width: 253px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin:116px 0 0 0;
}
.red:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    right: calc(100% + 1px);
    background-image: linear-gradient(101deg, #fff 50%, #ff0033);
    transition: right 0.3s ease-in-out;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    z-index: -1;
}
.red:hover{
    color:#ff0033;
    background-color: #fff;
    border: 1px solid #ff0033;
    text-decoration: none;
}
.red:hover:before {
    transition: all 0.3s ease-in-out;
    right: -100%;
}
.pochemu{
    padding-top: 150px;
    border-bottom:1px solid #bdbdbd;
}
.pochemu.inner{
    padding-top: 50px;
}
.pochemu .container{
    background: url(../images/Tanya.png) 100% 100% no-repeat;
    padding-bottom: 116px;
}
.pochemu.inner .container{
    -webkit-background-size: contain;
    background-size: contain;
}
.pochemu-list{
    margin-top: 93px;
}
.pochemu-list li{
    position: relative;
    margin-bottom: 78px;
    padding-left: 100px;
    white-space: pre-line;
}
.pochemu-list li:last-of-type{
    margin-bottom: 0;
}
.pochemu-list li:nth-child(1):before{
    content: '';
    position: absolute;
    width:56px;
    height: 56px;
    background: url(../images/what-ico-1.png) 0 0 no-repeat;
    left:0;
    top: -15px;
}
.pochemu-list li:nth-child(2):before{
    content: '';
    position: absolute;
    width:56px;
    height: 56px;
    background: url(../images/what-ico-2.png) 0 0 no-repeat;
    left:0;
    top: -20px;
}
.pochemu-list li:nth-child(3):before{
    content: '';
    position: absolute;
    width:56px;
    height: 56px;
    background: url(../images/what-ico-3.png) 0 0 no-repeat;
    left:0;
    top: 10px;
}
.pochemu-list li:nth-child(4):before{
    content: '';
    position: absolute;
    width:56px;
    height: 56px;
    background: url(../images/what-ico-4.png) 0 0 no-repeat;
    left:0;
    top: 0;
}
.pochemu-list.obraz-ico li:nth-child(1):before{
    content: '';
    position: absolute;
    width:63px;
    height: 66px;
    background: url(../images/obraz-1.png) 0 0 no-repeat;
    left:0;
    top: -15px;
}
.pochemu-list.obraz-ico li:nth-child(2):before{
    content: '';
    position: absolute;
    width:63px;
    height: 66px;
    background: url(../images/obraz-2.png) 0 0 no-repeat;
    left:0;
    top: -20px;
}
.pochemu-list.obraz-ico li:nth-child(3):before{
    content: '';
    position: absolute;
    width:63px;
    height: 66px;
    background: url(../images/obraz-3.png) 0 0 no-repeat;
    left:0;
    top: -20px;
}

.pochemu-list.vesh-ico li:nth-child(1):before{
    content: '';
    position: absolute;
    width:63px;
    height: 66px;
    background: url(../images/vesh-1.png) 0 0 no-repeat;
    left:0;
    top: -15px;
}
.pochemu-list.vesh-ico  li:nth-child(2):before{
    content: '';
    position: absolute;
    width:63px;
    height: 66px;
    background: url(../images/vesh-2.png) 0 0 no-repeat;
    left:0;
    top: -20px;
}
.pochemu-list.vesh-ico  li:nth-child(3):before{
    content: '';
    position: absolute;
    width:63px;
    height: 66px;
    background: url(../images/vesh-3.png) 0 0 no-repeat;
    left:0;
    top: 10px;
}
.pochemu-list.vesh-ico  li:nth-child(4):before{
    content: '';
    position: absolute;
    width:63px;
    height: 66px;
    background: url(../images/vesh-4.png) 0 0 no-repeat;
    left:0;
    top: 0;
}
.pochemu-list.vesh-ico  li:nth-child(5):before{
    content: '';
    position: absolute;
    width:63px;
    height: 66px;
    background: url(../images/vesh-5.png) 0 0 no-repeat;
    left:0;
    top: -15px;
}
.miting{
    padding-top: 155px;
}
.mit-wrap{
    padding-right: 35px;
}
.mit-wrap h2,
.mit-wrap p:first-of-type{
    margin-bottom: 30px;
}
.mit-video a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.mit-video a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/play.png) 50% 50% no-repeat;
    cursor: pointer;
    top: 0;
    left: 0;
}
.mit-video a:hover:after{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.made{
    padding-top: 145px;
}
.made h2{
    margin-bottom: 30px;
}
.made .subheader{
    margin-bottom: 100px;
}
.made-list{
    flex-wrap: wrap;
    position: relative;
}
[class^="made-item-"]:before,
.gallery-wrap a:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 116px;
    background-color: #ffc6df;
    top: 0;
    left:calc(50% - 1px);
    opacity: 0;

}
[class^="made-item-"]{
    width:calc(100%/3);
    height: 345px;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    font-weight: 700;
    padding:0 50px;
    position: relative;
}
[class^="made-item-"] p{
    margin-top: 30%;
}
[class^="made-item-"]:hover{
    color: #fff;
}
[class^="made-item-"]:hover:before,
.gallery-wrap a:hover:before{
    opacity:1;
    top: -45px;
}
[class^="made-item-"]>p>span{
    font-weight: 400!important;
    display: block;
}
.made-item-1{
    background: url(../images/made-1-bl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-1:hover{
    background: #ef0c27 url(../images/made-1-whl.png) 50% calc(50% - 24px) no-repeat;
}
.made-item-2{
    background: url(../images/made-2-bl.png) 50% calc(50% - 37px) no-repeat;
}
.made-item-2:hover{
    background: #ef0c27 url(../images/made-2-whl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-3{
    background: url(../images/made-3-bl.png) 50% calc(50% - 45px) no-repeat;
}
.made-item-3:hover{
    background: #ef0c27 url(../images/made-3-whl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-4{
    background: url(../images/made-4-bl.png) 50% calc(50% - 44px) no-repeat;
}
.made-item-4:hover{
    background: #ef0c27 url(../images/made-4-whl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-5{
    background: url(../images/made-5-bl.png) 50% calc(50% - 40px) no-repeat;
}
.made-item-5:hover{
    background: #ef0c27 url(../images/made-5-whl.png) 50% calc(50% - 34px) no-repeat;
}
.made-item-6{
    background: url(../images/made-6-bl.png) 50% calc(50% - 45px) no-repeat;
}
.made-item-6:hover{
    background: #ef0c27 url(../images/made-6-whl.png) 50% calc(50% - 34px) no-repeat;
}
.shema{
    padding-top: 135px;
}
.shema.inner{
    padding-top: 50px;
}
.process{
    margin-top: 154px;
    justify-content:space-between;
    overflow: hidden;
    background: url(../images/shema-line.png) 100px 50px no-repeat;
}
.process-item{
    position: relative;
}
.process-item img{
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
.process-item p{
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    white-space: pre-line;
}

.result{
    padding-top: 77px;
    padding-bottom: 133px;
}
.result.inner{
    padding-bottom: 0;
}
.result-list{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    margin-top: 96px;
}
[class^="result-item-"]{
    width:calc(100%/3);
    display: flex;
    flex-direction:column;
    align-items:center;
    align-self: flex-start;
    text-align: center;
    padding: 0 70px;
    margin-bottom: 82px;
}
[class^="result-item-"] img{
    margin-bottom: 30px;
}
[class^="result-item-"] b{
    text-transform: uppercase;
    display: block;
}
footer{
    background-color: #2d2d51;
    color:#fff;
    padding:53px 0 103px 0;
}
.footer-menu,
.copyright{
    justify-content:space-between;
}
.footer-contact{
    flex-direction:column;
    justify-content: center;
    align-items: end;
}
.footer-contact ul{
    justify-content: right;
}
.footer-contact ul li,
.footer-contact ul li i{
    margin-right: 0;
}
.footer-contact ul li i:Hover{
    color: #fff;
}
.footer-contact ul li{
    margin-left: 34px;
}
.footer-menu li{
    margin-right: 72px;
}

.footer-menu>ul{
    padding-top: 40px;
}
.footer-menu li:last-of-type{
    margin-right: 0;
}
.footer-contact .soc li{
    margin-right: 0;
}
.footer-contact .soc li:last-of-type{
    margin-right: 0;
}
.copyright{
    font-size: 12px;
    margin-top: 46px;
}
.copyright p{
    margin-bottom: 17px;
}
.copyright a{
    font-weight: 700;
    text-decoration: underline;
}

footer .phone a::before {
    background: url(../images/phone-white.png) 0 0 no-repeat;
}
footer li i {
    color: #c6ffe1;
    margin-top: 0;
}
footer li i::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: -4px;
    top: -6px;
    z-index: -1;

}
.mob-menu{
    display: none;
}
.delay-1{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.delay-2{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.delay-3{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.delay-4{
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.delay-5{
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
}
.delay-6{
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.delay-7{
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.delay-8{
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.B_crumbBox{
    text-align: center;
    font-size: 14px;
    display: block;
    margin: 50px 0;
    font-style: italic;
}
.B_homeCrumb{
    color: #ef0c27;
}
.about-content{
    background-color: #f0f0f0;
    margin-top: 30px;
    padding: 55px 120px 52px 60px;
    height: 426px;
}
.about-content p{
    font-size: 40px;
    color: #585858;
    font-style: italic;
}
.about-content h1{
    margin-bottom: 25px;
}
.about-content span{
    margin-bottom: 30px;
    line-height: 30px;
    display: inline-block;
}
.portfolio-list{
    padding-top: 75px;
    text-align: center;
    padding-bottom: 50px;
}
.style{
    padding-top: 75px;
    text-align: center;
    padding-bottom: 50px;
}
.style p{
    line-height: 30px;
    margin-bottom: 50px;
}
.gallery-wrap{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 145px;
}
.gallery-wrap a{
    height: 509px;
    width: calc(50% - 16px);
    display: block;
    margin-bottom: 32px;
    position: relative;
}
.gallery-wrap.portfolio-wrap a{
    height: 447px;
    width: 25%;
    display: block;
    margin-bottom: 0;
    position: relative;
}
.gallery-wrap a:after{
    content: '\f06e';
    font-family: "FontAwesome";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #eee;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#fff;
    opacity: 0;
}
.gallery-wrap a:hover:after{
    opacity: 0.7;
}
.gallery-wrap img{
    height: 100%;
    width:100%;
    object-fit: cover;
    display: block;
}
.order{
    padding: 54px 0 105px 0;
}
.order p {
    font-size: 35px;
    font-family: "Playfair Display";
    text-align: center;
    margin-bottom: 55px;
}
.order p>span{
    font-size:48px;
}
.services{
    padding-bottom: 100px;
}
.services h2{
    text-align: center;
}
.sercice-list{
    justify-content:space-between;
    margin-top: 80px;
}
.service-item{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    flex-wrap: wrap;
    width:calc(100%/3 - 20px);
    box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.22);
}
.service-item img{
    width: 100%;
    height: auto;
    display: block;
}
.service-item h3{
    font-size: 30px;
    line-height: 30px;
    margin:20px 15px;
}
.service-item p{
    font-size: 16px;
    padding: 0 15px;
}
.service-item .more {
    width: 253px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    height: 70px;
}
.price-list{
    flex-direction:column;
    margin-top: 80px;
}
.price-item{
    justify-content: space-between;
    margin-bottom: 50px;
}
.price-item p:first-of-type{
    width: 30%;
    font-family:"Playfair Display";
    position: relative;
    font-size: 25px;
}
.price-item p:last-of-type{
    font-family:"Playfair Display";
    position: relative;
    font-size: 30px;
}
.price-item p>span{
    font-size: 18px;
}
.price-item ul{
    width:60%;
}
.price-item li i:after{
    content: none;
}
.price-item li i {
    font-size: 18px !important;
    color: #ffcccc;
    margin-right: 0;
}
.baza{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../images/baza-bg.jpg) 50% 50% no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content:center;
}
.vesh{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../images/vesh-bg.JPG) 50% 50% no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content:center;
}
.obraz{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../images/obraz-bg.jpg) 50% 50% no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content:center;
}
.portfolio{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../images/portfolio-bg.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content:center;
}
.baza:before,
.vesh:before,
.obraz:before,
.portfolio:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.70) 100%);
}
.baza .container,
.vesh .container,
.obraz .container,
.portfolio .container{
    display: flex;
    align-items:center;
    justify-content:center;
    color: #fff;
}
blockquote {
    margin: 0;
    background: #FDFBFB;
    color: #000;
    padding: 30px 30px 30px 80px;
    position: relative;
    font-size: 20px;
    font-weight: 100;
}

blockquote:before {
    content: "\f10d";
    position: absolute;
    font-family:"FontAwesome";
    z-index: 2;
    left: 30px;
    top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    color: #F2EAD7;
    font-size: 35px;

    background: rgba(188,231,250, .7);
}
blockquote:after {
    content: "";
    position: absolute;
    left: 34px;
    top: 19px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(239,12,39, .7);
}
blockquote p {
    font-family: "Playfair Display";
    font-size: 30px;
    letter-spacing: .05em;
    line-height: 1.4;
    margin: 0 0 16px;
    position: relative;
    z-index: 3;
}
blockquote cite {
    font-style: normal;
    font-weight: 300;
    color: #5F5F5F;
}
blockquote footer{
    background-color: transparent;
    color: #5F5F5F;
    padding: 0;
}
.bq {
    padding: 50px;
    background-color: #fafafa;
    text-align: center;
}
/*********************** MODAL ***************************/
.modal-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.83);
    z-index: 1000;
    display: none;
    justify-content:center;
    align-items:center;
}

#zakaz{
    flex-direction:column;
    position: relative;
    background-color: #fff;
    padding:45px 80px 30px 80px;
    justify-content:space-between;
    text-align: center;
    min-width: 320px;
    color: #000;
    box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.22);
}
#zakaz h3{
    font-size: 30px;
    text-transform: uppercase;
    line-height:unset;
}
#zakaz p{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 18px;
}
.modal-close{
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url(../images/close-popup.png) 0 0 no-repeat;
    top: 12px;
    right: 12px;
}
#zakaz input{
    height: 73px;
    margin-bottom: 17px;
    padding:0 37px;
    font-size: 18px;
    border:1px solid #999;
    font-family:"Playfair Display";
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    border-radius: 37px;
}
#zakaz input:last-of-type{
    margin-bottom: 27px;
}
#zakaz small{
    font-size: 11px;
    color: #a9a9a9;
    text-align: center;
    display: block;
    padding: 26px 0;
    white-space: pre-line;
}
#zakaz button{
    width: 100%;
}
.otzyv{
    padding-top: 50px;
}
.owl-carousel{
    margin-top: 50px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 15px auto;
    box-shadow: 0 0 15px;
}
.owl-carousel p{
    text-align: center;
    margin-bottom: 20px;
}
.owl-carousel span{
    text-align: center;
    display: block;
    color: #999;
    font-size: 14px;
}
.contacty-wrap{
    padding-top: 50px;
    justify-content: center;
}
.contact-img img{
    display: block;
    max-height: 500px;
}
.comtact-list li{
    font-size: 19px;
    font-weight: 600;
    color: #ef0c27;
    line-height: 29px;
    font-style: italic;
    margin-bottom: 70px;
    position: relative;
}
.comtact-list li:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: -70px;
}
.comtact-list li:nth-child(1):before{
    background: url(../images/city.svg) 0 0 no-repeat;
    top: 7px;
}
.comtact-list li:nth-child(2):before{
    background: url(../images/phone.svg) 0 0 no-repeat;
    top: 13px;
}
.comtact-list li:nth-child(3):before{
    background: url(../images/mail.svg) 0 0 no-repeat;
    top: 10px;
}
.comtact-list{
    margin-right: 100px;
}
.comtact-list li p>span{
    display: block;
    color: #333;
    font-size: 30px;
    font-style: normal;
}
/*********************** MOBILE ***************************/

@media only screen and (max-width: 768px){
    body {
        font: 400 14px 'Open Sans', sans-serif;
    }
    .mobile-none {
        display: none!important;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 15px;
        overflow: hidden;
    }
    .mob-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ef0c27;
        color: #fff;
        padding-top: 120px;
        padding-left: 82px;
        z-index: 100;
        font-size: 30px;
    }
    .mob-menu li{
        margin-bottom: 30px;
        position: relative;
    }
    .mob-menu li a{
        position: relative;
    }
    .m-close-menu{
        position: absolute;
        width: 23px;
        height: 23px;
        background: url(../images/close-mob-menu.png) 0 0 no-repeat;
        cursor: pointer;
        top: 14px;
        right: 16px;
    }
    h2::before {
        content: "";
    }
    .logo span:nth-child(1) {
        font-size: 12px;
    }
    .logo span:nth-child(2) {
        font-size: 14px;
    }
    .logo{
        margin-top: 0;
    }
    header {
        padding-top: 25px;
        padding-bottom: 25px;
        position: fixed;
        width: 100%;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 50;
    }
    .m-menu-button{
        display: flex!important;
        flex-direction: column;
        position: absolute;
        top: 28px;
        right: 26px;
        width: 28px;
        height: 22px;
        cursor: pointer;
    }
    .m-menu-button span{
        width: 100%;
        height: 2px;
        background-color: #000;
        margin-bottom: 8px;
    }
    .m-menu-button span:last-of-type{
        margin-bottom: 0;
    }
    .main .container {
        justify-content: flex-start;
        padding-top: 40px;
        position: relative;
    }
    .main {
        background: url(../images/main-img.jpg) 62% 100% no-repeat;
        padding-bottom: 615px;
        margin-top: 83px;
    }
    .main-content p {
        font-size:36px;
    }
    h1, h2 {
        font: 100 48px/48px 'Playfair Display', serif;
    }
    .main-content span{
        margin-top: 33px;
        font-size: 18px;
        line-height: 24px;
    }
    .main-content li{
        font-size: 14px;
        line-height: 24px;

    }
    .mobile{
        display: block!important;
        width: 287px;
        margin: 0 auto 40px auto;
        font-size: 14px;
    }
    .main .container::before {
        width: 0;
        height: 0;

    }
    .pochemu-list li {
        margin-bottom: 65px;
        padding-left: 73px;
        font-size: 14px;
    }
    .main-content ul {
        margin-bottom: 25px;
    }
    .pochemu {
        padding-top: 53px;
    }
    .pochemu .container {
        background: none;
        padding-bottom: 65px;
    }
    .pochemu-list {
        margin-top: 63px;
    }
    .pochemu-list li:nth-child(3)::before {
        top: 20px;
    }
    .pochemu-list li:nth-child(4)::before {
        top: -10px;
    }
    .more {
        margin: 50px auto 0 auto;
    }
    .miting {
        padding-top: 63px;
    }
    .mit-wrap {
        padding-right: 0;
        width: 100%;
    }
    .mit-wrap p{
        font-size: 14px;
    }
    .miting .container{
        flex-wrap: wrap;
    }
    .mit-video {
        width: 100%;
        margin-top: 50px;
    }
    .mit-video img{
        width: 100%;
        height: auto;
        display: block;
    }
    .mit-wrap h2{
        font-size: 41px;
    }
    .mit-video a::after {
        background-size: 29%;
    }
    .made {
        padding-top: 63px;
    }
    .made h2 {
        margin-bottom: 15px;
    }
    .made .subheader {
        margin-bottom: 50px;
        font-size: 14px;
    }
    [class^="made-item-"] {
        width: 100%;
        height: 280px;
    }
    [class^="made-item-"] p {
        margin-top: 30%;
        font-size: 14px;
    }
    .made-item-6{
        margin-bottom: 25px;
    }
    .shema {
        padding-top: 63px;
    }
    .process {
        margin-top: 57px;
        justify-content: space-between;
        overflow: hidden;
        flex-wrap: wrap;
    }
    .process-item:nth-child(2)::before {
        background: none;
    }
    .process-item img {
        margin-bottom: 30px;
    }
    .process-item p {
        font-size: 14px;
    }
    .process-item {
        margin-bottom: 67px;
    }
    .result {
        padding-top: 0;
        padding-bottom: 85px;
    }
    .result-list {
        flex-wrap: wrap;
        margin-top: 102px;
    }
    [class^="result-item-"] {
        width: 100%;
        padding: 0 53px;
        margin-bottom: 47px;
    }
    [class^="result-item-"] p{
        font-size: 14px;
    }
    footer {
        padding: 53px 0 53px 0;
    }
    .copyright {
        flex-wrap: wrap;
    }
    .salut-logo{
        margin-top: 40px;
    }
    .footer-contact .phone{
        margin-bottom: 25px;
        order:-1;
    }
    .footer-contact .phone a {
        margin-left: 60px;
    }
    .footer-contact {
        align-items: start;
    }
    .footer-contact ul li:first-of-type {
        margin-left: 0;
    }
    .copyright {
        margin-top: 25px;
    }
    .about .container{
        flex-wrap: wrap;
    }
    .about img{
        width: 100%;
        height: auto;
    }
    .gallery-wrap a{
        height: 309px;
        width: 100%;
    }
    .order button{
        margin-bottom: 40px!important;
    }
    .order p {
        font-size: 26px;
        font-family: "Playfair Display";
        text-align: center;
        margin-bottom: 55px;
    }
    .order p>span{
        font-size:36px;
        display: block;
    }
    section:first-of-type{
        margin-top: 83px;
    }
    .about-content{
        height: auto;
        padding: 10px;
        width: 100%;
    }

    .about-content p {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 35px;
    }
    #zakaz {
        flex-direction: column;
        padding: 45px 15px 0 15px;
    }
    #zakaz p {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 15px;
    }
    #zakaz input {
        height: 55px;
    }
    .services {
        padding-bottom: 50px;
    }
    .sercice-list {
        margin-top: 40px;
        flex-wrap: wrap;
        align-items: center;
    }
    .service-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .service-item p {
        font-size: 14px;
        padding: 0 20px;
    }
    .service-item .more {
        margin: 30px auto 30px;
    }
    .price-list {
        margin-top: 50px;
    }
    .price-item {
        align-items:center;
        margin-bottom: 50px;
        flex-direction: column;
    }
    .price-item p:first-of-type {
        width: 100%;
        font-family: "Playfair Display";
        position: relative;
        font-size: 25px;
    }
    .price-item ul {
        margin-top: 30px;
        width: 100%;
    }
    .price-item li i {
        font-size: 16px !important;
    }
    .bq {
        padding: 0;
    }
    .gallery-wrap.portfolio-wrap a{
        width: 100%;
    }
    .owl-carousel .owl-item img {
        width: 200px;
        height: 200px;
    }
    .contacty-wrap {
        justify-content: normal;
        padding-top: 25px;
    }
    .comtact-list li p > span {
        font-size: 24px;
    }
}