@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothaProReg.otf");
}
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothaProMed.otf");
}
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothaProLig.otf");
}
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothaProBol.otf");
}
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothaProBla.otf");
}
* {box-sizing: border-box}

body{
    background: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    font:400 14px 'GothamPro';
}
a{
    text-decoration: none;
    color: inherit;
    outline: none;
}
a[href^="mailto"]{
    text-decoration: underline;
}
a[href^="mailto"]:hover{
     text-decoration: none;
 }
p, figure{
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none
}
button{
    cursor: pointer;
    outline:none;
}
.container{
    width: 1170px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
header{
    position: relative;
    background: #f7f8fc;
    display: flex;
    padding:32px 0 0 0;
    flex-direction: column;
}
header hr{
    margin-top: 25px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.start{
    justify-content: flex-start!important;
}
.wrap{
    flex-wrap: wrap;
}
.hidden{
    opacity:0;
}
header ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 5px;
}
header ul li img{
    filter: brightness(0);
}
header ul li {
    margin-right: 8px;
}
header ul li:last-child {
    margin-right: 0px;
}
.soc p{
    font-family: "GothamProMedium";
}
.num{
    font-family: "GothamProMedium";
    font-size: 18px;
    letter-spacing:1px;
    margin:10px 0 15px 0;
}

.email{
    color: #0ec7fc;
}
.order{
    margin-top: 5px;
}
[data="button"]{
    font-size: 14px;
    width: 232px;
    height: 52px;
    border:none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to bottom, #e83701, #a90808);
    box-shadow: 6px 10px 31.15px 3.85px rgba(255, 0, 0, 0.29);

}
[data="button"]:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    z-index: 0;
    background-image: linear-gradient(to bottom, #097bcb, #043145);
    box-shadow: 6px 10px 31.15px 3.85px rgba(4, 116, 195, 0.55);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
[data="button"]:hover:after{
    opacity:1;
    z-index: -1;
}
.more-button{
    margin: 0 auto;
    display: block;
    padding: 30px 0 40px;
    width: 345px;
}
 ul.top-menu{
     padding:15px 0;
}
ul.top-menu li a{
    font-family: "GothamProLight";
    text-transform: uppercase;
}
ul.top-menu li a:hover{
    text-decoration: underline;
       color: #d62a03;
}
.main .container {
   padding:152px 0 193px 0;
}
.main h1{
    font-family: "GothamProBlack";
    font-size: 48px;
    text-transform: uppercase;
    line-height: 60px;
}
.main h1 span{
    border-bottom: 1px solid #000;
}
.main h2{
    font-family: "GothamProMedium";
    font-size: 20px;
    text-transform: uppercase;
}
.main p{
    font-family: "GothamProLight";
    font-size: 20px;
    line-height: 30px;
}
.main .container{
    background: url(../images/scroll-1-bg.png)center right no-repeat;
}
.client-logo{
    background: #f7f8fc;
    border-top:1px solid #f1f1f1;
    border-bottom:1px solid #f1f1f1;
}
.client-logo img{
filter:grayscale(1);
}
.letters{
    margin:143px 0 150px 0;
}
.letters h2 , h2.header{
    font-family: "GothamProMedium";
    font-size: 18px;
    position: relative;
    left: 609px;
    display: inline-block;
}
.letters h2{
    top: 83px;
    left: 437px;
}
.letters h2:before, h2.header:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 38px;
    bottom:0;
    left: -21px;
    background: #000;
}
.letters h2 span, h2.header span{
    font-family: "GothamProLight";
}
h3.header{
    font-family: "GothamProBlack";
    font-size: 36px;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
    margin: 35px 0 25px;
}
p.sub-header{
    font-family: "GothamProLight";
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 100px;
}
.letters > .container{
    padding: 0 40px 0 175px;
}
.letter-img {
    width: 293px;
    height: 365px;
    background: url(../images/letter-bg.jpg) 0 0 no-repeat;
    padding: 12px;
    box-shadow: 11px 19px 7px 0px rgba(0, 0, 0, 0.35);
    display: inline-block;
    float: left;
}
.letter-item{
    padding: 30px 0 60px;
}
.letter-content {
    padding-right: 75px;
    display: inline-block;
    width: calc(100% - 294px);
    padding-left: 123px;
}
.letter-content h3{
    font-family: "GothamProBlack";
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 55px;
    margin-bottom: 25px;
}
.letter-content p{
    font-family: "GothamProLight";
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 22px;
}
.letter-content ul{
    position: absolute;
}
.letter-content ul li{
    margin-right: 60px;
}
.letter-content ul li img{
    width:unset!important;
}
.letter-content ul li:last-child{
    margin-right: 0;
}
 .owl-carousel .owl-nav.disabled {
    display: unset;
}

 .owl-next, .owl-prev{
     width: 67px;
     height: 132px;
     background: url(../images/slider-arrow.png) 0 0 no-repeat;
     position: absolute;
     top: calc(50% - 66px);
     transition: all 1s;
 }
.owl-prev{
    background: url(../images/slider-arrow-prev.png) 0 0 no-repeat;
    left: -175px;
}
.owl-next{
    right: -40px;
}
.owl-next:hover {
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    transition: all 1s;
}
.owl-prev:hover {
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}
.nap{
    margin-bottom: 150px;
}
.dev:after, .seo:after, .brand:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.dev:before, .seo:before, .brand:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.dev:after {
    background: url(../images/dev-bg.jpg) 0 0 no-repeat;
}
.seo:after {
    background: url(../images/dev-bg.jpg) 0 0 no-repeat;
}
.brand:after {
    background: url(../images/dev-bg.jpg) 0 0 no-repeat;
}

.dev:hover:after, .seo:hover:after, .brand:hover:after   {
    opacity: 1;
    z-index: -2;
}
.dev:hover:before, .seo:hover:before, .brand:hover:before{
    opacity:1;
    z-index: -1;
}
.dev:hover, .seo:hover, .brand:hover{
    color: #fff;
}
.dev:hover .dev-ico{
    background: url(../images/dev-ico-hover.png) 0 0 no-repeat;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.seo:hover .seo-ico{
    background: url(../images/seo-ico-hover.png) 0 0 no-repeat;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.brand:hover .brand-ico{
    background: url(../images/brand-ico-hover.png) 0 0 no-repeat;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.dev, .seo, .brand{
    padding: 25px 40px;
    position: relative;
}
.dev h3, .seo h3, .brand h3{
    font-family: "GothamProMedium";
    font-size: 14px;
    text-transform: uppercase;
    line-height: 11px;
    margin-top: 27px;
    margin-bottom: 10px;
}
.dev ul li, .seo ul li, .brand ul li{
    font-family: "GothamProLight";
    font-size: 14px;
    line-height: 24px;
}
.dev-ico{
    width: 100%;
    height: 58px;
    background: url(../images/dev-ico.png) 0 0 no-repeat;
}

.seo-ico{
    width: 100%;
    height: 58px;
    background: url(../images/seo-ico.png) 0 0 no-repeat;
}
.brand-ico{
    width: 100%;
    height: 58px;
    background: url(../images/brand-ico.png) 0 0 no-repeat;
}
.portfolio-items{
    box-shadow: 19px 33px 39.56px 3.44px rgba(0, 0, 0, 0.28);
}
[class^="portfolio-item-"]{
    max-height: 390px;
    position: relative;
}
[class^="portfolio-item-"] img{
    max-width: 390px;
}
[class^="portfolio-item-"] h4{
    font-family: "GothamProBold";
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 22px;
    margin-top: 0;
 }
[class^="portfolio-item-"] p{
    font-family: "GothamProLight";
    font-size: 18px;
    text-transform: uppercase;
 }
[class^="portfolio-item-"]:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
[class^="portfolio-item-"]:hover:before{
    opacity:1;
    z-index: 0;
}
[class^="portfolio-item-"] .hidden {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
[class^="portfolio-item-"]:hover .hidden{
    opacity:1!important;
    z-index: 1;
}
.portfolio-item-1:before{
    background: rgba(14,199,252,0.7);
}
.portfolio-item-2:before{
    background: rgba(193,42,215,0.7);
}
.portfolio-item-3:before{
    background: rgba(115,210,58,0.7);
}
.portfolio-item-4:before{
    background: rgba(0,99,210,0.7);
}
.portfolio-item-5:before{
    background: rgba(55, 44, 99, 0.7);
}
.portfolio-item-6:before{
    background: rgba(255,0,48,0.7);
}
.more-button-wrap{
    margin:93px 0 100px;
}
.wrapper-content {
    position:static;
    width:100%;
    height:100%;
    left:0;
    top:0
    overflow: scroll;
}
.shapes {
    position:fixed;
    width:100%;
    height:120%;
    left:0;
    opacity:1;
    z-index: -1;

}
.shapes.one{
    animation: turn-1 ease 50.6s infinite;
}
.shapes.two{
    animation: turn-1 ease 30.6s infinite;
}
.shape {
    animation: rotation linear 8.6s infinite;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes turn-1 {
    0% {-webkit-transform: translate(0%, 0%);}
    50% {-webkit-transform: translate(0%, -30%);}
    100% {-webkit-transform: translate(0%, -10%);}
}
@-moz-keyframes turn-1 {
    0% {-webkit-transform: translate(0%, 0%);}
    50% {-webkit-transform: translate(0%, -30%);}
    100% {-webkit-transform: translate(0%, -10%);}
}
@-keyframes turn-1 {
0% {-webkit-transform: translate(0%, 0%);}
50% {-webkit-transform: translate(0%, -30%);}
100% {-webkit-transform: translate(0%, -10%);}
}
@media screen and (max-width:550px) {
    .shapes {
        display:none
    }
}
.shapes.one {
    top:0
}
.shapes.two {
    top:90%
}
.shapes.two .rotate-area {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    -webkit-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.shapes.two .shape.diamond {
    top:35%
}
.shapes.red .shape polygon,.shapes.red .shape path {
    stroke:#fd7f48
}
.shapes.red .shape.diamond {
    border-color:#fd7f48
}
.shapes.red .shape.circle {
    border-color:#fd7f48
}
.shapes.grey .shape polygon,.shapes.grey .shape path {
    stroke:#1a9f7d
}
.shapes.grey .shape.diamond {
    border-color:#1a9f7d
}
.shapes.grey .shape.circle {
    border-color:#1a9f7d
}
.shapes.yellow .shape polygon,.shapes.yellow .shape path {
    stroke:#ab1018
}
.shapes.yellow .shape.diamond {
    border-color:#ab1018
}
.shapes.yellow .shape.circle {
    border-color:#ab1018
}
.shapes.pink .shape polygon,.shapes.pink .shape path {
    stroke:#6ab1d7
}
.shapes.pink .shape.diamond {
    border-color:#6ab1d7
}
.shapes.pink .shape.circle {
    border-color:#6ab1d7
}
.shapes.victoria .shape polygon,.shapes.victoria .shape path {
    stroke:#c9cf33
}
.shapes.victoria .shape.diamond {
    border-color:#c9cf33
}
.shapes.victoria .shape.circle {
    border-color:#c9cf33
}
.shapes.blue .shape polygon,.shapes.blue .shape path {
    stroke:#428ab0
}
.shapes.blue .shape.diamond {
    border-color:#428ab0
}
.shapes.blue .shape.circle {
    border-color:#428ab0
}
.shapes.green .shape polygon,.shapes.green .shape path {
    stroke:#5ec3b2
}
.shapes.green .shape.diamond {
    border-color:#5ec3b2
}
.shapes.green .shape.circle {
    border-color:#5ec3b2
}
.shapes.green2 .shape polygon,.shapes.green2 .shape path {
    stroke:#3bbda7
}
.shapes.green2 .shape.diamond {
    border-color:#3bbda7
}
.shapes.green2 .shape.circle {
    border-color:#3bbda7
}
.shapes .shape {
    position:absolute;
    top:0;
    left:0
}
.shapes .shape polygon,.shapes .shape path {
    stroke:#3bbda7;
    -webkit-transition:all .4s ease;
    transition:all .4s ease
}
.shapes .shape.triangle {
    width:120px;
    height:120px;
    top:15%;
    left:5%;
    -webkit-transform:rotate(-10deg);
    -ms-transform:rotate(-10deg);
    transform:rotate(-10deg)
}
.shapes .shape.triangle polygon {
    stroke-width:.25
}
.shapes .shape.triangle.small {
    width:160px;
    height:160px;
    top:80%;
    left:25%;
    -webkit-transform:rotate(25deg);
    -ms-transform:rotate(25deg);
    transform:rotate(25deg)
}
.shapes .shape.triangle.small polygon {
    stroke-width:.45;
    stroke: #ff006a;
}
.shapes .shape.circle {
    width:110px;
    height:110px;
    border-radius:100%;
    border:6px solid #3100a1;
    top:75%;
    left:90%;
    -webkit-transition:border-color .4s ease;
    transition:border-color .4s ease
}
.shapes .shape.circle.small {
    width:50px;
    height:50px;
    top:50%;
    left:25%;
    -webkit-transform:rotate(25deg);
    -ms-transform:rotate(25deg);
    transform:rotate(25deg)
}
.shapes .shape.diamond {
    width:30px;
    height:30px;
    border:1px solid #3bbda7;
    top:85%;
    left:60%;
    -webkit-transform:rotate(-50deg);
    -ms-transform:rotate(-50deg);
    transform:rotate(-50deg);
    -webkit-transition:border-color .4s ease;
    transition:border-color .4s ease
}
.shapes .shape.waves {
    width:60px;
    height:60px;
    top:65%;
    left:5%;
    -webkit-transform:rotate(-50deg);
    -ms-transform:rotate(-50deg);
    transform:rotate(-50deg)
}
.shapes .shape.waves path {
    stroke-width:.55;
    stroke: #1fa2ed;
}
.shapes .shape.waves.small {
    width:40px;
    height:40px;
    top:20%;
    left:92%;
    -webkit-transform:rotate(25deg);
    -ms-transform:rotate(25deg);
    transform:rotate(25deg)
}
.shapes .shape.waves.small path {
    stroke-width:.6
}
.shapes .shape.hexa {
    width:50px;
    height:50px;
    top:55%;
    left:75%;
    -webkit-transform:rotate(-50deg);
    -ms-transform:rotate(-50deg);
    transform:rotate(-50deg)
}
.shapes .shape.hexa polygon {
    stroke-width:.5
}
