@import url(https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600&amp;subset=cyrillic);

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after, :before, :hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:600 14px 'Montserrat', sans-serif;
    background: #f6f6f6;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
h1{
    font: 100 69px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #336699;
    margin: 185px 0 134px 0;
}
h2{
    font: 100 69px/40px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #336699;
    margin:137px 0 169px 0;
    position: relative;
}
h2>span {
    font-size: 17px!important;
    display: block;
}
h2:after, h2:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 67px;
    background-color: #336699;
    left: 50%;
}
h2:after{
    top: -83px;
}
h2:before{
    bottom: -87px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1200px;
    padding: 0 27px;
    margin: 0 auto;
    position: relative;
}
.container.cont{
    padding: 0 52px;
}
header{
    border-bottom: 4px solid #474646;
}
header nav{
    align-items: center;
    justify-content: space-between;
}
.menu-button{
    width: 24px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 35px 0;
}
.menu-button span{
    width: 100%;
    height: 4px;
    background-color: #000;
}
.logo{
    flex-direction: column;
}
.logo select{
    border: none;
    background: transparent;
    margin-top: 4px;
 }
.region, .region select{
    font-size: 12px;
    font-weight: 600 ;
}
.short-menu a{
    font-size: 16px;
}
.short-menu li:nth-of-type(2){
    margin: 0 50px 0 44px;
}
.top-phone, .top-adress{
    text-align: right;
}
.slider .container{
    padding: 0;
}
.item {
    position: relative;
}
.item p{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 55px;
    background-color: rgba(255,255,255,0.5);
    font-size: 15px;
    font-weight: 600;
}

.about-content p{
    margin-bottom: 22px;
}
a.more{
    display: inline-block;
    float: right;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 47px;
    width: 218px;
    height: 38px;
    color: #fff;
    text-decoration: none;
    background-color: #336699;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.about-content a{
    text-align: right;

}
.img-item{
    justify-content: space-between;
    margin-bottom: 50px;
}
.img-item a{
    display: block;
    padding: 0;
    position: relative;
    border-right: 5px solid #999;
    line-height: 0;
    overflow: hidden;
}
.img-item a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 300px solid  rgba(255,255,255,0.5);
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
}
.hover{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: -400px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    padding-top: 70px;

}
.hover p{
    font-size: 32px;
    font-weight: 100;
    color:  #336699;
    margin-bottom: 48px;
    line-height: 32px;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}
.hover button{
    width: 105px;
    height: 37px;
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background-color: #336699;
    cursor: pointer;
}
.img-item a:hover .hover{
    left: 0;
}
.map{
    margin-top: 58px;
}
.map .container{
    padding: 0;
}
footer .container{
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color:  #336699;
    padding: 40px 54px;
}
footer li{
    margin-bottom: 20px;
}
.footer-contact {
    text-align: right;
}
.footer-contact li:last-of-type, .footer-menu li:last-of-type{
    margin-bottom: 0;
}
.sogl{
    padding: 20px 25px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}
.sogl a img{
    box-shadow: 6px 0 1px 0 rgba(0, 0, 0, 0.2);
    width: 63px;
    height: 33px;
}
.sogl .container {
    display: flex;
    justify-content: right;
    align-items: center;
}
.sogl p{
    flex-grow: 1;
}