@import url(https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600&amp;subset=cyrillic);

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:600 14px 'Montserrat', sans-serif;
    background: #f6f6f6;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
h1{
    font: 100 69px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #336699;
    margin: 185px 0 134px 0;
    position: relative;
}
h2{
    font: 100 69px/40px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #336699;
    margin:137px 0 169px 0;
    position: relative;
}
h2>span,
h1>span{
    font-size: 17px!important;
    display: block;
}
h2:after,
h2:before,
h1:not(.inner):after,
h1:not(.inner):before{
    content: '';
    position: absolute;
    width: 1px;
    height: 67px;
    background-color: #336699;
    left: 50%;
}
h2:after,
h1:after{
    top: -83px;
}
h2:before,
h1:before{
    bottom: -87px;
}
h1.inner{
    padding: 65px 0;
    margin: 0;
}
h3{
    font-size: 24px;}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1200px;
    padding: 0 27px;
    margin: 0 auto;
    position: relative;
}
.container.cont{
    padding: 0 52px;
}
header{
    border-bottom: 4px solid #474646;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}
header nav{
    align-items: center;
    justify-content: space-between;
}
.menu-button{
    width: 24px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 35px 0;
}
.full-menu {
    position: fixed;
    top: 0;
    left: -454px;
    width: 454px;
    height: 100vh;
    background-color: #045a96;
    color: #fff;
    padding: 123px 70px 57px 60px;
}
span.close-menu{
    width: 35px;
    height: 35px;
    position: absolute;
    background: url(../images/full-menu-close.png) 0 0 no-repeat;
    cursor: pointer;
    top: 35px;
    left:calc(50% - 17px);
}
.full-menu ul li{
    font-size: 23px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 45px;
}
.full-menu ul li:last-of-type,
.full-menu ul li ul li:last-of-type{
    margin-bottom: 0;
}
.full-menu ul li ul li{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    position: relative;
    margin-left: 10px;
}
.full-menu ul li ul li:before{
    content: '';
    position: absolute;
    width: 5px;
    height: 1px;
    background-color: #fff;
    left: -10px;
    top: 9px;
}
.full-menu ul li ul{
    margin-top: 25px;
}
.menu-button span{
    width: 100%;
    height: 4px;
    background-color: #000;
}
.logo{
    flex-direction: column;
}
.logo select{
    border: none;
    background: transparent;
    margin-top: 4px;
 }
.region, .region select{
    font-size: 12px;
    font-weight: 600 ;
}
.short-menu a{
    font-size: 16px;
}
.short-menu li:nth-of-type(2){
    margin: 0 50px 0 44px;
}
.top-phone,
.top-adress{
    text-align: right;
}
.slider{
    margin-top: 94px;
}
.slider .container{
    padding: 0;
}
.owl-dots{
    position: absolute;
    top: 10px;
    left: 55px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #336699;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    -webkit-box-shadow: 3px 3px 2px #000;
    -moz-box-shadow: 3px 3px 2px #000;
    box-shadow: 3px 3px 2px #000;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 554px;
    object-fit: cover;
}
.item {
    position: relative;
}
.item p{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 55px;
    background-color: rgba(255,255,255,0.5);
    font-size: 15px;
    font-weight: 600;
}

.about-content p{
    margin-bottom: 22px;
}
a.more,
a.order,
button.order{
    display: inline-flex;
    align-items: center;
    justify-content:center ;
    float: right;
    font-size: 18px;
    font-weight: 600;
    padding: 7px;
    width: 218px;
    height: 38px;
    color: #fff;
    text-decoration: none;
    background-color: #336699;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
button.order{
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
    margin:0 auto;
    cursor: pointer;
}
.about-content a{
    text-align: right;

}
.img-item{
    justify-content: space-between;
    margin-bottom: 50px;
}
.img-item a{
    display: block;
    padding: 0;
    position: relative;
    border-right: 5px solid #999;
    line-height: 0;
    overflow: hidden;
}
.img-item a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 300px solid  rgba(255,255,255,0.5);
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
}
.hover{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: -400px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    padding-top: 70px;

}
.hover p{
    font-size: 32px;
    font-weight: 100;
    color:  #336699;
    margin-bottom: 48px;
    line-height: 32px;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}
.hover button{
    width: 105px;
    height: 37px;
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background-color: #336699;
    cursor: pointer;
}
.img-item a:hover .hover{
    left: 0;
}
.map{
    margin-top: 58px;
}
.map .container{
    padding: 0;
}
footer{
    background-color:  #336699;
}
footer .container{
    justify-content: space-between;
    align-items: center;
    color: #fff;

    padding: 40px 54px;
}
footer li{
    margin-bottom: 20px;
}
footer li a{
    display: block;
    margin-bottom: 5px;
}
.footer-contact {
    text-align: right;
}
.footer-contact li:last-of-type,
.footer-menu li:last-of-type{
    margin-bottom: 0;
}
.sogl{
    padding: 20px 25px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}
.sogl a img{
    box-shadow: 6px 0 1px 0 rgba(0, 0, 0, 0.2);
    width: 63px;
    height: 33px;
}
.sogl .container {
    display: flex;
    justify-content: right;
    align-items: center;
}
.sogl p{
    flex-grow: 1;
}
.B_crumbBox{
    color: #a2a2a2;
    font-size: 12px;
    margin-bottom: 60px;
    display: inline-block;
}
.about-content{
    padding-bottom: 136px;
    padding-right: 65px;
}
.about-content h3{
    margin-bottom: 15px;
    font-weight: 600;
}

section:first-of-type{
    margin-top: 93px;
}
.inner p{
    font-size: 18px;
    font-weight: 400;
}
.catalog-content{
    margin-bottom: 88px;
}
.catalog-wrap{
    flex-wrap: wrap;
    justify-content:space-between;
}
.catalog-item{
    width:calc(50% - 87px);
    margin-bottom: 90px;
}
.catalog-item:hover a span{
    padding: 45px 75px;
}
.catalog-item a span{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 4px;
    text-align: center;
    background-color: rgba(0,102,153, 0.5);
    padding: 25px 75px;
    font-size: 24px;
    color: #fff;
}
.catalog-item a{
    position: relative;
    margin-bottom: 30px;
    display: block;
}
.catalog-item img,
.portfolio-item img,
.catalog-element-item img{
    width: 100%;
    height: auto;
    box-shadow: 6px 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.portfolio-content{
    margin-bottom: 85px;
}
.portfolio-content h3{
    margin-bottom: 20px;
}
.portfolio-img{
    justify-content: space-between;
    margin-top: 25px;
}
.portfolio-item,
.catalog-element-item{
    width: calc(100%/4 - 36px);
}
.portfolio-item p,
.catalog-element-item p{
    font-size: 17px;
    font-weight: 600;
    margin-top: 17px;
}
.blog-item{
    margin-bottom: 80px;
}
.blog-content h3{
     font-size: 31px;
    margin-bottom: 30px;
 }
.blog-content{
    padding-left: 60px;
}
.blog-content p{
    font-size: 19px;
    margin-bottom: 20px;
}
.blog-content p:last-of-type{
    margin-bottom: 30px;
}
.blog-content a.more{
    padding: 7px 30px;
}
.catalog-element-wrap{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}
.catalog-element-item{
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.catalog-element-item li{
    margin-bottom: 13px;
    font-size: 12px;
}
.catalog-element-item p{
    margin-bottom: 25px;
}
.contact-inner{
     padding-bottom: 80px;
 }
.contact li{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}
ul.contact{
    margin-bottom: 50px;
}
.contact li a {
    font-weight: 600;
    display: block;
}

.contact-content{
    justify-content: space-between;
    align-items: center;
}
.contact-map{
    flex-grow: 1;
    margin-left: 50px;
}
.modal-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    display: none;
    justify-content:center;
    align-items:center;
}
#zakaz{
    flex-direction:column;
    position: relative;
    background-color: #fff;
    padding:40px 30px 30px 30px;
    justify-content:space-between;
    text-align: center;
    min-width: 320px;
}
.modal-close{
    position: absolute;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
    top: 10px;
    right: 15px;
}
#zakaz h3{
    margin-bottom: 30px;
}
#zakaz input{
    height: 55px;
    margin-bottom: 30px;
    padding:0 20px;
}
/****************MOBILE**************************/

@media only screen and (max-width:768px){
    body {
        font: 400 14px/20px 'Montserrat', sans-serif;
    }
    .mobile-none {
        display: none!important;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 15px;
        overflow: hidden;
    }
    .owl-carousel .owl-item img {
        height: 300px;
    }
    .item p {
        padding: 4px 13px;
        font-size: 12px;
    }
    .container.cont {
        padding: 0 15px;
    }
    h1 {
        font: 100 38px 'Montserrat', sans-serif;
        margin: 40px 0;
    }
    h1.inner {
        padding: 20px 0;
    }
    h2:after, h2:before, h1:not(.inner):after, h1:not(.inner):before {
        content: '';
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: #336699;
        left: 50%;
    }
    h2:before, h1:before {
        bottom: -20px;
    }
    h2:after, h1:after {
        top: -20px;
    }
    .about-content {
        padding-bottom: 0;
        padding-right: 0;
    }
    h2 {
        font: 100 38px/37px 'Montserrat', sans-serif;
        margin: 60px 0;
    }
    h2 > span, h1 > span {
        font-size: 13px !important;
        line-height: 30px;
    }
    .img-item {
        flex-wrap: wrap;
        margin-bottom: 30px;
        justify-content: center;
    }
    .img-item a {
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 20px;
    }
    footer .container {
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 20px 15px;
        flex-wrap: wrap;
    }
    .footer-contact {
        text-align: left;
        margin-top: 30px;
    }
    footer li {
        margin-bottom: 5px;
    }

    .sogl {
        padding: 10px 0;
        font-size: 14px;
        font-weight: 100;
        text-align: left;
    }
    .sogl p{
        margin-bottom: 0;
    }
    .full-menu {
        position: fixed;
        top: 0;
        left: -454px;
        width: 100%;
        height: 100vh;
        background-color: #045a96;
        color: #fff;
        padding: 90px 24px 57px 45px;
    }
    .full-menu ul li {
        font-size: 20px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 18px;
    }
    .full-menu ul li ul li {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 11px;
        position: relative;
        margin-left: 10px;
    }
    .B_crumbBox {
        margin-bottom: 30px;
    }
    .about.inner .flex{
        flex-wrap: wrap;
    }
    .inner p {
        font-size: 14px;
    }
    .about-img img,
    .top-img img,
    .blogt-img img{
        width: 100%;
        height: auto;
    }
    .catalog-item {
        width: 100%;
        margin-bottom: 10px;
    }
    .catalog-item a span {
        padding: 25px 0;

    }
    .catalog-item:hover a span {
        padding: 45px 0;
    }
    portfolio-item, .catalog-element-item {
        width: 100%;
    }
    .catalog-element-item a{
        display: block;
        width: 100%;
        text-align: center;
    }
    .catalog-element-item li {
        margin-bottom: 10px;
    }
    .catalog-element-item p {
        margin-bottom: 10px;
    }
    .portfolio-img {
        justify-content: space-between;
        margin-top: 25px;
        flex-wrap: wrap;
    }
    .portfolio-item, .catalog-element-item {
        width: 100%;
    }
    .blog-item {
        margin-bottom: 80px;
        flex-wrap: wrap;
    }
    .blog-content {
        padding-left: 0;
        padding-top: 30px;
    }
    .blog-content h3 {
        font-size: 20px;
        margin-bottom: 11px;
        line-height: 32px;
    }
    .contact-content {
        flex-wrap: wrap;
    }

    .contact-map {
        margin-left: 0;
    }
}