@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic);
@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothaProReg.otf");
}
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothaProMed.otf");
}
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothaProLig.otf");
}
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothaProBol.otf");
}
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothaProBla.otf");
}

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after, :before, :hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input:focus,
textarea:focus,
select:focus,
input,
textarea,
select {
    outline-offset: 0;
    outline: none;
}
:focus {
    outline: none;
}
body {

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 400 14px 'Open Sans';
    color: #262c3a;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
    outline: none;
}
section {
    position: relative;
    width: 100%;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.flex{
    display: -webkit-flex;
    display: flex;
}
.container {
    width: 1180px;
    padding:0;
    margin: 0 auto;
    position: relative;
}
.content-wrap{
    overflow: hidden;
}
.delay-1{
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.delay-2{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.delay-3{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.delay-4{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.delay-5{
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-6{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.delay-7{
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.delay-8{
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
header{
    background-color: #fff;
}
header .container{
    align-items: center;
    justify-content: space-between;
}
.header-info{
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.logo{
    margin: 17px 71px 0 0;
}
.top-info{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.work-hour{
    position: relative;
    margin-left: 16px;
    padding-left: 16px;
}
.work-hour:before{
    content: "";
    position: absolute;
    background: url(../images/clock-ico.png) 0 0 no-repeat;
    width: 21px;
    height: 21px;
    top: 0;
    left: -16px;
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
}
.addr{
    position: relative;
}
.addr:before{
     content: "";
     position: absolute;
     background: url(../images/map-marker-ico.png) 0 0 no-repeat;
     width: 16px;
     height: 21px;
     top: 0;
     left: -27px;
     filter: brightness(0%);
     -webkit-filter: brightness(0%);
 }
.phone{
    position: relative;
}
.phone:before{
    content: "";
    position: absolute;
    background: url(../images/mobile-ico.png) 0 0 no-repeat;
    width: 13px;
    height: 21px;
    top: 0;
    left: -26px;
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
}
.wrap-1{
    align-items: center;
}
.soc{
    background:url(../images/fb-ico.png) 50% 50% no-repeat;
    width: 47px;
    height: 77px;
    display: inline-block;
    margin-right: -4px;
}

.header-info hr{
    width: 100%;
    height: 0;
    color: #e0e0e0;
    margin: 12px 0 0 0;
}
nav{
    width: 100%;
    background-color: #006aa7;
    margin-top: 5px;
}

nav ul{
    align-items: center;
    justify-content: space-between;
    max-width: 690px;
}
nav ul li{
    padding: 20px 0;
}
nav ul li a{
    text-transform: uppercase;
    font-size: 14px;
    font-family: "GothamProMedium";
    color: #fff;
}
nav ul li a:hover{
    color: #fecc00;
}
button, a.link{
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "GothamPro";
    background-color: #fecc00;
    width: 238px;
    height: 58px;
    border: 0;
    cursor: pointer;
    outline: none;
}
button:hover,  a.link:hover{
    background-color: #fff;
    border:1px solid #fecc00;
    color: #ed1c24;
}
a.link{
    text-decoration: none;
    padding:18px 54px;
}
.main-text{
    margin-right: 65px;
    position: relative;
}
.main-text:before{
    position: absolute;
    content: 'nacka';
    text-transform: uppercase;
    font-family: "GothamProMedium";
    font-size: 205px;
    opacity: 0.07;
    z-index: -1;
    top: -25px;
    left: -150px;
 }
.main-text h1{
    font-size: 48px;
    line-height: 48px;
    font-family: "GothamProBold";
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 152px;
    color: #262c3a;
}
.main-text h1>span{
    display: block;
    font-family: "GothamPro";
    font-size: 35px;
}
.main-text p{
    font-family: "GothamPro";
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    color: #262c3a;
    white-space: pre-line;
}
.slider-wrap{
    position: absolute;
    top: 0;
    left: 572px;
    width: 970px;
}
.owl-theme .owl-nav {
    margin-top: 0;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    bottom: 70px;
    left: -5px;
}
.owl-theme .owl-nav [class*="owl-"] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius:0;
}
.owl-prev{
    position: absolute;
    width: 65px;
    height: 65px;
    background: url(../images/arrow-left.jpg) 0 0 no-repeat!important;
    left: 0;
}
.owl-next{
    position: absolute;
    width: 65px;
    height: 65px;
    background: url(../images/arrow-right.jpg) 0 0 no-repeat!important;
    left: 65px;
}
.whychange{
    margin-top: 275px;
    background: url(../images/scroll-2-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.wrap-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.header{
    text-transform: uppercase;
    font-size: 64px;
    font-family: "GothamProBold";
    line-height: 85px;
    position: relative;
    display: inline-block;
}
.subheader{
    text-transform: uppercase;
    font-size: 36px;
    font-family: "GothamPro";
    position: relative;
    display: inline-block;
}
.header:before,
.subheader:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 70%;
    background-color: #006aa7;
    bottom: -8px;
    left: 15%;
}
.service-wrap{
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-item img{
    box-shadow: 21px 20px 27px 0 rgba(0, 0, 0, 0.32);
    margin-bottom: 30px;
}
.service-item{
    margin-bottom: 115px;
    width:calc(50% - 25px);
}
.service-item h3{
     text-transform: uppercase;
     font-size: 24px;
    font-family: "GothamProBold";
}
.service-item p{
    font-size: 18px;
    line-height: 24px;
    font-family: "GothamPro";
}
.price-button{
    text-align: center;
}
.price-button.service-list{
    justify-content: center;
}
.price-button.service-list button{
    margin-left: 50px;
}
.map{
    height: 395px;
}
.map iframe{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.content{
    padding-right: 48px;
}
.content h2{
    font: 400 36px "Akrobat";
    margin-bottom: 28px;
}
.content p{
    font: 400 18px/24px "Open Sans";
    margin-bottom: 35px;
}
footer{
    background-color: #f6f6f6;
}
footer .container{
    justify-content: space-between;
}
footer{
    padding:76px 0 35px 0;
}
footer p{
    position: relative;
    margin: 0 0 25px 25px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
}
.footer-logo img{
    margin-bottom: 40px;
}
.footer-logo a{
    font-size: 14px;
    font-family: "GothamPro";
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 15px;
}
.footer-logo p{
    font-size: 12px;
    font-family: "GothamPro";
    text-decoration: underline;
    display: inline-block;
    margin:0 0 20px 0;
    padding: 0;
}
.footer-contact{
    font-family: "GothamPro";
}
.foo-hours{
    margin-left: 26px;
}
.foo-phone{
    margin-top: 10px;
}
.foo-phone:before{
    position: absolute;
    content: '';
    width: 16px;
    height: 26px;
    top: -5px;
    left: -25px;
    background: url(../images/mobile-ico-footer.png) 0 0 no-repeat;
}
.foo-hours:before{
    position: absolute;
    content: '';
    width: 21px;
    height: 26px;
    top: 0;
    left: -29px;
    background: url(../images/clock-ico-footer.png) 0 0 no-repeat;
}
.foo-adrr:before{
    position: absolute;
    content: '';
    width: 16px;
    height: 21px;
    top: 0;
    left: -25px;
    background: url(../images/map-marker-ico-footer.png) 0 0 no-repeat;
}
a.fb{
    width: 23px;
    height: 23px;
    display: inline-block;
    background: url(../images/fb-ico-footer.png) 0 0 no-repeat;
}


.footer-menu li a{
    font:400 14px/36px "GothamProBold";
    text-transform: uppercase;
}
#footer-form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #006aa7;
    padding: 35px 40px;
}
#footer-form input, #footer-form textarea{
    width: 220px;
    height: 50px;
    color: #000;
    background-color:transparent;
    border:1px solid #000;
    margin-bottom: 20px;
    padding:0 15px;
}
#footer-form textarea{
    height: 72px;
    padding-top: 15px;
}
.footer-map {
    width: 420px;
    height: 290px;
}
.footer-map iframe{
    width: 100%;
    height: 100%;
}
.copyright{
    justify-content:space-between;
    margin-top: 45px;
    font:400 14px "Akrobat";
}
.copyright a{
    text-decoration: underline;
    font:400 14px "Akrobat";
}
.copyright img{
    max-height: 30px;
}
.inner-title{
    padding-top: 45px;
    padding-bottom: 90px;
}
.inner-title .wrap-header{
    margin-bottom: 25px;
}
.breadcrumbs{
    margin-bottom: 75px;
}
.breadcrumbs, .breadcrumbs a {
    font: 400 12px "Open Sans";
    text-transform: uppercase;
    text-align: center;
}
.breadcrumbs span{
    color: #006aa7;
 }
.about-content p, .serv-desc p{
    font: 400 18px/30px "Open Sans";
    text-align: justify;
}

.bottom-img{
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 41px 0 47px 0;
}
.bottom-img img{
    box-shadow: 21px 20px 27px 0 rgba(0, 0, 0, 0.32);
    max-width: 564px;
}
.serv-list-1,
.serv-list-2{
    padding-bottom: 115px;
}
.serv-list-1 h2{
    position: relative;
    font-size: 48px;
    text-transform: uppercase;
    font-family:"GothamProBold";
    margin:260px 0 250px 97px;
}
.serv-list-2 h2{
    position: relative;
    font-size: 48px;
    text-transform: uppercase;
    font-family:"GothamProBold";
    margin:260px 0 250px 97px;
    text-align: right;
}
.serv-list-1 h2:before{
    content: '';
    position: absolute;
    width: 1137px;
    height: 515px;
    background: url(../images/header-serv-1-bg.png) 0 0 no-repeat;
    z-index: -1;
    top: -211px;
    left: -403px;
 }
.serv-list-2 h2:before{
    content: '';
    position: absolute;
    width: 1120px;
    height: 515px;
    background: url(../images/header-serv-2-bg.png) 0 0 no-repeat;
    z-index: -1;
    top: -211px;
    right: -370px;
 }

.info{
    margin-left: 45px;
}
.contact-info .container{
    justify-content: space-between;
    padding:38px 0 45px 0;
    flex-wrap: wrap;
    align-items: center;
}
.contact-info p, .contact-info a{
    font:400 18px "Open Sans";
    position: relative;
}
.contact-info p:before, .contact-info a:before{
    content: '';
    position: absolute;
}
.contact-info a{
    color: #006aa7;
    text-transform: uppercase;
}
.contact-phone:before{
    width: 18px;
    height: 30px;
    left: -42px;
    top: -3px;
    background: url(../images/mobile-ico-contact.png) 0 0 no-repeat;
}
.contact-email:before{
    width: 25px;
    height: 19px;
    left: -46px;
    top: 3px;
    background: url(../images/email-ico-contact.png) 0 0 no-repeat;
}
.contact-adrr:before{
    width: 18px;
    height: 25px;
    left: -42px;
    top: -3px;
    background: url(../images/map-marker-ico-contact.png) 0 0 no-repeat;
}

.gal-img{
    justify-content:space-between;
    flex-wrap: wrap;
}
.gal-img img{
    object-fit: cover;
    box-shadow: 21px 20px 27px 0 rgba(0, 0, 0, 0.32);
}
.gal-img a{
    width:calc(50% - 25px);
    margin-bottom: 50px;
}
.gal-img img:hover{
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 10px 29px -13px #000;
    -moz-box-shadow: 0 10px 29px -13px #000;
    box-shadow: 0 10px 29px -13px #000;
}
.gallery-line{
    padding:15px 0 0 0;
}
.gallery-line h2 {
    font-size: 48px;
    font-family:"GothamProMedium";
    margin-bottom: 40px;
    margin-top: 10px;
    line-height: 62px;
}
.gallery-line h2::before {
  /*  left: -83px;*/
}
.blog-post{
    margin-bottom: 55px;
}
.post-desc{
    margin-left: 57px;
}
.post-desc h3{
    font:400 36px "GothamProBold";
    margin-bottom: 10px;
    color: #000;
}
.post-desc a{
    color: #e40000;
}
.post-desc span, .post-desc p{
    font:400 18px/30px "Open Sans";
}
.calculate{
    margin: 0 auto 50px auto;
    max-width: 786px;
    justify-content: center;
    align-items: center;
    padding:0 43px 24px 34px;
    position: relative;
}
.calculate:before{
    content: '';
    position: absolute;
    width: 1350px;
    height: 752px;
    top: 0;
    left: -330px;
    background: url(../images/price-map-bg.png) 0 0 no-repeat;
    z-index: -1;
}
.calc p{
    font: 400 24px "GothamPro";
}
.price-info{
    padding-bottom: 30px;
}
.price-info button:first-of-type{
    display: block;
    margin: 0 auto 105px ;
}
.price-info h2{
    text-align: center;
    font-size: 48px;
    font-family: "GothamProMedium";
    margin-bottom: 72px;
    line-height: 62px;
}

#amount{
    border: none;
    text-align: center;
    font: 400 24px "GothamProMedium";
    background-color: transparent;
    margin-top: 25px;
    height: 47px;
    width: 326px;
}
.ui-widget.ui-widget-content {
    border: none;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;: ;
    background: #fecc00;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
   background-image: linear-gradient(to top, #006aa7 0%, #02466d 100%);
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important;: ;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
    width: 32px;
    height: 32px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -11px;
}
.order{
    flex-direction: column;
    justify-content: center;
    margin-left: 82px;
}
.summa{
    font: 700 30px "GothamPro";
    text-align: center;
    margin-bottom: 20px;
}
.table-wrap{
    flex-wrap: wrap;
    justify-content: space-between;
}
.pricelist{
    width: calc(50% - 10px);
    border-collapse: collapse;
    margin-bottom: 20px;
}
.pricelist thead td{
    text-align: center;
    font: 400 30px "GothamPro";
    color: #fff;
    background-color: #006aa7;
}
.pricelist tbody td{
    font: 400 17px "Open Sans";
    padding-left: 20px;
}
.pricelist tfoot td{
    font: 400 17px "Open Sans";
    padding-left: 20px;
    padding-right: 100px;
}
.pricelist td{
    padding: 10px 0;
    border: 1px solid #bebebe;
    color: #000;
    text-align: left;
}
.pricelist tr:nth-child(even){
    background-color: #f1f1f1;
}
.worm-wrap, .worm-wrap-order{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1000;
}
.worm-wrap:before, .worm-wrap-order:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.8  ;
    z-index: -1;
}
.form-group{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-group input{
    width: calc(50% - 10px)!important;
}
#pop-up, #order{
    background-color: #fff;
    flex-direction: column;
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.29);
    padding:45px;
    position: relative;
    align-items: center;
}
#order{
    padding:15px 16px;
    max-width: 400px;
}
#pop-up input, #pop-up textarea, #pop-up select{
    width: 220px;
    height: 50px;
    color: #000;
    background-color:transparent;
    border:1px solid #000;
    margin-bottom: 20px;
    padding:0 15px;
}
#order input, #order textarea, #order select{
    width: 100%;
    height: 40px;
    color: #000;
    background-color:transparent;
    border:1px solid #000;
    margin-bottom: 15px;
    padding:0 15px;
}
#pop-up input[type="checkbox"], #order input[type="checkbox"]{
    margin: 0;
    width: unset;
    height: unset;
    margin-right: 10px;
}
#pop-up textarea, #order textarea{
    height: 72px;
    padding-top: 15px;
}
#pop-up h3, #order h3{
    font:400 30px "GothamProBold";
    text-transform: uppercase;
    text-align: center;
}
#pop-up p, #order p{
    font:400 18px "GothamPro";
    text-align: center;
}
label{
    font-family: "GothamPro";
}
.close{
    position: absolute;
    width: 22px;
    height: 22px;
    top: 13px;
    right: 13px;
    cursor: pointer;
    background: url(../images/close.png) 0 0 no-repeat;
}
.close:hover{
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.polisy-wrap{
    margin-top: 25px;
}
.blog-post-content p{
    font: 400 18px/30px "Open Sans";
}
.blog-post-img{
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blog-post-img, .blog-post-img span{
    position: relative;
}
.blog-post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-post-img p, .blog-post-img h2{
    position: absolute;
    color: #fff;
}
.blog-post-img h2{
    font:700 60px "GothamPro";
    text-transform: uppercase;
}
.date{
    top: calc(50% - 80px);
}
.blog-post-img span{
    width: 100%;
    height: 100%;
    display: block;
}
.blog-post-img span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.desc-none{
    display: none;
}
.mob-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: #fff;
    border-bottom:1px solid #ededed;
    z-index: 100;
}
.menu-button{
    position: absolute;
    width: 29px;
    height: 35px;
    top: 21px;
    right: 19px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-button span{
    width: 29px;
    height: 2px;
    background-color: #000;
    margin-bottom: 6px;
}
.menu-button span:last-child{
    margin-bottom: 8px;
}
.menu-button p{
    font: 700 12px/10px "GothamPro";
    margin: 0;
    letter-spacing: 1px;
}
.mob-header nav{
    display: none;
}
.mob-header .top-ico{
    height: 75px;
}
.close-menu{
    position: absolute;
    width: 22px;
    height: 22px;
    bottom: 23px;
   left:calc(50% - 11px);
    cursor: pointer;
    background: url(../images/close.png) 0 0 no-repeat;

}
.mob-header .top-ico a img {
    width: auto;
    height: 65px;
    margin-left: calc(50% - 130px);
}
.mob-header nav{
    position: relative;
    background-color: #fff;
    padding: 30px;
    margin-top: -7px;
    box-shadow: 0 7px 9px -4px #999;
    z-index: 200;
}
.mob-header nav ul li {
    padding: 15px 0;
}
.mob-header nav ul li a {
    position: relative;
}
.mob-header nav ul li a:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #006aa7;
    bottom: -6px;
    left: 0;
}
.mob-header nav ul li:hover  a{
    text-decoration: none;
}
.mob-header nav ul li:hover  a:before{
    width: 100%;
}
.footer-contact img{
    width: 144px;
    height: auto;
}
.contact-map {
    flex-grow: 1;
    height: 310px;
    margin-left: 50px;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}
.blog-post img{
    display: block;
    width: 100%;
    height: auto;
}
/* *************** MOBILE **************** */

@media only screen and (max-width:768px){
    body{
        overflow: auto!important;
    }
    .desc-none{
        display: block;
    }

    .container{
        width: 100%;
        padding:0 10px;
    }
    .mb-none{
        display: none!important;
    }

    .owl-dots, .dots {
        bottom: calc(100% - 400px);
        left: 16px;
    }
    .shema {
        padding-top: 0;
    }
    .shema .container{
        flex-direction: column;
        padding: 0 16px;
    }
    .shema h1, .serv-wrap h2, .gallery-line h2, .price-info h2 {
        font: 400 27px "GothamProBold", sans-serif;
        margin-bottom: 20px;
    }
    .shema h1::before, .serv-wrap h2::before, .gallery-line h2::before, .price-info h2::before {
        font: 400 42px "GothamProBold", sans-serif;
        top: -25px;
    }
    .stage {
        margin-right: 0;
    }
    .stage ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 90px;
    }
    .stage ul::after {
        width: calc(100% - 32px);
        height: 1px;
        top: 32px;
        right: unset;
        z-index: -1;
        left: 10px;
    }
    .stage li {
        cursor: pointer;
        font: 700 12px "Open Sans";
        color: #999;
        margin-bottom: 0;
        text-align: center;
        position: relative;
    }
    .stage li::before {
        top: 22px;
        right: 20px;
        text-align: center;
    }
    .stage li::after {
        top: 27px;
        right: 25px;
    }
    footer .container {
        flex-direction: column;
        align-items: center;
    }
    .footer-contact img {
        display: block;
        margin: 0 auto;
    }
    .footer-map {
        width: 100%;
        margin-top: 55px;
    }
    .inner-title {
        padding: 90px 16px 10px 16px;
        margin-bottom: 0;
    }
    .about-content p, .serv-desc p {
        font: 400 16px/30px "Open Sans";
        padding: 0 16px;
    }
    .top-img img {
        margin: 0 0 25px 32px;
    }
    .serv-wrap h2 {
        margin-bottom: 0;
    }
    .serv-desc h3 {
        font: 400 23px/28px "GothamProBold";
        padding: 0 16px;
    }
    .serv-img {
        order: -1;
    }
    .serv-img img{
        width: 100%;
    }
    .serv-list-2, .serv-list-3 {
        padding: 0;
    }
    .gal-img img, .blog-post img {
        width: 100%;
    }
    .blog-post {
        flex-direction: column;
    }
    .post-desc {
        margin-left: 0;
        padding: 0 16px;
    }
    .post-desc h3 {
        font: 400 27px "GothamPro";
        margin-top: 25px;
    }
    .blog-post-img img{
        width: 100vw;
        min-height: 300px;
        object-fit: cover;
    }
    .blog-post-img h2 {
        font: 700 38px "GothamProBold";
    }
    .blog-post-content p {
        font: 400 16px/30px "Open Sans";
        padding: 0 16px;
    }
    .calculate {
        margin: 0 auto 53px auto;
        padding:3px 0 16px;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .price-info h2 {
        margin:25px 0;
    }
    #amount{
        width: 100%;
    }
    .summa {
        margin:12px 0;
    }
    .table-wrap {
        justify-content: center;
        flex-direction: column;
    }
    .pricelist, .contact-map, .contact-map iframe{
        width: 100%;
    }
    .pricelist tbody td {
        font: 400 14px "Open Sans";
        padding-left: 10px;
    }
    .contact-map {
        margin-left: 0;
    }
    .post-desc span, .post-desc p {
        font: 400 16px/25px "Open Sans";
    }
    .blog-post-img .date {
        display: none;
    }
    nav ul li a {
        color: #000;
    }
    .top-slider .container{
        flex-wrap: wrap;
    }
    .slider-wrap {
        position: relative;
        top: 85px;
        left: 0;
        width: 100%;
        height: 300px;
        order: -1;
    }
    .slider-wrap img{
        object-fit: cover;
    }
    .main-text {
        margin-right: 0;
    }
    .main-text h1 {
        font-size: 47px;
        line-height: 50px;
        text-align: center;
        margin-top: 0;
        white-space: unset;
    }

    .main-text:before {
        position: absolute;
        content: 'nacka';
        text-transform: uppercase;
        font-family: "GothamProMedium";
        font-size: 85px;
        opacity: 0.07;
        z-index: -1;
        top: -25px;
        left: 0;
    }
    .main-text h1 > span {
        font-size: 24px;
        white-space: pre-line;
    }
    .main-text p {
        font-size: 16px;
        line-height: 24px;
        white-space: pre-line;
        text-align: center;
    }
    .main-text button {
        display: block;
        margin: 0 auto;
    }
    .whychange {
        margin-top: 60px;
        background: none;
        padding-bottom: 60px;
    }
    .wrap-header {
        margin-bottom: 50px;
    }
    .header {
        font-size: 33px;
        line-height: 33px;
        text-decoration: underline;
        text-decoration-color:#006aa7;
        text-align: center;
    }
    .subheader {
        font-size: 17px;
        text-decoration: underline;
        text-decoration-color:#006aa7;
    }
    .header:before, .subheader:before {
        content: none;
    }
    .service-item {
        margin-bottom: 30px;
        width: 100%;
    }
    .service-item img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .service-item h3 {
        font-size: 18px;
    }
    .service-item p {
        font-size: 14px;
    }

    #pop-up input, #pop-up textarea, #pop-up select {
        margin-bottom: 10px;
    }
    #pop-up h3, #order h3{
        font:400 25px "GothamProBold";
    }
    #pop-up p, #order p{
        font:400 14px "GothamPro";
    }
    .breadcrumbs {
        margin-bottom: 15px;
    }
    .serv-list-1 h2:before,
    .serv-list-2 h2:before {
        content: none;
    }
    .serv-list-1, .serv-list-2 {
        padding-bottom: 50px;
    }
    .serv-list-1 h2,
    .serv-list-2 h2{
        margin: 20px 0;
        font-size: 25px;
        line-height: 25px;
        text-decoration: underline;
        text-decoration-color:#006aa7;
        text-align: center;
    }
    .price-button.service-list{
        flex-wrap: wrap;
    }
    .price-button.service-list>*{
        flex-grow: 1;
    }
    .price-button.service-list button {
        margin-left: 0;
        margin-top: 20px;
    }
    .gal-img a {
        width: calc(100%/3 - 5px);
        margin-bottom: 30px;
    }
    .gal-img a>img{
        max-width: 100%;
        display: block;
        height: auto;
    }
    .order {
        margin-left: 0;
    }
    .info {
        margin-left: 68px;
    }
    .contact-info .container {
        padding: 0 0 45px 0;
    }
}