@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i);

* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input:focus,
textarea:focus,
select:focus,
input,
textarea,
select {
    outline-offset: 0;
    outline: none;
}
:focus {
    outline: none;
}
body{
    font:400 18px 'Open Sans', sans-serif;
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
header  {
    padding: 18px 0 25px;
    box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.2);
}

header .container{
    justify-content: space-between;
    align-items: center;
}
.button-top{
    position: relative;
    font-size: 16px;
    padding-left: 36px;
    width: 271px;
    height: 71px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ec4c02 url(../images/mobile.png) 23px 50% no-repeat;
    box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.2);
}
.button-top:hover{
    text-decoration: none;
    box-shadow:unset;
}
.main{
    padding: 97px 0 108px;
    background: url(../images/marshrutka.jpg) 90% 22px no-repeat;
}
.main h1{
    font-size: 29px;
    text-transform: uppercase;
    color: #ec4c02;
}
.main h1>span{
    font-size: 61px;
    color: #000;
    font-weight: 600;
    display: block;
}
.main-content{
    max-width: 433px;

}
.subheader{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 106px;
}
.qw>*{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    font-size: 14px;
}
.qw a{
    color: #fff;
    background-color:#ec4c02;
}
.qw p{
    color: #fff;
    position: relative;
    text-align: left;
}
.qw p:before{
    position: absolute;
    content: '';
    width: 5000px;
    height: 44px;
    background-color:#192434;
    top: 0;
    right: 0;
    z-index: -1;
}
/*********************** MOBILE ***************************/

@media only screen and (max-width: 768px){

    .mobile-none {
        display: none!important;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 15px;
    }

}