@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input:focus,
textarea:focus,
select:focus,
input,
textarea,
select {
    outline-offset: 0;
    outline: none;
}
:focus {
    outline: none;
}
body{
    font:400 14px 'Open Sans', sans-serif;
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
    position: relative;
}
h2{
    font-size: 44px;
    font-weight: 600;
    display: inline-block;
}
h2:before{
    position: absolute;
    content: '';
    width:calc(100% + 32px);
    height: 28px;
    background-color: #ec4c02;
    opacity:0.14;
    top: 32px;
    left: -16px;
    z-index: -1;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}

.container {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
header  {
    padding: 18px 0 25px;
    box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.2);
}

header .container{
    justify-content: space-between;
    align-items: center;
}
.button-top{
    position: relative;
    font-size: 16px;
    padding-left: 36px;
    width: 271px;
    height: 71px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ec4c02 url(../images/mobile.png) 23px 50% no-repeat;
    box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.2);
}
.button-top:hover{
    text-decoration: none;
    box-shadow:unset;
}
.main{
    padding: 97px 0 108px;
    background: url(../images/marshrutka-1.jpg) 50% -25% no-repeat;
}
.main h1{
    font-size: 29px;
    text-transform: uppercase;
    color: #ec4c02;
}
.main h1>span{
    font-size: 61px;
    color: #000;
    font-weight: 600;
    display: block;
}
.main-content{
    max-width: 433px;
    position: relative;
}
.subheader{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 106px;
}
.qw>*{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    font-size: 14px;
}
.qw a{
    color: #fff;
    background-color:#ec4c02;
}
.qw p{
    color: #fff;
    position: relative;
    text-align: left;
    z-index: 0;
}
.qw p:before{
    position: absolute;
    content: '';
    width: 5000px;
    height: 44px;
    background-color:#192434;
    top: 0;
    right: 0;
    z-index: -1;
}
nav{
    background: url(../images/menu-bg.png) 50% 50% no-repeat;
    padding: 14px 0;
}
nav.inner{
    background: #fff;
    padding: 25px 40px 30px 50px;
    box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.21);
    position: absolute;
    left: 0;
    top: 40px;
}
nav.inner li{
    background: #fff;
    line-height: 48px;
}
nav ul{
    justify-content: space-between;
    align-items: center;
}
nav ul li a{
    font-size: 14px;
    font-family:"Roboto";
}
nav ul li a:hover,
nav ul li.active a{
     color:#ec4c02;
    text-decoration: none;
 }
.inner-top-header{
    margin-left: 300px;
    padding-top: 87px;
    padding-bottom: 125px;
    color: #fff;
}
.B_crumbBox{
    font-size: 12px;
    text-transform: lowercase;
    margin-bottom: 17px;
    display: block;
}
.B_currentCrumb{
    color: #8e8e8e;
}
.inner-top-header h1{
    font-size: 63px;
    text-transform: uppercase;
    font-weight: 600;
}
.inner-top-header h1>span{
    font-size: 16px;
    display: block;
    text-transform: initial;
}
.content{
    padding-top: 85px;
}
.content h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.content h2:before{
    content: none ;
}
.content p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 43px;
}
.buttons,
.inner-content{
    box-shadow: 0 50px 84px 0 #b8b8b8;
}
.buttons-wrap{
    margin-top: 19px;
    justify-content:space-between;
}
.buttons-wrap.inner{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 190px;
    margin-right: 53px;
    padding-bottom: 50px;
}
.buttons-wrap>*{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#192434;
    color: #fff;
    width: calc(100%/3 - 10px);
    height: auto;
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom: 3px solid #fff449;
    position: relative;
    margin-bottom: 20px;
}
.buttons-wrap.inner>*{
    width: 247px;
    text-align: center;
}
.buttons-wrap>div>img{
    margin-bottom: 26px;
    display: block;
    max-width: 100%;
    height: auto;
    width: -moz-fit-content;
}
.buttons-wrap>div:hover{
    background-color: #b8b8b8;
    color: #192434;
}
.buttons-wrap>div:hover img{
    filter: invert(100%);
}
.buttons-wrap>div>a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.news{
    padding-top: 70px;
}
.main-slider{
    margin-top: 55px;
}
.news-item .date{
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
}
.news-item h3,
.more{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 5px;
}
.news-item p{
    line-height: 24px;
    color: #6e6e6e;
}
.owl-nav {
    margin-top: 95px;
    display: flex;
    justify-content:center;
}
.owl-prev,
.owl-next{
    width: 122px;
    height: 55px;
    cursor: pointer;
    position: relative;
}
.owl-prev{
    background-color: #192434;
}
.owl-prev:hover{
    background-color: #2b3647;
}
.owl-next{
    background-color: #2b3647;
}
.owl-next:hover{
    background-color: #192434;
}
.owl-prev:before,
.owl-next:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
}
.owl-next:before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    left: calc(50% - 10px);
    top:calc(50% - 10px);
}
.owl-prev:before{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    left: calc(50% - 10px);
    top:calc(50% - 10px);
}
.disqus{
    padding-top: 105px;
    padding-bottom: 117px;
}
.disqus .header-wrap{
    text-align: center;
    margin-bottom: 90px;
}
footer {
    background-color:#192434;
    color: #fff;
    padding-top: 87px;
    padding-bottom: 107px;
}
footer .container{
    justify-content: space-between;
}
.footer-menu ul li{
    line-height: 30px;
    white-space: nowrap;
}
.footer-rekv{
    white-space: nowrap;
    color: #b7b7b7;
    font-size: 12px;
    line-height: 18px;
}
.footer-address{
    line-height: 30px;
    white-space: nowrap;
}
.footer-address li:nth-child(5){
    color: #b7b7b7;
}
.footer-copyright p{
    font-size: 12px;
    line-height: 18px;
    white-space:pre-line;
    margin-bottom: 45px;
}
.footer-copyright a{
    font-size: 12px;
    line-height: 18px;
}
.footer-copyright a>span{
    color: #fff449;
}
.sel-wrap{
    align-items: center;
    margin-bottom: 50px;
}
.sel-wrap span{
    font-size: 30px;
    font-weight: 600;
    white-space: nowrap;
}
.shema-select{
    overflow: hidden;
    background: #fff url(../images/select-arrow.png) 94% 50% no-repeat;
    width: 291px;
    margin-left: 87px;
    border: 2px solid;
}
#map{
    width: 341px;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    padding-left: 40px;
    background: transparent;
    border: none;
}
/*********************** MOBILE ***************************/

@media only screen and (max-width: 768px){

    .mobile-none {
        display: none!important;
    }
    .container {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0 15px;
    }

}