@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);
@font-face {
    font-family: "BanderaProBold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BanderaPro-Bold.otf");
}
@font-face {
    font-family: "BanderaPro";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BanderaPro.otf");
}
@font-face {
    font-family: 'Akrobat Black';
    font-style: normal;
    font-weight: normal;
    src: local('Akrobat Black'),
    url('../fonts/Akrobat-Black.woff') format('woff'),
    url("../fonts/Akrobat-Black.otf") format("truetype");
}
@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: normal;
    src: local('Akrobat'),
    url('../fonts/Akrobat.woff') format('woff'),
    url("../fonts/Akrobat.otf") format("truetype");
}
@font-face {
    font-family: 'Akrobat Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Akrobat Bold'), local('Akrobat-Bold'),
    url('../fonts/Akrobatbold.woff2') format('woff2'),
    url('../fonts/Akrobatbold.woff') format('woff'),
    url('../fonts/Akrobatbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
* {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
:after,
:before,
:hover{
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body{
    font:400 14px 'Open Sans', sans-serif;
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    font-family: 'Akrobat Bold';

}
h1>span{
    font-size: 72px;
    display: block;
    font-family: 'Akrobat Black';
}
h2{
    font-size: 48px;
    display: block;
    font-family: 'Akrobat Black';
    text-transform: uppercase;
    position: relative;
}
h2:after{
    content: '';
    position: absolute;
    height: 3px;
    width: 120px;
    background-color: #e41e2a;
    top: 78px;
    left: 0;

}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.flex{
    display: -webkit-flex!important;
    display: flex!important;
}
.container {
    width: 1170px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
.delay-1{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.delay-2{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.delay-3{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.delay-4{
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.delay-5{
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
}
.delay-6{
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.delay-7{
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.delay-8{
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
header .container{
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 10px;
    background-color: #fff;
}
nav, nav>.container {
    background-color: #f7f7f7;
}
nav .container{
    padding: 35px 0;
}
nav a{
    text-transform: uppercase;
    font-weight: 600;
}
nav li{
    margin-right: 78px;
    background-color: #f7f7f7;
}
.has-sub:after{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    right: -15px;
    top: 5px;
    border-right: 1px solid #e41e2a;
    border-bottom:1px solid #e41e2a;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.has-sub:hover:after{
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.has-sub{
    text-transform: uppercase;
    font-weight: 600;
    color: #e41e2a;
    cursor: pointer;
    position: relative;
}
.has-sub:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
ul.sub-menu {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    z-index: 10;
    box-shadow: 4px 45px 44px 2px rgba(0, 0, 0, 0.3);
}
ul.sub-menu a{
    color: #000;
    font-size: 12px;
}
ul.sub-menu li{
    background-color: #f7f7f7;
    width: 100%;
}
ul.sub-menu li:hover{
    background-color: #fff;
}
ul.sub-menu li:first-of-type a{
}
ul.sub-menu li a{
    margin: 10px;
    display: block;
}
ul.sub-menu li a:hover{
    color: #e42626;
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
    text-decoration: none;
}
.top-contact{
    margin-right: 25px;
}
.top-contact a {
    font-size: 18px;
    font-weight: 800;
}
.top-contact p{
    position: relative;
}
.top-contact p:first-of-type:before{
    content: '';
    position: absolute;
    top: 5px;
    left: -27px;
    width: 18px;
    height: 18px;
    background: url(../images/phone-ico-min.png) 0 0 no-repeat;
}
.top-contact p:last-of-type:before{
    content: '';
    position: absolute;
    top: 8px;
    left: -27px;
    width: 12px;
    height: 20px;
    background: url(../images/map-marker-ico-min.png) 0 0 no-repeat;
}
.top-contact p:last-of-type{
    white-space: pre-line;
    margin-top: 10px;
}
.order{
    width: 265px;
    height: 59px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    padding-left: 22px;
    background:#e42626 url(../images/calc-ico-min.png) 22px 50% no-repeat;
    box-shadow: 0 3px 4.95px 0.05px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.order.shema{
    width: 212px;
    height: 58px;
    background-image: none;
}
.order.vopros{
    width: 205px;
    height: 56px;
    background-image: none;
}
.order:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #fff;
    top: 100%;
    left: 0;
    opacity:0;

}
.order:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #fff;
    top: -50%;
    left: 0;
    opacity:0;
}
.order:hover:before{
    top: 50%;
    z-index: -1;
    opacity:1;
}
.order:hover:after{
    top: 0;
    z-index: -1;
    opacity: 1;
}
.order:hover{
    color: #e42626;
    z-index: 1;
    box-shadow: 0 3px 4.95px 0.05px rgba(204, 51, 51, 0.3);
}
.main{
    width: 100%;
    height: auto;
    padding-top: 86px;
    background: #ededed url(../images/main-bg-min.jpg) 50% -3px no-repeat;
    position: relative;
}
.main h1{
    margin-bottom: 8px;
}
.main p{
    white-space: pre-line;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 28px;
}
.preim-wpap {
    justify-content: space-between;
    margin-top: 130px;
    flex-wrap: wrap;
}
.preim-item{
    width:calc(100%/3 - 15px);
    height: 280px;
    position: relative;
    overflow: hidden;
}
.static{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: #e42626;
    color: #fff;
    font-family: "BanderaPro";
    text-transform: uppercase;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}
.hover h3{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color: #000;
    font-family: "BanderaPro";
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.preim-item p{
    line-height: 24px;
    margin-top: 34px;
}
.preim-item:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
}
.preim-item:hover .static{
    height: 0;
    opacity: 0;
}
.preim-item:hover .hover{
    opacity: 1;
}
.preim-item:hover:before,
.preim-item:hover:after{
    width: 100%;
}
.preim-item:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
}
.preim-item .hover {
    width: 100%;
    height: 100%;
    /*    padding-top: 25px;*/
    white-space: pre-line;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.preim-item .hover p{
    font-size: 16px;
    font-family:"BanderaPro";
    line-height: 18px;
}
.preim-item .hover h3:before{
    content: '';
    position: absolute;
    width: 122px;
    height: 3px;
    background-color: #e42626;
    bottom: -32px;

}

.preim-item:nth-child(1) .hover{
    background: url(../images/preim-hover-bg-1.jpg) 0 0 no-repeat;
    background-size: cover;
}
.preim-item:nth-child(2) .hover{
    background: url(../images/preim-hover-bg-2.jpg) 0 0 no-repeat;
    background-size: cover;
}
.preim-item:nth-child(3) .hover{
    background: url(../images/preim-hover-bg-3.jpg) 0 0 no-repeat;
    background-size: cover;
}
.catalog{
    padding-top: 80px;
    padding-bottom: 125px;
    background: url(../images/cat-bg-min.png) 0 -105px no-repeat;
}
.catalog-wrap{
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 65px;
}
.catalog-item{
    width:calc(100%/3 - 15px);
    margin-bottom: 20px;
    position: relative;
}
.catalog-item:hover .hover-content{
    opacity: 1;
}
.catalog-item img{
    width: 100%;
    height: auto;
    display: block;
}
.catalog-item p{
    position: absolute;
    width: 100%;
    height: 56px;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family:"Akrobat Black";
    background-color: rgba(0,0,0,0.73);
    text-align: center;
    padding:8px 0;
    display: flex;
    align-items:center;
    justify-content:center;
}
.catalog-item:last-child{
    margin: 0 auto;
}
.hover-content{
    position: absolute;
    opacity:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(0,0,0,0.73);
}
.howworks{
    background-color: #fff;
    padding-top: 62px;
    padding-bottom: 150px;
}
.shema-wrap{
    width: 732px;
    height: 396px;
    margin: 95px auto 0;
    background: url(../images/shema.png) 0 0 no-repeat;
    position: relative;
}
[class^="step-"] span{
    font-family: "BanderaProBold";
    font-style: italic;
    font-size: 60px;
    color: #fff;
}
[class^="step-"]{
    position: absolute;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    font-size: 18px;
    white-space: pre-line;
    text-align: center;
}
[class^="step-"] p{
    margin-top: 15px;
    margin-bottom: 14px;
}
.step-1{
    top: 12px;
    left: -60px;
}
.step-2{
    top: 12px;
    left: 260px;
}
.step-3{
    top: 12px;
    right: -38px;
}
.step-4{
    top: 310px;
    left: -93px;
}
.step-5{
    top: 310px;
    left: 214px;
}
.step-6{
    top: 310px;
    right: -60px;
}
.queestion{
    width: 100%;
    background: url(../images/q-bg-min.jpg) 50% 50% no-repeat;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 72px;
}
.queestion h3{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}
.footer-logo img{
    max-width: 241px;
}
footer .container{
    background-color: #fff;
    position: relative;
    top: -50px;
    padding-top: 50px;
    justify-content: space-between;
}
footer .container:last-child{
    align-items: flex-end;
}
footer h3{
    font-size: 18px;
    font-family: "Akrobat Black";
    position: relative;
    margin-bottom: 35px;
}
footer h3:before{
    content: '';
    position: absolute;
    height: 1px;
    width: 31px;
    background-color: #e42626;
    bottom: -8px;
    left: 0;
}
footer li a{
    font-size: 16px;
    font-family: "Akrobat";
}
footer li{
    margin-bottom: 7px;
}
footer li:last-of-type{
    margin-bottom: 0;
}
.footer-logo{
    margin-top: 61px;
}
hr{
    height: 100%;
}
.top-contact.footer a{
    font-size: 24px;
}
.politic{
    font-size: 12px;
}
.politic a{
    font-weight: 600;
    text-decoration: underline;
}
.hamburger{
    display: none;
}
.desc-none{
    display: none;
}
.mob-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.95);
    color: #fff;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-align: center;
}
.modal-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.81);
    justify-content:center;
    align-items:center;
    display: none;
}
.form-img img{
    display: block;
    height: auto;
}
#zakaz {
    display: flex;
    flex-direction:column;
    align-items:center;
    padding-left: 52px;
    padding-right: 43px;
}
#zakaz h3{
    font-size: 47px;
    font-family:"Akrobat Bold";
    text-transform: uppercase;
    margin-top: 67px;
    margin-bottom: 28px;
    line-height: 60px;
}
#zakaz h3>span{
    font-size: 61px;
     display: block;
     font-family:"Akrobat Black";
}
#zakaz input{
    width: 100%;
    height: 68px;
    border:1px solid #000;
    margin-bottom: 17px;
    text-align: center;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    max-width: 383px;
}
.form-wrap{
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.35);
    opacity: 0;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 27px;
    height: 27px;
    background: url(../images/close-form.png) 0 0 no-repeat;
    cursor: pointer;
}
#zakaz small{
    white-space: pre-line;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;

}
#zakaz button{
    margin-bottom: 26px;
}

/*********************** MOBILE ***************************/

@media only screen and (max-width: 768px){
    .mobile-none {
        display: none!important;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding:0;
        overflow: hidden;
    }
    .hamburger{
        display: inline-block;
        position: fixed;
        top: 23px;
        right: 28px;
        padding: 0;
        z-index: 100;
    }
    .hamburger-box {
        width: 25px;
        height: 14px;
        display: inline-block;
        position: relative;
    }

    .active{
        z-index: 99;
        width: 100%;
        opacity:1;
    }
    .mob-menu li{
        font-size: 18px;
        font-family:"Akrobat Bold";
        margin-bottom: 23px;
    }
    .is-active .hamburger-inner,
    .is-active .hamburger-inner:before,
    .is-active .hamburger-inner::after {
        background-color: #fff;
    }
    .desc-none{
        display: unset;
    }
    .logo img{
        max-width: 206px;
        margin-left: 26px;
    }
    header {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    header .container {
        background-color: transparent;
    }
    h1 {
        font-size: 31px;
        line-height: 36px;
        text-align: center;
    }
    h1 > span {
        font-size: 31px;
    }
    .main h1 {
        margin-bottom: 18px;
    }
    .order {
        width: 218px;
        height: 50px;
        border: none;
        margin: 0 auto;
        display: block;
        background: #e42626 url(../images/calc-ico-min.png) 10px 50% no-repeat;
        font-size: 12px;
    }
    .main {
        background: #ededed url(../images/mobile-bg.jpg) 100% 0 no-repeat;
        padding-top: 114px;
        background-size: contain;
    }
    .static{
        display: none;
    }
    .preim-wpap {
        margin-top: 66px;
    }
    .preim-item {
        width: 100%;
        height: auto;
    }
    .hover h3 {
        display: flex;
        flex-direction: column;
        align-items: normal;
        text-align: left;
        font-size: 16px;
    }
    .preim-item .hover {
        padding-top: unset;
        text-align: left;
        padding-left: 23px;
        padding-right: 5px;
    }
    .main p.sect{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 42px;
        padding: 0 30px;
    }
    .main p {
        text-align: left;
        white-space: unset;
        line-height: 24px;
        font-size: 18px;
        margin-bottom: 10px;
        padding: 0;
        margin-top: 20px;
    }
    .preim-item .hover h3::before {
        width: 51px;
        bottom: -20px;
    }
    .catalog {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    h2 {
        font-size: 18px;
        padding-left: 15px;
    }
    h2:after {
        width: 42px;
        top: 24px;
        left: 16px;
    }
    .catalog-wrap {
        margin-top: 28px;
    }
    .catalog-item {
        width: 100%;
        margin-bottom: 0;
    }
    .catalog-item p {
        font-size: 14px;
        padding: 8px 20px;
    }
    .shema-wrap {
        width: 100%;
        height: auto;
        margin: 40px auto 0;
        background: none;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .howworks {
        background-color: #fff;
        padding-top: 0;
        padding-bottom: 0;
    }
    [class^="step-"] {
        position:relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        white-space: pre-line;
        text-align: center;
        top: unset;
        left: unset;
        right: unset;
        margin-bottom: 35px;
    }
    [class^="step-"] span {
        font-family: "BanderaProBold";
        font-style: italic;
        font-size: 30px;
        color: #fff;
        width: 50px;
        height: 50px;
        background-color: #585858;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 6px;
        padding-right: 6px;
        position: relative;
    }
    .step-1>span:before{
        content: none!important;
    }
    .step-1{
        margin-bottom: 50px!important;
    }
    [class^="step-"] span:before{
        content: '';
        position: absolute;
        width: 5px;
        height: 39px;
        top: -42px;
        left: calc(50% - 2px);
        background: url(../images/shema-line.png) 0 0 no-repeat;
    }
    .queestion {
        padding-top: 45px;
        padding-bottom: 55px;
    }
    .queestion h3 {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 30px;
    }
    footer .container {
        top: 0;
        flex-wrap: wrap;
        padding: 60px 15px 50px 15px;
    }
    footer .container:last-of-type {
        top: 0;
        flex-wrap: wrap;
        padding: 0 15px 50px;
    }
    .footer-logo {
        margin-top: 0;
        order: -1;
        padding-left: 35px;
        margin-bottom: 10px;
    }
    .top-contact {
        margin-right: 0;
        order: -1;
        padding-left: 35px;
        margin-bottom: 33px;
    }
    hr{
        display: none;
    }
    .politic {
        margin-bottom: 20px;
    }
    .salut{
        width: 100%;
    }
    .salut img{
        display: block;
        margin: 0 auto;
    }
    #zakaz {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    #zakaz h3 {
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 28px;
        line-height: 33px;
    }
    #zakaz h3 > span {
        font-size: 40px;
    }
    #zakaz input {
        height: 47px;
        margin-bottom: 19px;
    }
    #zakaz small {
        white-space: normal;
        text-align: center;
        font-size: 10px;
        font-weight: 600;
        line-height: 13px;
        padding-bottom: 10px;
    }
}